[2017-06-02 16:26] #139 closed

[2017-06-02 16:28] #46 closed

[2017-06-02 16:29] Dwells7583 commented on #167
@robgpeak  What browser, what OS?

[2017-06-02 16:36] robgpeak commented on #167
Chrome and Firefox in iOS 10.10.3 Yosemite and also on Morgan's machine in Chrome v.58.0.3 and her iOS is 10.11.3 El Capitan

I don't think you will be able to replicate it because you you don't have any "completed shopping trips"  Meaning, we are talking about just the CVS purchase that I had of $13.99 which resulted in the issuance of 28 points.  That information IS showing up in /trips, just no

[2017-06-02 16:37] robgpeak commented on #167
log in with robg@peakmarketing.com and pw: 6TzY@7bgx and you can see it, or not see it:)

[2017-06-02 16:39] #57 closed

[2017-06-02 16:39] #89 closed

[2017-06-02 16:40] #54 closed

[2017-06-02 16:42] #16 closed

[2017-06-02 16:43] #133 closed

[2017-06-02 16:59] robgpeak commented on #45
Is it possible to have a thin gray line separate the different sections in the footer when it show up in mobile.  As per the attached mock up as an example.

![uploads/899544f1-00f3-4531-aa7d-99fd4fd6d00e/Screen Shot 2017-06-02 at 12.55.08 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F899544f1-00f3-4531-aa7d-99fd4fd6d00e%2FScreen+Shot+2017-06-02+at+12.55.08+PM.png)

[2017-06-02 17:05] Dwells7583 commented on #167
@cgladue can you add some completed shopping trips in my account so i can see it locally to test this issue? I cannot log into robs account on my local machine.

[2017-06-02 17:05] Dwells7583 commented on #167
the derek.test@searlesgraphics.com

[2017-06-02 17:10] cgladue commented on #167
how about now,

[2017-06-02 17:21] robgpeak commented on #45
@ChrisASearles Shit, I did it again.  I posted a comment to an issue that was in review, and it was not assigned to anyone, so I suppose it is not showing up on anyone's radar.

[2017-06-02 17:31] Dwells7583 commented on #167
@robgpeak @cgladue My latest commit has the fix. Thanks.

[2017-06-02 17:34] #134 closed

[2017-06-02 17:34] #120 closed

[2017-06-02 17:35] #22 closed

[2017-06-02 17:35] #82 closed

[2017-06-02 17:39] cgladue commented on #167
@Dwells7583 @robgpeak changes published

[2017-06-02 17:46] #68 closed

[2017-06-02 17:48] #167 closed

[2017-06-02 17:57] #116 closed

[2017-06-02 17:59] #67 closed

[2017-06-02 17:59] #115 closed

[2017-06-02 18:12] #108 closed

[2017-06-02 18:14] #107 closed

[2017-06-02 18:18] #29 closed

[2017-06-02 18:19] #150 closed

[2017-06-02 18:19] #69 closed

[2017-06-02 18:22] #60 closed

[2017-06-02 18:23] #5 closed

[2017-06-02 18:23] #42 closed

[2017-06-02 18:25] #90 closed

[2017-06-02 18:27] #17 closed

[2017-06-02 18:28] #85 closed

[2017-06-02 18:29] #94 closed

[2017-06-02 18:35] robgpeak commented on #65
@cgladue before I close this, I know we spoke about adding the "all" check box feature, and the ability to select multiple records (rows), without having to hold Shift and/or Control...  Yeah or Nay?

[2017-06-02 18:43] #153 closed

[2017-06-02 18:48] robgpeak opened #174 "Adding Advertiser Name and "x points/$" under display ads."
@ChrisASearles This (below) was in #153, but I've since closed that one and will start this new one.

I think we need to include a line of text under the ad that mentioned the advertiser's name, and the "x points/$" under the display ads. And in the event that there are multiple image ads on the same page, we should put in a horizontal line as a separator.

![uploads/f604ee1a-3c0c-4512-932c-5a97cb

[2017-06-02 18:49] cgladue commented on #65
yea what was the link to the template page that showed that functionality again ?

[2017-06-02 18:54] robgpeak commented on #65
It's in this same thread from a post I made two days ago...

Like for example the table at the bottom right hand side of this page http://keenthemes.com/preview/metronic/theme/admin_1/table_bootstrap.html

[2017-06-02 18:58] #45 closed

[2017-06-02 19:01] robgpeak opened #175 "Adjustment to footer layout in mobile view"
Is it possible to have a thin gray line separate the different sections in the footer when it show up in mobile, and add a little space as per the attached mock up as an example.

![uploads/a159151b-8c88-48e3-bbde-dcc9f7aa9fde/Screen Shot 2017-06-02 at 12.55.08 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa159151b-8c88-48e3-bbde-dcc9f7aa9fde%2FScreen+Shot+2017-06-02+at+12.

[2017-06-02 20:44] cgladue commented on #65
Look at it now rob, ... the example you gave me tho does not have the shift-Click functionality but it does have the select all deselect all and you can then click individually.

[2017-06-02 20:55] robgpeak commented on #65
Cool.  Much better this way.  Instead of starting a whole new issue, can you please change the number of entries in the dropdown on the page https://shop.complinks.co/admindashboard/advertisers/links to "20, 50, 100, all"

[2017-06-02 20:55] #65 closed

[2017-06-02 21:05] cgladue commented on #65
All set, changed

[2017-06-02 21:34] robgpeak commented on #65
👍

Thanks,

Rob

**Sent from my phone

On Jun 2, 2017 5:06 PM, "cgladue" <notifications@github.com> wrote:

[2017-06-05 13:08] robgpeak commented on #147
@ChrisASearles I would like to start some testing of the site this week with Dover Downs customers, and this issue is an important one to be working properly, so please move it up the priority list.

[2017-06-05 13:17] robgpeak commented on #25
@ChrisASearles This issue as well should be at the top of the priority list.  It is a very simple fix in my mind, but I think it might be a tough thread to follow, and perhaps a voice discussion may be beneficial with us and @cgladue

[2017-06-05 16:55] robgpeak opened #176 "Completed Transactions Page (Back End)"
@ChrisASearles @cgladue I have mocked up a simple version of a Completed Transaction Page https://app.moqups.com/robg/QSDVx2F07W/edit/page/accafd170 and the objective is to give an idea of where we stand with each advertisers, and each network (cj and ls at the moment), so we can see how much they owe us for a give time period.

So we would only want to record transactions that end in a commission

[2017-06-05 16:57] robgpeak opened #177 "Locking in points already earned"
Once we issue points to an end user for completing a transaction, we need to LOCK that point amount for that transaction.  Meaning, as it stands currently, if I as an end user have earned 28 points for a shopping trip/purchase and subsequently the partner's "share rate" (which is the portion of the commission we receive from the advertisers that we convert to points for the end user) changes, that

[2017-06-05 17:05] cgladue commented on #177
@robgpeak that isnt true.

currently it will only create the balance record for the user when the comission is recieved through the API.  CJ and LS tell us the total sale and the total comission earned (in $) the program then looks up the current partner share rate and awards that percentage to the user for the purchase.  there is no other process that goes back and updates the record once its wri

[2017-06-05 17:06] cgladue commented on #177
i did change the share rate to 90% just to make sure i was correct and my point balance still says 7.5 which is what it said before i changed it when it was 50%

[2017-06-05 17:07] robgpeak commented on #149
I'm not sure what this was marked as Review and assigned to me?  I did a cache clear, and shirt refresh, but it does not look like anything was changed?

[2017-06-05 17:10] cgladue commented on #177
however, i think we do need to decide how soon after a comission is recieved and points are awarded do the points stay in a "pending" state.  Meaning they cannot be used untill they mature.  Like ebates does they only pay you out every quarter, so there is a peroid of time that your purchases are frozen and cannot be used.  Some of the advertisers report a "lockdate" and some do not, i guess you s

[2017-06-05 17:12] robgpeak commented on #154
This is another one that is in "review" but I did not see a change on the pages https://doverdowns.complinks.co/terms-and-conditions and https://doverdowns.complinks.co/privacy-policy

[2017-06-05 17:12] #155 closed

[2017-06-05 17:15] cgladue commented on #149
i have not published any of chris' or derk's changes yet, will do in a little bit

[2017-06-05 17:22] robgpeak commented on #177
One issue at a time:)  I will address the "pending points" state in another issue thread.

As for the points locking issue, as you changed "shop" to 90%, my points issued for the CVS transaction on June 1st, which was 28, is now 50.4.  This is the only transaction in my account.

They pay us 4%, and we paid out 2% (share rate .5).  So the commission we received from CVS was $0.56, and 90% would be

[2017-06-05 17:26] robgpeak commented on #149
Oh, OK.  I saw them in my review screen, and I was just cleaning house;)

[2017-06-05 17:26] cgladue commented on #177
shit, it is happening, had to log out and back in ... ok let me fix this.

[2017-06-05 18:01] cgladue commented on #177
@robgpeak this has been corrected  once a comission has been recorded it will not go back and update the record again.

[2017-06-05 18:07] cgladue commented on #154
@robgpeak published

[2017-06-05 18:07] cgladue commented on #149
@robgpeak published

[2017-06-05 18:10] robgpeak commented on #168
In speaking with some industry execs in the loyalty rewards space, they say the single biggest issue they receive from end users is an inquiry about missing points/transaction.  Chad is already working on a system where a CL staff member can look up "orphan transactions" (transactions which we've been paid a commission, but for one reason or another, they we not tagged to a particular end user's a

[2017-06-05 18:14] cgladue commented on #168
i dont know if its there already but another use case might also be that if they started a trip from our site, but then somehow used another app or another site that overrode our referral, meaning only the latest redirect to the advertiser store will be in effect, so if they start a trip from our site then go to ebates and decide to use their link it will override our trip.

[2017-06-05 18:15] #177 closed

[2017-06-05 18:19] #154 closed

[2017-06-05 18:22] robgpeak commented on #149
Nice!

[2017-06-05 18:35] robgpeak commented on #74
@cgladue Can you please let us know what the API told you the commission for "Added New Advertiser: Choies.com" would be?

The back end is showing 0% to 10%, but on the cj site, it only says baseline of 10%  So our front end is reading "Up to 5 points/$", but realistically it should be "5 points/$"

https://members.cj.com/member/4337795/publisher/advertisers/findAdvertisers.cj#{"pageNumber":1,"pub

[2017-06-05 18:38] robgpeak commented on #168
Yeah, this is another reason why it would be good for us to have the ability to edit this page easily and regularly.  I am sure once we get the site up and running, we will encounter many issues that we would want to update out FAQ for...

[2017-06-05 20:10] robgpeak commented on #161
This is a low priority item, but I am going to reopen it and add a bit of clarification to the fix, so it is a better fix.  In addition to restricting the height to no more than 60, we should also restrict the width to a maximum of no more than 150px wide.

If it is a quick fix, then by all means, put it in place, otherwise, it can wait.

[2017-06-05 21:54] robgpeak opened #178 "Adjustments needed on Rewards page"
@cgladue on the page https://doverdowns.complinks.co/myrewards, we need to have the copy read the following:

You currently have 23000 Rewards Everywhere points available.

1000 Rewards Everywhere Points = 40 {Partner_Name} Points

Minimum transfer is 1,000 Rewards Everywhere Points

Choose Reward

NaN {Partner_Name} Points will be credited to your account.

undefined Rewards Everywhere Points wil

[2017-06-05 22:29] robgpeak opened #179 "Adding sale based (no commission) advertisers"
This is NOT needed for this first release, but I wanted to put it on the radar.

There are some pretty big brand name compnaies that pay a flat fee for a sale to a new customer, and if we don't take advantage of it, we are leaving money on the table for sure.

Of course there would need to be some changes made in the reading of the APIs, and then again on how the data is displayed on the front end

[2017-06-05 23:10] robgpeak commented on #112
As a follow up to the Orphan Transactions section, please have a look https://docs.google.com/document/d/1k0BcGjbF-vy8CnLUADl7GqEctD4KMO-HbyZDLwTrT9Y/edit

@cgladue note that I change the bits of information we would want to collect from the end user from two to three.  Order ID, Sale amount (less tax and shipping), and Date of Transaction

and then at https://app.moqups.com/robg/QSDVx2F07W/edit/p

[2017-06-05 23:11] robgpeak opened #180 "We need a casino partner login"
In order to allow a casino to log in and see their user activity, and ultimately process redemption requests (for those that do not have API capabilities), here are the pages they should be able to see as a "Casino Partner"

I had done a mock up a bit ago, and it may need some revisions, but it is the basic gist.  https://app.moqups.com/robg/QSDVx2F07W/edit/page/ae872ab26

They should have the abi

[2017-06-05 23:40] robgpeak opened #181 "Assigning an account number to every user account, and making it visible to the end user."
I know we spoke about it, but there was nothing created in Github to discuss it.

I would like to have unique account numbers for end users.  They will also be visible to the end user in their "Account Information" section, but of course not editable.

https://app.moqups.com/robg/QSDVx2F07W/edit/page/af53607d3

[2017-06-06 00:12] cgladue commented on #181
All set:

![image](https://cloud.githubusercontent.com/assets/7914133/26808518/52bdfb40-4a2b-11e7-9687-36d8e716e7ad.png)

[2017-06-06 00:18] robgpeak commented on #181
Cool

[2017-06-06 00:18] #181 closed

[2017-06-06 13:01] robgpeak opened #182 "Add user account number to https://shop.complinks.co/admindashboard/users"
Please put the "Account Number" column in as the first column on the page https://shop.complinks.co/admindashboard/users and let the search feature include both email addresses, and account numbers.

[2017-06-06 15:53] #78 closed

[2017-06-06 15:53] ChrisASearles commented on #78
I believe this was completed and submitted under another issue #. Either way, it's done.

[2017-06-06 15:55] ChrisASearles commented on #25
@cgladue what's the status on this?

[2017-06-06 15:59] cgladue commented on #25
@ChrisASearles @robgpeak we will have to discuss on our call today because at this point i have no friggin clue what this should be doing compared to what it is currently doing

[2017-06-06 16:10] robgpeak commented on #25
@cgladue @ChrisASearles had to move the call back to 3:00.

[2017-06-06 16:21] robgpeak commented on #25
@cgladue @ChrisASearles Lucky for you guys, I just found a screencast that explains where the confusion comes from, and then the remedy to fix it.  Happy viewing  https://screencast.com/t/LQ6niIz1

[2017-06-06 16:29] robgpeak opened #183 "Why would our site NOT work in an emulator?"
When I go to http://quirktools.com/screenfly and put in https://www.complinks.co it works find in any screen size, but when I enter https://shop.complinks.co nothing shows up, and I was wondering why?  Any ideas?

[2017-06-06 16:38] robgpeak opened #184 "Time zone issues"
I looks like the time zone is off for the recording of registration times.  Pete Bradley from dover downs signed up for an account today, but it is not showing EST

As you can see the current time is 12:32PM and Pete's registration record shows 1:25PM

![uploads/a4167b59-ef4a-4b95-9f11-9c1361adcb1e/Screen Shot 2017-06-06 at 12.32.47 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploa

[2017-06-06 16:54] ChrisASearles commented on #147
Commited.

[2017-06-06 17:48] robgpeak commented on #159
As a follow up to this, and how it might sort of relate to #112, when a CL rep manually adds points to a user's account, normally it will NOT show as "earned" to the end user, but it will show up in the total balance, and be redeemable immediately. However, if the points were actually earned and credited manually, they should be able to be tagged as earned.

[2017-06-06 18:12] ChrisASearles commented on #184
All times should be stored in the DB as UTC and converted on the front-end for the current user. Preferred time zone needs to be added to the my account/profile page (I forget which was which) and should be defaulted to EST.

All DateTime.Now references throughout the site should be changed to DateTime.UtcNow to ensure we're storing UTC times regardless of the server's timezone.

All time objects

[2017-06-06 18:15] ChrisASearles commented on #180
There is an existing partner dashboard area in the project. @cgladue what's the status on that, I was pretty sure you had it functioning before we even got involved, correct? I know it needs to be re-themed but we were putting that behind the end-user stuff for the time-being.

[2017-06-06 18:17] cgladue commented on #180
@ChrisASearles We arent retheming it, we may change some colors and stuff but the theme and widgets are staying intact  rob and i both agree that the partner admin and super admin sections dont need to match the front end.

[2017-06-06 18:25] ChrisASearles commented on #168
This should be handled by the support software. I still have to look into it but if it's not, I'd recommend a switch to something that allows more flexibility for support staff (like Zendesk). I'll get back to this once I look into the support side.

[2017-06-06 18:30] ChrisASearles commented on #123
That layout presents a challenge on mobile. @Dwells7583 can you try to accommodate a bit of what Rob's looking for in something that works in a responsive layout?

[2017-06-06 18:38] ChrisASearles opened #185 "Inconsistency in ad model objects"
Ads are being presented using the FeaturedLink class on the category detail page and the Link class on the store detail page. The category page is currently functional, the code for ads on the store page is commented out. If you decide to use the Link class, the MedSqAd display template needs to be updated to use that as the model object instead of the FeaturedLink class. Please also uncomment the

[2017-06-06 18:51] cgladue commented on #185
@ChrisASearles @robgpeak this isnt an inconsistency, one is featured ads and one is just plain ads... the featured ad is on the category page, and is only Ads that have specifically marked as featured.  On the store page the ads are all ads for that advertiser.

[2017-06-06 18:53] robgpeak opened #186 "CompLinks User permissions"
I put together a document that lays out the hierarchy and permissions for CL users, from Super User down to End User.  https://docs.google.com/document/d/1VfDXzcVM02N91iFaDOfE0wGUHL8xKONiBtUGmq-X2t4/edit?usp=sharing

Please feel free to make comments on the document.

[2017-06-06 19:02] ChrisASearles commented on #118
404 page is committed but 404 errors are not currently redirecting.

[2017-06-06 19:04] cgladue commented on #118
not a bug, the redirect is commented out because of troubleshooting, it will be re-enabled

[2017-06-06 20:10] ChrisASearles opened #187 "Partner Data not Limited to Tenant"
Right now a user that is in the PartnerAdmin role has access to view data for all tenant applications. To reproduce, login with an account that only has PartnerAdmin permissions for a specific subdomain, go to  /partnerdashboard/redemptions and you can still view and act on all redemption requests for all partners/tenant applications.

We should do an audit of all places where partner data may be

[2017-06-06 20:19] cgladue commented on #187
Where clause has been added to the DAL for this call.  Users call already has this where clause so its not an issue.

[2017-06-06 20:25] cgladue commented on #185
closing as a non-issue.

[2017-06-06 20:33] ChrisASearles commented on #185
@cgladue as far as the front-end is concerned, there's no distinction, an ad is an ad, we need the same model object for ads.

[2017-06-06 20:34] robgpeak commented on #180
@cgladue is correct. For this particular phase of the project, we agreed that the partner admin did not need to match the front end.  Having said that, if it is as easy (seemingly easy from a lay person's perspective) as it was to change the End User's; My Account, Shopping Trips, Rewards, etc. from the back end template to now match the front end look and feel, then by all means, do it.

[2017-06-06 20:36] cgladue commented on #185
you may have to just deal with it and create a second partial to display it, but ill look into  why i split it out.

[2017-06-06 20:37] ChrisASearles commented on #180
Guys, as I wrote in my response, re-theming any of these sections is a back-burner issue, I just wanted to make sure all of the functionality requested in this issue already existed, and if not, let's figure out what's missing and get it prioritized.

[2017-06-06 20:39] cgladue commented on #180
@robgpeak the only reason it was easy is because it was very simple,  for these functions i think we are better off just changing the colors so it matches better but not worth the investment in time when behind already.

[2017-06-06 20:39] Dwells7583 commented on #172
@cgladue can you add these to the account controller?

[2017-06-06 20:41] cgladue commented on #172
@Dwells7583 tonight sure, its not just the controller the DB needs the fields as well as does all of the DAL, you dont need to be blocked just use dummy data for now

[2017-06-06 20:52] robgpeak commented on #168
Chris, I know support software handles this sort of thing, (knowledge bases, etc.), but for now it does not need to be that complicated. I think the easiest solution is to make the page behave just like if it was database driven page, and Morgan can edit it just like she edits store descriptions and the "conditions" sections.  This is something Chad could do in his sleep:)  So @cgladue next time y

[2017-06-06 21:03] #147 closed

[2017-06-06 21:15] robgpeak opened #188 "Issue with Deals and Promotions not showing up"
@cgladue Just went to the site, and no deals and promotions are showing up on any of the store index pages, only a bunch of numbers

https://shop.complinks.co/stores/index/5309
https://shop.complinks.co/stores/index/6693

[2017-06-06 21:20] robgpeak commented on #175
@Dwells7583 The separators are showing up as dots on my phone in the footer, any way to make them lines?  Say 1px high, by say 100 wide or so.  And make them a light gray.

[2017-06-06 21:22] cgladue commented on #188
@Dwells7583 @ChrisASearles i just comitted the latest changes and now rob see this, any idea ?

[2017-06-06 21:26] robgpeak commented on #174
@Dwells7583 I would like to see about getting the Advertiser Name and points a little closer to the ad image, and lined up with it on the same left hand border of the image.  Like I mocked up in my original.

This is what it looks like on my screen now...  Too far away, and too far left in comparison to the image.
<img width="400" alt="screen shot 2017-06-06 at 5 22 27 pm" src="https://user-images

[2017-06-06 21:26] ChrisASearles commented on #118
All error pages have content.

[2017-06-06 21:36] robgpeak commented on #174
Also, @Dwells7583 the horizontal line as a separator is seemingly only appearing below the ads then there are two of them, but the line is not separating, it is really only under the bottom image...  It should be a separator of the images with an equidistant buffer between the bottom of the "Advertisers name and points" and the top of the next image...  I would reduce the current buffer you have b

[2017-06-06 21:38] robgpeak commented on #180
OK and agreed.

[2017-06-06 21:39] ChrisASearles commented on #188
@cgladue no, I just pulled latest and it runs fine on my machine. It looks like a string of sequential numbers so I'm assuming they're all the deal IDs, but no idea why it's showing up like that in production based on what's committed to source.

[2017-06-06 21:44] robgpeak commented on #118
Any way we can scrim that font size down a bit so it does not look like the big "E" at the top of an eye chart?

[2017-06-06 22:08] robgpeak opened #189 "Main advertiser links added MANUALLY do seem to respond the same (Possibly)"
Sort of a flukey thing, but I just went to https://shop.complinks.co/NotFound?aspxerrorpath=/category/inde, and after my eye popped out of my head from that large text, I decided to click on and test some links...

Everything seems to be functioning properly EXCEPT the "Shop Now" button on the "Famous Footwear" store box.  It is going to the store index page, instead of popping open a new tab and

[2017-06-06 23:52] cgladue commented on #188
Problem was a new partial view "DealList" that was not included in the project so it didnt publish, i have included it and republished.

[2017-06-07 00:15] cgladue commented on #185
Removed all references to FeaturedLink.

[2017-06-07 00:57] cgladue commented on #25
@robgpeak i THINK this is now how you want it can you take a gander ?

[2017-06-07 01:06] robgpeak commented on #25
Yes, but the "All <Category_Name> Store section should have ALL the stores alphabetically, even if their number is 0 in the display order.

So if you look at https://shop.complinks.co/admindashboard/advertisers/setAdvertiserDisplayOrder/11 and https://shop.complinks.co/category/index/11 you'll see that the ones with "0" at not in the ALL section, and they should be.

[2017-06-07 02:34] cgladue commented on #25
@robgpeak take a look now !!

[2017-06-07 02:49] robgpeak commented on #25
Yes.  Works great now.

[2017-06-07 02:49] #25 closed

[2017-06-07 12:19] ChrisASearles commented on #187
Why is this assigned to me, do I need to do something here?

[2017-06-07 12:44] cgladue commented on #187
@ChrisASearles you found the issue, the issue was fixed so please confirm and you can close it

[2017-06-07 12:56] robgpeak opened #190 "Limit Search Results"
@cgladue I get the following server application error when I do a search for one letter, and sometimes with two letters in the search.

I know we put the autocomplete search functionality on the shelf for now, but I NEVER like seeing a page like this...  Can we simply return all stores that start with that letter for now, AND disable showing any results in the "You Might Also Like" section, JUST f

[2017-06-07 14:02] Dwells7583 commented on #172
@cgladue when will this be updated?

[2017-06-07 14:16] cgladue commented on #163
@robgpeak is this still a outstanding question ?

[2017-06-07 14:19] cgladue commented on #55
![image](https://user-images.githubusercontent.com/7914133/26883310-c95c0e3c-4b6a-11e7-879a-3202d890736d.png)

[2017-06-07 14:20] cgladue commented on #55
there are a ton of these errors, also the dropdown isnt really a dropdown ?  how can i get the value of the dropdown using jQuery ?

[2017-06-07 14:22] cgladue opened #191 "Alert Should Span only Right Column."
![image](https://user-images.githubusercontent.com/7914133/26883379-0e57c17a-4b6b-11e7-9998-404a976cb289.png)

@ChrisASearles @Dwells7583 I dont think the alert should span both columns, i think it should only take up the right column and left the left column where it is, it looks weird this way.

[2017-06-07 14:44] robgpeak commented on #163
No i figured it out, and we will improve the functionality in the future.

[2017-06-07 14:45] #163 closed

[2017-06-07 15:02] ChrisASearles commented on #55
@cgladue Front end is built in Angular, jQuery shouldn't even be included. Do you want me to take a look at it?

[2017-06-07 15:07] cgladue commented on #55
@ChrisASearles yep if that's the case then thats the only option.

It should work as follows,

1. the dropdown will default to the minimum # of points they can redeem.  below that will be some wording saying "40 Capital Club Rewards Points will be credited to your account.

1000 Everywhere Points will be deducted from your balance."

when they change the dropdown it will update the verbiage accord

[2017-06-07 16:49] cgladue commented on #47
@robgpeak is this going to be in the v1.0 release ?  or something down the road ?

[2017-06-07 16:55] robgpeak commented on #47
Not sure I know what you mean.  It's in place now in the main nav.  Meaning you can see featured stores in the main navigation, and you can also see featured stores in the home page.  What else is it supposed to do?

[2017-06-07 16:57] cgladue commented on #47
@robgpeak favorite stores, like a user being able to click a heart icon or something to set it as a favorite store, not featured store ;)  you need another cup of coffee i think

[2017-06-07 17:00] robgpeak commented on #47
Oh shit.  Sorry about that.

You tell me?  What would it take for you to program that?

As for coffee, I never drink the stuff... Maybe I should start.

On Jun 7, 2017 12:57 PM, "cgladue" <notifications@github.com> wrote:

[2017-06-07 17:01] cgladue commented on #47
it wouldnt take me long at all, but Chris and derek would need to add the heart icons into their design somehow and add a place to see your favorite stores somewhere in the profile page i suppose

[2017-06-07 17:08] robgpeak commented on #47
Well as long as all your other homework is done, you can build the portions that you need to, and then Derek and Chris can put the front end stuff in place when they get to it.

I know we've spoke about different version releases of the software, but realistically, it will be an ongoing process virtually forever.  Meaning, we will always be making improvements and upgrades to the product, and this

[2017-06-07 17:09] cgladue commented on #47
yea of course, i just mean v1.0 as in the initial offering, i would expect there will be changes often which is a good thing

[2017-06-07 17:12] robgpeak commented on #47
Well what does v1.0 actually mean.  Do you draw a hard line in the sand and say, these are the only features we will include in v1.0, and then if you add favorite stores, is the release then v1.1?

I am asking this question in all seriousness

[2017-06-07 17:17] cgladue commented on #47
there wouldnt be any version numbers it was just a theoretical 1.0 just meaning the first version as in the day you go live actually accepting customers on the site.  in normal development there would be a code freeze, peer review, etc before a "release" but i dont like that much structure personally i like to release on an ongoing basis no set guidelines other then testing needs to be done before

[2017-06-07 17:49] robgpeak commented on #47
I agree with that philosophy, as long as if you make a change, release it to the public, and find out something is NOT working as expected, you can roll back to a previous version where everything was working.

[2017-06-07 17:53] cgladue commented on #47
yea with version control we can go back to any prior file version.

[2017-06-07 18:06] robgpeak commented on #47
Well then, I think as long as you keep very detailed records of every version including what feature specifically was changed, as small as it may be, you should be OK in terms of being able to roll back to a fully working version if need be.

Having said that, I CAN see the reasoning behind a code freeze and internal review before releasing it live.  I'm sure we can find the right balance.

[2017-06-07 19:17] cgladue opened #192 "Force Formatting on phone number."
![image](https://user-images.githubusercontent.com/7914133/26896788-1ceb4db4-4b94-11e7-856f-c502a90bb9b9.png)

Right now the phone # field will allow a phone number to be saved that does not fit the format of phone number, this field should require minimum of 10 digits and no more then 10 digits.

[2017-06-07 19:19] #192 closed

[2017-06-07 19:19] Dwells7583 commented on #192
This is already an open ticket #170.

[2017-06-07 19:34] #175 closed

[2017-06-07 19:34] robgpeak commented on #175
Thanks @Dwells7583 seems to be working as expected now.

[2017-06-07 19:49] cgladue commented on #172
@Dwells7583 done, and added to the view as well, you can tidy it up

[2017-06-07 19:59] cgladue commented on #174
@robgpeak Published

[2017-06-07 20:00] cgladue commented on #172
@robgpeak i added both address1 and address2 fields, do you want a place to put Apartment Suite etc info or only Street address ?

[2017-06-07 20:07] Dwells7583 commented on #172
@cgladue I only see it added to the view. Are all your files included in your latest commit?

[2017-06-07 20:09] cgladue commented on #172
@Dwells7583 yes, it was added to the ApplicationUser Class as well as the Database and is updating correctly.

[2017-06-07 20:10] robgpeak commented on #172
Here is what I am seeing, and it is fine.  Next issue:)
<img width="895" alt="screen shot 2017-06-07 at 4 08 39 pm" src="https://user-images.githubusercontent.com/28393235/26898976-b3d62ada-4b9b-11e7-9a85-3573187581c9.png">

[2017-06-07 20:11] cgladue commented on #172
@robgpeak @Dwells7583 Derek will need to make the State dropdown contain all states and also if any one of the address fields are filled in then all should be mandatory, if none are filled in the optional.

[2017-06-07 20:12] robgpeak commented on #172
Agreed.

[2017-06-07 20:13] cgladue commented on #172
@robgpeak and you are ok with all address information being contained within only one line of text correct ?

[2017-06-07 20:39] Dwells7583 commented on #172
@cgladue I am def not getting something on my end. The only thing that was added in that commit was the updated view.

[2017-06-07 20:47] cgladue commented on #172
dont know what to say, it shows nothing on my working folder to commit.

see if yours looks the same
![image](https://user-images.githubusercontent.com/7914133/26900660-ef46e01e-4ba0-11e7-9949-92d8b6f5d038.png)

[2017-06-07 21:13] cgladue commented on #172
@Dwells7583 i am re-comitting the files again see if it works now.

[2017-06-08 10:40] cgladue commented on #159
Go to Users page, and view transaction history, at the top is an option to add transaction

![image](https://user-images.githubusercontent.com/7914133/26924843-6a597806-4c15-11e7-9426-00f75256e862.png)

[2017-06-08 10:42] cgladue commented on #182
@robgpeak Done

[2017-06-08 11:58] robgpeak commented on #159
Looks great.  Please change the names of the "Types" to **Points Adjustment, Points Earned, and Points Redeemed** including the "s" on the word Points.

[2017-06-08 12:00] robgpeak commented on #182
👍

[2017-06-08 12:00] #182 closed

[2017-06-08 12:49] Dwells7583 commented on #172
Ok, I got all the files now. thanks.

[2017-06-08 13:30] Dwells7583 commented on #172
@cgladue  OK. The Phone number is not formatted like it was, a few commits ago. Did this change for some reason? It is also not displaying anymore. Also, was the script removed to force the formatted phone number on purpose?

[2017-06-08 13:32] cgladue commented on #172
**maskedinput.js** was removed because it uses jQuery and Chris said jQuery absolutely cannot be loaded at the same time as angular, so you'll just have to do it in angular i guess.  as for the phone not displaying ill look, when i added the additional fields i may have changed the property name give me a few minutes

[2017-06-08 13:34] Dwells7583 commented on #172
OK, that is what I thought. Just confirming. thanks.

[2017-06-08 14:06] Dwells7583 commented on #172
Ok the name was changed to phonenumber from mobile. Its working now. As far as the dropdown for state and the formatting of the phone number, we will circle back to those as there are more pressing items to be addressed first.

[2017-06-08 14:07] cgladue commented on #172
@Dwells7583 i will be adding timezone as a dropdown as well so that will need to be adjusted to look pretty on my next commit

[2017-06-08 14:40] cgladue commented on #184
Not going to make it in the initial release, site will record all times in EST for now until there is more time later.

[2017-06-08 17:43] ChrisASearles commented on #55
@Dwells7583 I checked in a rough version of this page that needs your help to finalize. Once you're done let @cgladue know so he can add what he needs to submit the appropriate values in the form post.

[2017-06-08 17:51] robgpeak commented on #184
@cgladue but it is not currently recording in EST.  I just marked a Redemption request as completed, and you can see it is not in EST.

It was 1:45 EST when I did it, and it is showing 5:45pm  Maybe that's GMT?

<img width="777" alt="screen shot 2017-06-08 at 1 49 32 pm" src="https://user-images.githubusercontent.com/28393235/26942785-57f73806-4c51-11e7-9bdf-1b2d3be59820.png">

[2017-06-08 18:09] cgladue commented on #184
Its UTC time, i had set both servers to UTC in preparation to add timezone offsets, but the process if going to take quite some time to go through all the logic and do the conversions (including DST adjustment).  So better off just going with EST for now and switch when there is more time.  i have just adjusted the DB server and web server back to EST, try your test again.

[2017-06-08 18:16] ChrisASearles commented on #180
@cgladue @robgpeak there still hasn't been an answer to my question which was, I believe most or all of the functionality outlined in this issue already exists. Is that correct or no?

[2017-06-08 18:18] robgpeak opened #193 "Adjustments to the Redemptions page"
@ChrisASearles I think this is an important issue.

When a Casino Manager logs into their dashboard at their specific subdomain, the ../AdminDashboard/Rewards/Redemptions page should look like the "Redemptions" section of https://app.moqups.com/robg/QSDVx2F07W/edit/page/ae872ab26 and please read the comments regarding some functionality.  My mock up is just showing in on the dashboard, but ff cour

[2017-06-08 18:22] ChrisASearles commented on #184
This is a pretty important issue. Changing the server's time zone and relying on that time stamp means we also now have some records in the database with UTC time stamps and others with EST. There are limited places on the front-end where we're displaying any times and they're pretty much all limited to the admin areas. A quick find and replace on DateTime.Now with DateTime.UtcNow should take care

[2017-06-08 18:25] cgladue commented on #184
All the data in the DB is going to be purged before go live so thats no
concern.

Chad Gladue
*DevNull Technology, LLC*

On Thu, Jun 8, 2017 at 2:22 PM, Chris Searles <notifications@github.com>
wrote:

[2017-06-08 18:28] cgladue commented on #180
the bulk edit dosnt at the moment, but can be added quickly.

[2017-06-08 18:29] robgpeak commented on #184
No, still not showing EST.  Cleared cache, and in fact, I logged into my robg account from a private firefox window, which I've never done before, and just marked the second one as complete, and it is still showing 6:21 instead of 2:21...

I just now saw Chris' response, and I agree that this should be fixed now to reflect EST, but what happens if we sign up a casino partner in PST.  What would we

[2017-06-08 18:30] ChrisASearles commented on #189
@cgladue can you confirm if there's an issue here

[2017-06-08 18:32] cgladue commented on #193
This is already mostly in place now, i can add a few columns that you have there and the filtering.

[2017-06-08 18:34] cgladue commented on #184
Is there a timezone setting in ebates ? if there is i dont see it

[2017-06-08 18:35] robgpeak commented on #180
And just to make things complicated, I through some more things in the mix to think about with the redemptions page and functionality at #193 .  The only potential monkey wrench is recording the user's Casino Rewards Member ID, but we will store it when we get it from them prior to them being able to make a redemption request...  Again, not to muddle up or mix multiple issues into one, but they ar

[2017-06-08 18:36] robgpeak commented on #180
Maybe we can have a phone call with the three of us to discuss...  I would not want it to turn into an issue like the Feature Stores debacle that went back and forth for weeks, yet Chad and I resolved in after a 15 minute phone call.

[2017-06-08 18:40] cgladue commented on #184
![image](https://user-images.githubusercontent.com/7914133/26944952-3d504914-4c58-11e7-9154-c354f04381f4.png)

can you try again rob i just did an iisreset and restart of mysql and the proper date shows up for me when i complete a redemption and also when i start a trip.

![image](https://user-images.githubusercontent.com/7914133/26945013-6af7b0a0-4c58-11e7-9878-5aa6959b0eb9.png)

[2017-06-08 18:51] Dwells7583 commented on #55
Updated small version and updated styles. @cgladue you can work on this.

[2017-06-08 18:57] #185 closed

[2017-06-08 19:00] robgpeak commented on #193
OK.  And batch processing too... as well as the ability to download as csv and such

[2017-06-08 19:01] cgladue commented on #193
CSV, PDF is already there i believe

[2017-06-08 19:11] ChrisASearles commented on #129
Committed.

[2017-06-08 19:13] robgpeak commented on #184
For the shopping trips, it is showing the correct time in EST.

Now when I try to mark a redemption request as completed, I get an error message.  Again this is AFTER a cache clear and new log in to me robg account

<img width="649" alt="screen shot 2017-06-08 at 3 11 27 pm" src="https://user-images.githubusercontent.com/28393235/26946342-ea2593b6-4c5c-11e7-995a-2691009626c5.png">

[2017-06-08 19:14] robgpeak commented on #184
ebates shows shopping trips in PST...
<img width="846" alt="screen shot 2017-06-08 at 3 04 05 pm" src="https://user-images.githubusercontent.com/28393235/26946411-257a9ace-4c5d-11e7-9bf0-b0f3e963093e.png">

[2017-06-08 19:15] ChrisASearles commented on #164
@cgladue what's the status on this, seems like you already fixed it, no?

[2017-06-08 19:16] cgladue commented on #184
try it from the partner dashboard rob, i see on the admin side it did give an error, ill fix that.

https://shop.complinks.co/partnerdashboard/redemptions

[2017-06-08 19:18] #188 closed

[2017-06-08 19:22] ChrisASearles commented on #190
@cgladue looks like an issue with returning too many results from the DB. I would think we could get away with a TOP(50) or so, what do you think?

[2017-06-08 19:28] cgladue commented on #55
im not sure now to specify the post data that angular sends, but the pieces of info i need returned is:

- rewardId = ID of the reward being redeemed (there is only one for right now, but may be more later on)  Model.Rewards.First().id should work for now.

- redeemedCost = # of Everywhere Points being redeemed

[2017-06-08 19:28] #187 closed

[2017-06-08 19:30] robgpeak commented on #184
It's working as expected now

[2017-06-08 19:30] #184 closed

[2017-06-08 19:40] ChrisASearles commented on #55
Yeah I saw that loop and wasn't sure what that was all about. What are the other potential types of rewards?

[2017-06-08 19:52] cgladue commented on #55
In the future there may be rewards that have a fixed value, such as 15$ food coupon for 20,000 points or $10 Free Slot Play for 50,000 points etc, where the customer will just choose the reward and click redeem.  But for now rob only wants the freeform point redemption reward used only, so what you have there will work untill someone wants to give away fixed value rewards,

[2017-06-08 19:54] ChrisASearles commented on #55
Gotcha.

[2017-06-08 20:02] cgladue commented on #190
@ChrisASearles should work, ill do this tonight

[2017-06-08 20:02] cgladue commented on #190
ill return the top 50 based on total views.

[2017-06-08 20:07] cgladue commented on #164
@ChrisASearles yes this is not dummy data and it is filtering inactive stores now.

[2017-06-08 20:07] cgladue commented on #164
@robgpeak thumbs up ?

[2017-06-08 20:09] cgladue commented on #193
@robgpeak and just to be clear the /admindashboard would be used by CL staff only the casino manager would be accessing /partnerdashboard which is much more limited.

[2017-06-08 20:12] robgpeak commented on #164
Yes, looks like it is working well now.

[2017-06-08 20:12] #164 closed

[2017-06-08 20:13] robgpeak commented on #193
Understood and agreed

[2017-06-08 20:19] ChrisASearles commented on #55
Ok, should be all set. I just added two hidden inputs to bind the variables to. @cgladue I verified the data is posting properly but I don't have any points in my account to test the actual redemption process so if you could run through a quick one just to be sure that'd be great.

[2017-06-08 20:24] robgpeak commented on #55
I really like the sliding scale better than the drop down for the redemption of the rewards,  Great job!

But there are a couple of small issues that I showed here... https://screencast.com/t/6oa9eiWOI

Basically, the number of the points shown on the left "Rewards Everywhere points" should show the actual number of points someone is looking to redeem, and the remaining balance that would be left

[2017-06-08 21:02] robgpeak opened #194 "Type-o on MyRewards page when a reward is successfully processed"
@cgladue In the green check box notification at the top of the page...  It reads "Successfully Redeemped Points" instead of Redeemed.

![uploads/4f235703-3e5b-4001-b05c-77df934d96c3/Screen Shot 2017-06-08 at 4.58.39 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4f235703-3e5b-4001-b05c-77df934d96c3%2FScreen+Shot+2017-06-08+at+4.58.39+PM.png)

[2017-06-08 21:17] cgladue opened #195 "Issue with point balance on rewards and dashboard page"
Chris/Derek if you need to test you can give yourself more points by adding a new transaction to your account at the following URL:

https://shop.complinks.co/admindashboard/users

in case it will help.
Point Balance = Total Available Points
Earned Points = # of Total points that have been earned
Lifetime points = # of points the user has earned or been given since they signed up.

to reproduce re

[2017-06-08 21:26] robgpeak commented on #55
I just saw the addition of (after transfer) to the rewards slider section, and that is still not the right UI/UX. It definitely needs to be the way I described it in my previous comment on this thread.  It should show the number of points I want to redeem, and the number of points I will be credited on the casino's end...

[2017-06-08 21:32] ChrisASearles commented on #55
@robgpeak that was added before your comment, this hasn't been assigned to you yet

[2017-06-08 21:48] robgpeak commented on #55
oops.  OK.  Sorry about that.

[2017-06-08 21:50] robgpeak opened #196 "Front end on iPhone 7 looks messed up"
Here is a screenshot, and she made a screen cast from her computer of he iphone screen, and you can see side by side that the back end works fine, but the front end is whacked.  She has the latest version of iOS on her phone v.10.3.2

Here is the screencast:  https://drive.google.com/file/d/0B4WqJhdIXntNX3lHdXRSZnZTQzA/view?usp=sharing

![uploads/74c460d5-6425-4c37-95c9-64962ddf8291/morgans iphone

[2017-06-08 21:55] robgpeak opened #197 "Rewards balance not reducing after redemption request"
@cgladue When I put in a redemption request, it tells me that is was successful, and it shows up in the https://shop.complinks.co/admindashboard/rewards/redemptions screen, but the appropriate number of points were NOT deducted from my Rewards Everywhere points balance.

[2017-06-08 22:37] robgpeak commented on #196
I was just on the phone with Frank and asked him to pull up the site in his phone, and this is what he sent me.  IPhone 6.  So it is definitely not an isolated incident.

![img_2598](https://user-images.githubusercontent.com/28393235/26953612-647b666a-4c79-11e7-9eab-77f81d99d3d5.png)

[2017-06-08 22:44] cgladue commented on #196
Same for me on iPhone 6s

[2017-06-08 23:49] cgladue commented on #197
@robgpeak i think it should work correctly now if you take a look.

[2017-06-08 23:50] cgladue commented on #195
Duplicate of #197

[2017-06-08 23:50] #195 closed

[2017-06-08 23:52] robgpeak opened #198 "Deals and Promotions links on store index pages are now NOT opening in a new tab"

[2017-06-08 23:59] cgladue commented on #190
@robgpeak @ChrisASearles Search results have been limited to top 50 results based on # of views as well as top 50 Similar stores

[2017-06-08 23:59] robgpeak opened #199 "All {Category_Name} Stores and Featured {Category_Name} Deals sections not displaying properly on my phone"
They are not stretching across the screen.

![uploads/51cdb7cb-acda-4af1-a224-d94c31b28ad1/Screenshot (June 8, 2017 7-50 PM).png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F51cdb7cb-acda-4af1-a224-d94c31b28ad1%2FScreenshot+%28June+8%2C+2017+7-50+PM%29.png)

[2017-06-09 00:01] cgladue commented on #159
@robgpeak All Set

[2017-06-09 00:04] #197 closed

[2017-06-09 00:06] cgladue commented on #170
![image](https://user-images.githubusercontent.com/7914133/26955626-f2831d5c-4c85-11e7-9e4a-50be0c92c347.png)

it limits the input to 10 characters now but it lets people enter non-numeric values.

[2017-06-09 00:07] cgladue commented on #145
@robgpeak Published

[2017-06-09 00:08] cgladue commented on #129
@robgpeak Published

[2017-06-09 00:08] cgladue commented on #123
@robgpeak Published

[2017-06-09 00:08] robgpeak commented on #190
I just cleared my cache and tried it again (searching for the letter "a") and I got the same error message as originally posted.

[2017-06-09 00:08] cgladue commented on #55
@robgpeak Published

[2017-06-09 00:15] cgladue commented on #190
the problem isnt related to the # of results, its actually that there is some advertiser in there that has no category assigned but yet is still marked as active.  so i put in a check to make sure the advertiser is in at least 1 category.

[2017-06-09 00:15] cgladue commented on #190
try it again

[2017-06-09 00:16] robgpeak commented on #159
OK, looks great.  Just realized, we will need to be able to remove someone earned points as well.  If someone returns a product, charges back, etc.  And of course, there should always be a master record somewhere keeping track of all these transaction adjustments and who is making them (which CL user).

So I will leave it open in this issue and change the name to Adding and "subtracting" points ma

[2017-06-09 00:22] robgpeak commented on #170
I must have missed something.  Why does it not automatically format to (___) ___-_____ anymore?  And why would we allow non-numeric values?  Only Audrey Hepburn still uses KL5-6312 as a phone number any more...

[2017-06-09 00:36] cgladue commented on #170
it dosnt format witht eh ( because chris said i cant use jQuery, which is what i used to do the formatting.

and some us arent old enough to even know who audrey hepburne is rob ;)

[2017-06-09 00:37] robgpeak commented on #145
This issue is behaving a little strangely, and I actually started another issue as a result of it #199 with a screenshot.

As a follow up on this issue, the shopping cart icon is showing up on the Deal and Promotions sections of all the store index pages on the smaller screen, and they too should have the Shop Now button as well.  They DO currently show up full screen width, so that's good.

I sus

[2017-06-09 00:56] robgpeak commented on #199
I just realized why, it is holding a spot for the "Display Ads" on the right hand side of the screen.  It used to be, that when the site was responsive to a certain size, the Display Ads would NOT show up, but now they are.  We should put it back to the way it was that if the size of the window gets too small, don't show the display ads.

[2017-06-09 00:58] #129 closed

[2017-06-09 01:01] robgpeak opened #200 "Adding pagination to Deal and Promotions on Store Index pages"
In the Deals and Promotions section of a stores index (details) page there should be NO pagination IF there are less than 20 records in the Deals and Promotions section.

If there are MORE than 20 records, we SHOULD use the pagination feature just as it is being used in the All {Category_Name} Stores section of a category index page.

[2017-06-09 01:08] robgpeak commented on #199
For further clarification this issue is only happening on the category index page.  The size of the deals and promotions on the store index pages is NOT being reduced, because the display ads are disappearing, which they should on the small screen.

[2017-06-09 01:09] robgpeak commented on #123
Looks good, but please refer to all the comments I made on #199

[2017-06-09 01:09] #123 closed

[2017-06-09 01:13] robgpeak commented on #55
I don't think this one is ready for me yet according to @ChrisASearles

[2017-06-09 01:13] cgladue commented on #55
i didnt either but it was assigned to me with review label so not sure why

[2017-06-09 01:19] robgpeak commented on #190
Are Similar stores the same as You Might Also Like stores?  The reason I ask is I read above that you were going to limit the number of Similar stores to 50, and since it was in this same issue thread, I figured that to mean it had something to do with the Similar stores to the search results, but the section is actually called You Might Also Like stores, and they currently yield more than 50 stor

[2017-06-09 01:22] cgladue commented on #190
Actually i should of said 2 similar stores per search result, so if you search for something that yields the max of 50 results there could be 100 similar stores .. but most of the time there will be fewer results and at most 2 * # results similar stores...

and yes "you might also like" is similar stores, a.k.a stores from the same categories as the results..

[2017-06-09 01:23] robgpeak commented on #170
Well with whatever it is that you're using, you can't force it to only allow numbers?  Seem archaic.

And I call bullshit on anyone not knowing who Audrey Hepburn is...  At least not anyone reading this thread... lol

[2017-06-09 01:25] cgladue commented on #170
haha... im sure chris and derek could, i have never used Angular (what they are using instead of jQuery) so its out of my hands ...

i know who she is but thats about it, i dont know what they reference was to, and i dont even really know what shes famous for so, yea...

[2017-06-09 01:31] robgpeak commented on #170
The reference was just supposed to mean, you know how in old movies that would always quote a phone number as KL5...  The Honeymooners too.  Unless you're too young for that :)

[2017-06-09 01:45] cgladue commented on #170
lol my life pretty much starts with i love lucy, get smart, and dick van dike.

[2017-06-09 02:26] robgpeak opened #201 "Only a white screen if you click on shop now button when not logged in"
I went to doverdowns.complinks.co on my phone and click on several show now buttons, and it launches in a new tab, and it attempts to start a shopping trip, but it just remains a white screen.  After trying 6 or 7 buttons, I then realized I am not logged in.  There we no indication or prompt to log in.

But I recall setting up a different issue a bit ago about keeping someone logged in forever, un

[2017-06-09 12:33] Dwells7583 commented on #170
The phone will accept only numbers, sorry Audrey. The formatting will be done also, but I pushed up the fix to the numbers only for now.

[2017-06-09 12:37] robgpeak commented on #170
LOL

[2017-06-09 12:41] robgpeak commented on #170
I just did a cache clear, and was able to enter letters into the phone field...

<img width="624" alt="screen shot 2017-06-09 at 8 40 25 am" src="https://user-images.githubusercontent.com/28393235/26975826-6cc2c00e-4cef-11e7-9751-d4b3dfb4aa08.png">

[2017-06-09 12:42] Dwells7583 commented on #170
It hasn't been published yet.

[2017-06-09 12:43] robgpeak commented on #170
Oh, OK.  Off to the gym then.  back in a bit.

[2017-06-09 12:44] cgladue commented on #170
enjoy the gun show...

[2017-06-09 12:45] Dwells7583 commented on #199
Issue resolved

[2017-06-09 13:26] Dwells7583 commented on #145
updated.

[2017-06-09 13:29] Dwells7583 commented on #198
updated.

[2017-06-09 14:12] robgpeak opened #202 "Just saw a page with an unsecure SSL lock"
https://doverdowns.complinks.co/stores/index/5447

I looked at other pages that I've added new header images to like https://doverdowns.complinks.co/stores/index/6712 and https://doverdowns.complinks.co/stores/index/6789 and they are showing the secure lock icon.

Seems like it is only from the ones that I added new header images to yesterday.  Here is another one that I uploaded yesterday that is

[2017-06-09 14:28] cgladue commented on #202
its the advertisement on the right side at the very bottom, its loading a http:// instead of https:// image which is coming from CJ or LS.

![image](https://user-images.githubusercontent.com/7914133/26979837-3b11f340-4cfe-11e7-985a-9bdb751cdb7a.png)

let me take a look about always replacing http:// with https:// when i pull the url, hopefully they have both available otherwise it will not show up

[2017-06-09 14:29] cgladue commented on #202
its available in https also, wonder why they didnt just use the https version, oh well:

https://www.awltovhc.com/image-8235261-10760351-1462979928000

[2017-06-09 15:31] cgladue commented on #199
@robgpeak Published

[2017-06-09 15:31] cgladue commented on #145
@robgpeak published

[2017-06-09 15:36] cgladue commented on #202
@robgpeak take a look now ?

[2017-06-09 15:53] #199 closed

[2017-06-09 16:36] robgpeak commented on #202
cool

[2017-06-09 16:36] #202 closed

[2017-06-09 17:03] cgladue commented on #201
This seems to have broken recently, used to work fine.  The /account/Login views were converted to angular and partial views, so assigning to Chris and Derek to resolve.

[2017-06-09 17:36] robgpeak commented on #196
Here is a site that you can test our site in multiple devices live in real time...  https://www.browserstack.com/responsive  just click Live in the top nav area.  I hope it helps.

[2017-06-09 17:55] robgpeak opened #203 "Can't drag store image from excluded featured section to included featured section if there are no stores already in the included featured list"
@cgladue the particular category is https://shop.complinks.co/admindashboard/advertisers/setAdvertiserDisplayOrder/152 but there may be others...

[2017-06-09 18:42] robgpeak opened #204 "CJ Advertiser API might need to be looked at"
@cgladue There might be an issue with the API for a commission that is missing.   The advertiser in question is CVS https://shop.complinks.co/admindashboard/advertisers/edit/6820

 I had to make a screencast to show you what happened, as it is easier than trying to type it out.  Basically, it seems like it missed a new offer, which is replacing an expiring offer...

https://screencast.com/t/z8Vmfi

[2017-06-09 19:04] robgpeak opened #205 "Changing the the word Redeem to Transfer"
We need to change the terminology of Redeem to Transfer as it relates to points.  It is confusing the way it is written and understood from a casino rewards member standpoint.  They will be "transferring" from Rewards Everywhere to the casino's rewards program, and then "redeem" at the casino.

We are going to take a page from American Express on their Member Rewards system, and when someone wants

[2017-06-09 19:18] cgladue commented on #205
Only issue would be the redemption on the casino side will happen automatically which based on Amex wording isn't the case for them

I for one don't see the wording as confusing.  And having different terminology for different rewards might be complicated.  But who knows that's me.

[2017-06-09 20:18] robgpeak commented on #205
Redemptions never happen automatically on the casino side, ever.  In any casino. Any time someone earns points in a casino rewards program for playing in the casino, those points would just sit in a users casino rewards balance until she does something to redeem them.  i.e. use them towards a hotel room, or food and beverage credit, etc.

So when we transfer points from Rewards Everywhere to the C

[2017-06-09 20:24] cgladue commented on #205
true, its semantics and depends on the perspective, but i get what your saying tho

[2017-06-09 20:36] robgpeak opened #206 "Change to term Redemptions to Points History"
We need to change the word Redemptions to Points History on the /myredemptions page and corresponding menu items in both the drop down menu when someone is logged in (top right of the screen), and also the menu that appears on the left when someone is in their "my account" section.

Changes to the menus and icon on the menus: (only one of the menus is in this image below, but it needs to be in bot

[2017-06-09 20:40] robgpeak commented on #206
Shit, just realized that the icon next to the "Redemptions" that will be changed to "Points Transferred" needs to be changed as well.  Please change it to https://material.io/icons/#ic_done_all  (two check marks)

[2017-06-09 20:52] robgpeak opened #207 "Adjustment to the /account/dashboard page"
Slight verbiage change and icon swap:  Actually, maybe it should read "Most Recent Point Transfers".  Singular on "Point" instead of Points Transfers.  Yeah, let's do that.

![uploads/ca1b8ba6-3a23-4ab8-b42d-bb9945488052/Screen Shot 2017-06-09 at 4.47.27 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fca1b8ba6-3a23-4ab8-b42d-bb9945488052%2FScreen+Shot+2017-06-09+at+4.47.27+PM

[2017-06-09 20:57] ChrisASearles commented on #170
This has been "materialized" and "angularized" and should be good.

[2017-06-09 20:58] ChrisASearles commented on #170
Spoke too soon.

[2017-06-09 21:05] ChrisASearles commented on #170
Ok, was missing ticks, should be all good.

[2017-06-09 21:07] ChrisASearles commented on #170
Damnit ...

[2017-06-11 15:22] robgpeak opened #208 "All the "Featured Stores" as a category in the Order List moved to the "Exclude" side seemingly on their own, except 2 of them"
@cgladue before I go in and fix it, I wanted to see if you might know why this would have happened?  Look at the home page, and then https://shop.complinks.co/admindashboard/advertisers/setAdvertiserDisplayOrder/153

It seems to be the only category this happened with.

[2017-06-11 15:47] cgladue commented on #208
im  not sure what im looking for, it looks ok ?

Chad Gladue
*DevNull Technology, LLC*

On Sun, Jun 11, 2017 at 11:22 AM, robgpeak <notifications@github.com> wrote:

[2017-06-11 15:51] robgpeak commented on #208
There are only two in the "Included" section, but there were 18 or so when Morgan finished on Friday.  I am not sure what happened...

<img width="1110" alt="screen shot 2017-06-11 at 11 49 49 am" src="https://user-images.githubusercontent.com/28393235/27012362-46dc4f46-4e9c-11e7-91c5-2fce8659bf41.png">

[2017-06-11 15:52] robgpeak opened #209 "Adding bulk edit to AdminDashboard/Advertisers/Ads/ page"
@cgladue Just like the bulk edit feature on the links page for the advertisers, I would like to have the same bulk edit functionality with the checkboxes.

[2017-06-11 15:53] cgladue commented on #208
oh, remember you said if the display order is 0 then dont show them, its
because all the other ones are in the excluded column (that means display
order = 0)

Chad Gladue
*DevNull Technology, LLC*

On Sun, Jun 11, 2017 at 11:51 AM, robgpeak <notifications@github.com> wrote:

[2017-06-11 15:58] robgpeak commented on #208
Yeah, but they WERE dragged into the "Included" side, and ordered in the right order, and they were showing up fine on the front end at the end of the day on Friday when her and I looked at it, and then something seems to have happened, and now only those two are showing on the Included side, and now only those two are showing on the front end.

[2017-06-12 03:08] cgladue commented on #176
@robgpeak i know its not done yet, like the date selector etc, but is this going in the right direction?

https://shop.complinks.co/admindashboard/transactions/comission

[2017-06-12 03:17] robgpeak commented on #176
Only looked on my phone, but yeah I think that is the right direction.

[2017-06-12 12:13] robgpeak commented on #196
@ChrisASearles This issue has to move up the priority list to get resolved ASAP.

[2017-06-12 13:47] ChrisASearles commented on #170
Committed.

[2017-06-12 13:48] robgpeak commented on #208
@cgladue Moran just told me that the other potential issue was that she added new header images to all of those that were in "included" and then they subsequently move to excluded on their own after she added a new header image.  Best Buy and Autozone header images were added a few days earlier, and that is the reason they were not moved over to excluded.

So that seems to be the issue some how...

[2017-06-12 16:34] robgpeak commented on #208
@cgladue  So it is also happening site wide. Meaning, just now, @morganpeak added a new header image for a specific store "Zales" which prior to her adding the header image to that specific store page, WAS in the "Included" (left) side of the Order List, then after she added the header image, it moved itself over to the "Excluded" (right) side.

[2017-06-12 16:37] cgladue commented on #208
ok, i am looking at it right now, i am probbally overwriting that field with a 0 when saving .. hold off the header images for a few till i look at this more...

[2017-06-12 16:44] morganpeak opened #210 "Linking store logos from featured deals"
On any of the featured (category_name) deals the logos should also click through to the corresponding store index page. Just like the link and the X points/$ also does.

[2017-06-12 17:27] cgladue commented on #208
@robgpeak @morganpeak i believe i found the bug, i was removing all categories and re-adding them each time an advertiser was saved, therefore resetting to default of 0 when saving .. now i only remove if not in the category anymore.

[2017-06-12 17:38] robgpeak commented on #111
@cgladue We just noticed about 100 "New Advertisers" in the Activity Stream, and I know "joined and notjoined" are for internal informational purposes, and @morganpeak  can mark the ones that she verifies from the linkshare site have actually approved us as "Active" "True", but in the manual procedure that Morgan goes through for her routine in managing the advertiser relationships, it would be he

[2017-06-12 18:03] cgladue commented on #111
@robgpeak @morganpeak This has been added.

[2017-06-12 18:33] robgpeak commented on #111
Thanks

[2017-06-12 18:38] #208 closed

[2017-06-12 19:42] cgladue commented on #203
need to set minimum height on this DIV

[2017-06-12 19:43] cgladue commented on #170
@robgpeak Published

[2017-06-12 19:45] cgladue commented on #172
@Dwells7583 timezone is not going in for go live, it will be done later, so ignore my previous comment.

[2017-06-12 19:51] robgpeak commented on #170
If there are less than 10 digits entered into the field, and someone clicks "Update Info", there is a green check mark saying the profile has been updated, but the phone number field still remains empty.  There should be an error message saying there must be 10 digits.

[2017-06-12 19:59] robgpeak opened #211 "Putting the categories in the nav, in alphabetical order"
I would like to have the categories in alphabetical order

[2017-06-12 21:04] cgladue commented on #211
@robgpeak i took care of this, please review now.

[2017-06-12 21:05] robgpeak commented on #211
Thanks Chad

[2017-06-12 21:09] robgpeak commented on #211
Not to be a douche, but ONLY if it is an easy fix, can you make it alphabetically going down in column 1, and then continuing in columns 2 and 3 that way.  This would be more in line with how it responds from within the hamburger menu.

[2017-06-12 21:10] cgladue commented on #211
you are such a douche rob...

just kidding 😛

that would have to chris's realm since that would require the layout of the list to change, but should be trivial i would assume.

[2017-06-12 21:15] robgpeak commented on #211
LMFAO...  Don't I know it :)

OK.  Not super pressing, but again, for continuity sake, I think that's the way it should be.

[2017-06-12 21:17] cgladue commented on #211
i agree, it makes more sense top to bottom left to right then left to right top to bottom anyways.

[2017-06-13 12:49] robgpeak opened #212 "An issue with points awarded from Yoshop (LS advertiser)"
@cgladue First the "Great News". I placed a couple of real orders...  One from Vitamin Shoppe at 4:46 PM yesterday (Shopping trip 683), and the commission came through about 30 minutes after the order was placed, and the commission and points were exactly as expected!!!  Awesome.

There was a slight issue with another order I placed with YoShop.

First, I actually placed the order from the Shoppin

[2017-06-13 12:57] cgladue commented on #212
I will def. look at the double credit.  I always knew I'd have to handle returns when I saw them the first time. Because there's no testing that Jc and Las provide and I'm not sure how the data will come across.  So I'll look at the data in the API and see if this can solve that issue.

[2017-06-13 12:59] robgpeak commented on #212
Ok.  And I will make some additional purchases and return them so we can see what they look like in each network.

[2017-06-13 16:20] robgpeak commented on #212
As a follow up, and possible remedy to the "Discount" credit issue from YoShop (which I really don't like the look of it), would be, IF the "Order ID" reported from the network is exactly the same, and processed at the same exact time, we do the calculation on our end and only show the one "Credit" of points to the end user.

[2017-06-13 18:28] robgpeak opened #213 "Being able to change setAdvertiserDisplayOrder/ for each individual partner"
This is something that will need to happen in the future.  If we close Sycuan Casino in San Diego for example, and there are no Macy's within a 150 radius (again, as an example), that would mean it is not as strong of a brand in that region, and therefore, less likely to convert to sales.

So I think the setAdvertiserDisplayOrder/ for all categories, including the featured category should initiall

[2017-06-14 00:27] robgpeak commented on #212
@cgladue as even more follow up, The purchase I made on 6/1/17 from cvs pharmacy also had a 30% savings coupon, but cj or cvs itself combined the two transactions into one, and just reported the single total price that I paid.  Makes way more sense that way, but obviously either LS and/or YoShop does not do it that way.

[2017-06-14 00:43] robgpeak commented on #212
Damn, here is another little wrinkle to consider...  Have a look at the first image, and you can see that the same shopping trip to Best Buy shows up twice.  It only shows up twice AFTER the report from ls (the second screenshot) showed the transaction, but notice it is NOT showing the commission yet, because the items I ordered are not going to ship until the 20th of June.

When I placed the orde

[2017-06-14 00:48] cgladue commented on #212
ok, as for the trips it will always take the last trip that you started to use in the cookie to the advertiser, so if you click twice the last one should be the trip that gets reported to the advertiser in either the SID for CJ or th u1 parameter in LS... eventually the trips that never produce any commission will be "deleted" so they dissapear from the trip view.

as for the discounts and stuff,

[2017-06-14 16:14] robgpeak commented on #81
@cgladue I know @ChrisASearles is busy with making the front end site look good on iphone/safari, and I wanted to start (or continue) this thread with how we are going to import/sync the user data into MailChip from our db.

I was just in https://shop.complinks.co/admindashboard/users and downloaded the csv file just to see all the fields, and I think they look great, and are exactly what we need.

[2017-06-14 17:40] robgpeak opened #214 "Not allowing duplicate emails with the same partner at the same subdomain, but allowing it at other subdomains"
I think we spoke about this in the past, and the idea is that an email address should be unique to each partner.  Meaning, chadgladue@gmail.com is signed up as a member of CompLinks through the subdomain "shop", and would NOT be able to register for another account using that email address at shop, but COULD at doverdowns, or any other subdomain.

If chadgladue@gmail.com attempts to register anoth

[2017-06-14 17:54] robgpeak opened #215 "Ability to "Block" user access to the sites"
We need to have the ability on the page https://shop.complinks.co/admindashboard/users/edit to "Block User Access".  This is mainly to be able to block end users from accessing the site if they are abusing the system, i.e. earning points from large purchases, exchanging points, and then returning items or charging back on their credit cards...

If some is blocked, they would see a page (overlay) l

[2017-06-14 19:08] robgpeak commented on #81
As a follow up to this, It is important that for the purposes of building the email lists for each casino partner, we have the lists segmented by the “Partner” on our side first, before we even sync it with Mail Chimp, so there is no confusion of list segmentation within MailChimp.

I have set up two separate lists in MailChimp to get us started, and created to mock templates.  One for Shop - Comp

[2017-06-15 01:38] cgladue commented on #212
i basically changed it to sum the comission and sale amount by orderId, so since discount and sale transaction have the same orderid it basically subtracted discount from sale and just records the sale.

[2017-06-15 01:46] cgladue commented on #203
check it now, i believe the div has a minimum size now and should let you drag and drop if nothing is in it.

[2017-06-15 01:46] #212 closed

[2017-06-15 01:51] robgpeak commented on #203
I am out at the moment, and it does not work on my phone.

[2017-06-15 02:42] robgpeak commented on #203
Works now.

[2017-06-15 02:42] #203 closed

[2017-06-15 16:52] robgpeak commented on #135
@cgladue this one would be helpful as well.

[2017-06-15 20:08] cgladue commented on #81
@robgpeak @morganpeak, i have completed the integration of mailchimp, when a new user signs up if the list for that subdomain does not exist on mailchimp the site will create it for you automatically, and add all the fields you created to the list.  It will then add the user and populate those fields with the users data.  If the user then goes into their profile and adds/updates or removes informa

[2017-06-15 21:23] robgpeak commented on #149
I am not sure who would do this, but this functionality should be in place even for unauthenticated users.  Currently if I am NOT logged in, it reads, "Your favorite casino..." instead of "Capital Club®" (or whatever the casino partner name is), and it should.

[2017-06-15 21:26] robgpeak commented on #81
works great @cgladue thanks.  Now we just need a way to allow the end user to change their email preferences in our back end (the user's My Account section) and have it sync with MailChimp, and vice versa.  When someone unsubscribes from a link at the bottom of the email, it should show up as "opted-out" in our back end.

[2017-06-16 17:26] robgpeak opened #216 "Completed shopping trip (Completed meaning ending with a purchase) not showing up in our back end as completed."
@cgladue Shopping trip 694 and purchase that I made on 6/13/17 was posted in the LS report on the 14th, but it is not showing up in our back end as a completed transaction.

![uploads/2f816092-1f5d-493f-9386-74594e23f062/Screen Shot 2017-06-15 at 9.49.54 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2f816092-1f5d-493f-9386-74594e23f062%2FScreen+Shot+2017-06-15+at+9.49.54+PM

[2017-06-16 18:12] robgpeak opened #217 "Slight change to the "Phone Number" section on My Account page"
@cgladue I know you are probably still working on this, and maybe I am jumping the gun, but I would like to remove the words "Phone Number" from the actual field entry area, and have it appear above the field entry area, so it is consistent with all the other fields in that section of the site.  Please DO leave the brackets and formatting feature in the field, as I think it looks good in there.

!

[2017-06-16 18:33] robgpeak commented on #81
Hey @cgladue Please look at these to images and see if I am putting the correct mailchip data in the correct place in cloudflare

![uploads/7592f9a6-6220-4f12-a4ab-ca54dd47987c/Screen Shot 2017-06-16 at 2.31.30 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7592f9a6-6220-4f12-a4ab-ca54dd47987c%2FScreen+Shot+2017-06-16+at+2.31.30+PM.png)

![uploads/ad58f222-8b6c-428b-8c60-26d

[2017-06-19 15:33] robgpeak opened #218 "Update Hero image callout text for both authenticated and unauthenticated users"
I would like to add the lines of text below them hero image callout text areas:

Unauthenticated: "When You Purchase Everyday Items From Our Merchant Partners"
ALSO, please make the "a" in the main copy a capital "A" ... "Earn Rewards Everywhere 365 Days A Year"

![uploads/7fef90f0-2833-4462-9c5a-10c88b1b9a59/Screen Shot 2017-06-19 at 11.27.55 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboar

[2017-06-19 15:47] robgpeak commented on #216
Hi @cgladue any feedback on this?

[2017-06-19 15:53] cgladue commented on #216
Yep this is because this merchant reports in batches and not realtime, Linkshare for realtime transactions reports the transaction twice, once with "is_event" set to yes and once with it set to no, so i filtered to only act on the transactions on is_event = true .. but aparently for batch transactions is_event is always no, so i will change my logic to require is_event = true only with transaction

[2017-06-19 16:20] robgpeak commented on #81
Hi @cgladue I wanted to start messing around with Mailchimp to streamline and automate the process, but I wanted to see if you can look at my last post and see if the settings are correct?

[2017-06-19 16:25] cgladue commented on #81
@robgpeak yes it appears you did exactly as they have asked...

[2017-06-19 16:29] cgladue commented on #81
@robgpeak i have also disabled the email that gets sent from complinks site when someone registers, so they should only get the mailchimp email now.

[2017-06-19 16:32] robgpeak commented on #81
Ah, OK, cool on both fronts.  Seems as if I forgot to go back to mailchimp and click the Authenticate button.  All good on that end now.  I will run some tests.  Thanks.

[2017-06-19 16:34] robgpeak commented on #81
@cgladue I think we might need some adjustment to this process for better UX.  As it stands now, if I go into the My Account section and check the box to "Receive Email" I see the message at the top of the screen saying "Please check your email..." I would like to add the line, "...This may take a few minutes."  (actually, I checked the checkbox on my account ~20 minutes ago, and have NOT received

[2017-06-19 16:36] robgpeak commented on #81
Also, from a UX perspective, if it is possible (and easy) to have the My Account section in the image shown above say something like "Pending" next to "Receive Email" which would mean, the user would see that they requested a change, but it has not been completed yet until the email has been received and the link was clicked...

[2017-06-19 16:37] cgladue commented on #81
i had to remove all the lists that were imported because of the permissions on the record it only worked when the site created the list itself... so you dont have a record on the mailchimp list probbally, i will add something in there that will add you to the list if you dont exist already if you opt in ... which is special in this case because when you unsubscribe from the list, you still stay on

[2017-06-19 16:38] robgpeak commented on #81
understood

[2017-06-19 16:57] cgladue commented on #81
ok i have made the change, next time you "update" your profile it should add you to mailchimp because it detected you arent on the list.

[2017-06-19 17:00] robgpeak commented on #81
OK.  Just updated My Account to "Receive Email", let's see how long it takes for me to receive the email to click the link...

[2017-06-19 17:05] cgladue commented on #81
i see you in the mailchimp API now, so the email should of gone out...

`"members": [
        {
            "id": "333c8eb1a55660d8c0d8aeef4bf09c79",
            "email_address": "robg@peakmarketing.com",
            "unique_email_id": "adf5321275",
            "email_type": "html",
            "status": "pending",
            "merge_fields": {
                "FNAME": "Rob",
                "LNAM

[2017-06-19 17:11] cgladue commented on #81
Looks like you just subscribed.

"members": [
        {
            "id": "333c8eb1a55660d8c0d8aeef4bf09c79",
            "email_address": "robg@peakmarketing.com",
            "unique_email_id": "adf5321275",
            "email_type": "html",
            **"status": "subscribed",**
            "merge_fields": {
                "FNAME": "Rob",
                "LNAME": "Gallo",
                "MME

[2017-06-19 17:20] cgladue commented on #81
@robgpeak did you change the list name from shop.complinks.co ?  that is kind of needed to match the subdomain name so that the system can locate the proper list to use for each subdomain automatically, therefore not requireing any manual work from CL staff to function.

[2017-06-19 17:28] robgpeak commented on #81
I did.  Trying to figure out how to eliminate the "manage your preferences" button on the page

<img width="925" alt="screen shot 2017-06-19 at 1 11 56 pm" src="https://user-images.githubusercontent.com/28393235/27296973-0c16591e-54f1-11e7-8bca-445fbad0bfa7.png">

I went to the "Signup Forms" section and in the dropdown, clicked on "Confirmation thank you page" and I can edit the content of the bo

[2017-06-19 17:30] robgpeak commented on #81
Yes I did just change the name because it shows up on the confirmation page, and it does not look right.  We might have to think of a work around...

[2017-06-19 17:31] cgladue commented on #81
hmm wonder if its part of the spam legislation to have to provide a user the ability to manage their preferences ?

do you think you can change the list name back to shop.complinks.co otherwise the integration will be broken since it wont know what list to use

[2017-06-19 17:35] robgpeak commented on #81
This is how the email message shows up to confirm when the name of the list is the subdomain, and it looks pretty lame to an end user...

<img width="560" alt="screen shot 2017-06-19 at 1 33 03 pm" src="https://user-images.githubusercontent.com/28393235/27297729-119891b0-54f4-11e7-8222-da5c5c92def8.png">

What is we use the List ID? (shown over on the right hand side of this image)

<img width="10

[2017-06-19 17:36] robgpeak commented on #81
Meaning, would it be possible to use that exclusively instead of the list name?

[2017-06-19 17:38] robgpeak commented on #81
Another thing, does eliminating the SES email mean that we are NOT able to check our db to see if that email address already exists?  Meaning, we still don't want to allow people to have multiple accounts on the same subdomain.

[2017-06-19 17:40] cgladue commented on #81
no, because if the program even gets that far where it would of sent the email then the user registration was already successful, if the email already existed then it would of failed before that point.

[2017-06-19 17:43] cgladue commented on #81
@robgpeak what if instead of the subdomain name i looked for a list named "<Partner Name> Rewards Everywhere"  so for dover downs i would expect to see a list (and create it if it didnt exist) 'Capital Club® Rewards Everywhere'

[2017-06-19 17:50] robgpeak commented on #81
I suppose that would work.  The idea is that the naming convention of the lists would be {Casino_Partner_Name} Rewards Everywhere.  So "CompLinks™ Rewards Everywhere" would be the subdomain shop.complinks.co, 'Capital Club® Rewards Everywhere' would be doverdowns.complinks.co, 'Foxwoods® Rewards Everywhere' would be foxwoods.complinks.co, etc.

[2017-06-19 17:53] cgladue commented on #81
![image](https://user-images.githubusercontent.com/7914133/27298425-8ecf5e14-54f6-11e7-9db6-aec922227f53.png)

it would be based on this column .. so it would be the NAME colum plus "Rewards Everywhere" .. is that ok ?

[2017-06-19 17:53] robgpeak commented on #81
yes

[2017-06-19 18:02] cgladue commented on #81
ok, the list names now will follow the above naming convention and shouldn't be manually changed.

[2017-06-19 18:04] robgpeak commented on #81
ok

[2017-06-19 18:12] robgpeak commented on #81
So I just signed up for another account at shop.complinks.co using the same email address I had used before (robg@peakmarketing.com) and it let me sign up.

Then the mailchimp opt-in confirmation email I received was NOT the one that was in the back end of mailchimp.  Confusing...  https://screencast.com/t/th3uM6QqO

[2017-06-19 18:24] cgladue commented on #81
the signup is expected because originally i was validating only the user part of the email address (the part before the @ sign) to be unique and recently i am now validating the entire address, so it would be different then the first account you registered, now if you tried a third time you should get a blank white page (due to an error that chris and derek caused when they modified the register s

[2017-06-19 18:29] cgladue commented on #81
![image](https://user-images.githubusercontent.com/7914133/27299837-a038334c-54fb-11e7-852c-7cc900e55519.png)

you can see the old format usernames created by the site up till last week,  the two accounts you just registered you can see the new format where the username takes into account th eentire email address, not just the user portion.

[2017-06-19 18:31] cgladue commented on #216
@robgpeak please take a look at your shopping trips and see if the total is correct now.

[2017-06-19 18:35] robgpeak commented on #81
Gotcha.  Just tried it, and it works as expected.  Meaning it comes back with a white page, that Chris and Derek would just put something there that says, "It looks like you already have an account registered with that email address, please log in...  If you forgot your password, click here..."

[2017-06-19 18:59] #216 closed

[2017-06-20 12:11] robgpeak commented on #196
@ChrisASearles I mentioned this to, and showed the site to a friend of mine who knows code, and for what it's worth he said, "...I think if they make sure they’re declaring the correct bootstrap responsive classes… and apply “clearfix” to some of the elements it should help…

but yeah the site is throwing a few errors and a handful of warnings according to my debug console"

[2017-06-20 19:57] robgpeak commented on #81
@cgladue as a follow up to an earlier post on this thread, we need to figure out a way to eliminate the  "manage your preferences" button on the confirmation thank you page.

First off, it does not work as expected.  Meaning, on my account 100051 I updated my first and last name using the mail chimp button on the confirmation page, and it DID update my name in mail chimp, but it did NOT pass throu

[2017-06-20 20:02] cgladue commented on #81
it should update our DB if they update it in mailchimp, if the list is new i have to configure one thing that there is no way to configure problematically, what acct# did you to the update on ?

[2017-06-20 20:19] robgpeak commented on #81
#100051 dd4_test@peakmarketing.com  But before we go through all of this anyway, I think we might want to have a discussion about the total amount of data we are going to collect.  We heard back from Dover Downs, and they had concerns about us collecting any more user information.  This might have to start in another thread, but again, I would like to have a verbal discussion with you.  Maybe you

[2017-06-21 15:00] cgladue commented on #135
@robgpeak this should now be set to 1 year (there has to be a timeframe set for the authentication cookie) before the authentication cookie expires.

[2017-06-21 15:32] robgpeak commented on #135
Cool.  I will test it and close the issue in a year after I see that it works as expected:)

[2017-06-21 16:19] robgpeak opened #219 "PepperJam Integration"
@cgladue We were just approved on the Pepperjam network, and I will start putting some things in this thread to consider with the integration of this network and it's advertisers into our back end.

I just added you as a user on the Pepperjam account, so you should be able to log in and see what they have in terms of APIs and the formatting of their data feeds.

[2017-06-21 17:08] ChrisASearles commented on #56
Committed.

[2017-06-21 17:12] ChrisASearles commented on #201
Fixed the error with the blank page.

@cgladue on an unrelated note, while looking to make sure the bounce was happening properly I noticed there's no Authorize attribute on the TripsController (TripController is good), not sure if you're using that anywhere but if so it looks like it should probably only be accessible to an authorized user.

[2017-06-21 17:21] cgladue commented on #56
@robgpeak published

[2017-06-21 17:22] cgladue commented on #201
@robgpeak published

[2017-06-21 19:17] robgpeak commented on #56
I like the little ? at the bottom of the page.

Two things @ChrisASearles

1. I see that it is powered by Groove (which is fine), but were does the actual form get sent to?  Meaning, I did a test, and it DOES show up in Groove, but it does NOT show up in either support@complinks.co or info@complinks.co, which I think it should, only because then there is a backup failsafe version of the original e

[2017-06-21 19:21] #201 closed

[2017-06-21 21:42] ChrisASearles commented on #102
Just pushed up some fixes across the board that should solve (I believe) all of the flexbox layout issues we've been seeing. My iPhone emulator is showing some issues but I can't test live to see if it's just a problem with the emulator until these get up live.

[2017-06-21 21:43] ChrisASearles commented on #152
Related to the same problem reported in #102

[2017-06-21 21:43] #152 closed

[2017-06-21 21:45] cgladue commented on #102
@ChrisASearles @robgpeak just published the changes

[2017-06-21 21:45] ChrisASearles commented on #130
This actually just got magnified a bit by the fix I just pushed to reorder the columns for you, unfortunately I'm not sure what the solution is going to be yet as I believe it's a bug in Angular Material. I'm going to reach out to that team to see what's going on there.

[2017-06-21 21:48] cgladue commented on #214
@robgpeak i believe this is already resolved

[2017-06-21 21:50] ChrisASearles commented on #196
@robgpeak we're not using bootstrap, as I reported previously this is a bug in Safari's implementation of the flexbox spec so we were trying to find a solution that addressed the current problem but wouldn't cause problems of it's own when they fix their bug. I think we got it sorted out, this is a dup of #102.

[2017-06-21 21:53] ChrisASearles commented on #217
This is a bug I fixed a while ago, not sure how it made it's way back here ...

[2017-06-22 01:22] ChrisASearles commented on #200
Committed

[2017-06-22 01:31] ChrisASearles commented on #190
@robgpeak what's the status on this?

[2017-06-22 01:52] ChrisASearles commented on #211
This never got reassigned to me but it was included in the update I pushed up today to fix the nav in Safari

[2017-06-22 01:57] ChrisASearles commented on #81
@robgpeak is this still in review or are we good on this?

[2017-06-22 01:59] ChrisASearles commented on #215
@cgladue this should be pretty easy, I think there's already an IsLocked field in the Identity stuff, right? (usually reserved for too many failed login attempts but could be applied here b/c I think the logic is already built into the login if that flag is set)

[2017-06-22 02:38] ChrisASearles commented on #217
Looks like this broke when that email opt-in checkbox was added. It broke a couple other things in the layout too. I pulled that out into it's own "Communication Preferences" section and changed it from a checkbox to a switch.

That functionality seems to still not be quite right though ... but this issue has been fixed.

[2017-06-22 02:39] cgladue commented on #217
what functionality is not right ?

[2017-06-22 02:53] ChrisASearles commented on #56
@robgpeak Number 1 above I don't have any control over, that's all their code and integration point and I customized it as much as they allowed. You'd have to contact Groove to see what options you have for email notifications.

Number 2 I might be able to hack together, let me give it a shot.

[2017-06-22 02:55] ChrisASearles commented on #217
Looks like it's the same thing @robgpeak reported in #81 where it doesn't actually set the value, it asks me to check my email and confirm and comes back as not subscribed.

[2017-06-22 02:58] cgladue commented on #217
yea thats how it works, when they opt in they have to confirm the opt in via the email they recieve, which then does a post back to our site to update the opt in value to true..

[2017-06-22 12:33] robgpeak commented on #214
We need to change the verbiage that appears at the top of the https://shop.complinks.co/Account/Register page if our system detects someone is trying to register with an email address that is already in our db for that subdomain.

Currently it shows this:

<img width="759" alt="screen shot 2017-06-22 at 8 07 41 am" src="https://user-images.githubusercontent.com/28393235/27433322-36026988-5722-11e7

[2017-06-22 12:49] robgpeak commented on #172
This looks OK, except for the lack of a dropdown for the state field.  Having said that, we are going to need to (for now), hide all these fields from the end user's view.

We got feedback from Dover Downs, and they are weary of their user's information being outside of their own personal database.  To that end, I am going to start a new thread to make the data that we ask for from end users to be

[2017-06-22 12:49] #172 closed

[2017-06-22 12:51] #198 closed

[2017-06-22 12:53] #81 closed

[2017-06-22 12:54] #211 closed

[2017-06-22 13:05] robgpeak commented on #190
The problem is, the similar stores are being replicated...

Please do two separate searches, one for "pet" and the other for "shoe" and you'll see what I mean.

I am not sure I know the right fix at the moment, but the first thing that pops in my mind which might be a simple fix is, if the store is in the search results, don't show it in similar stores, and if it already in similar stores, don't s

[2017-06-22 13:16] ChrisASearles commented on #217
Submitting a comment over on that issue to keep this one clean.

[2017-06-22 13:18] ChrisASearles commented on #81
Picking up the conversation where we left off on #217 ... I'll let you and @robgpeak make the call. From a CANSPAM compliance standpoint if you have the ability to update that field in via the MailChimp API you'd definitely be ok doing so based on that sequence of events of someone actually ticking that box on and saving. Not sure if that's how you're planning on confirming email addresses now tho

[2017-06-22 13:34] robgpeak commented on #196
I did not want to create a different issue for iPhone 6, but if you go to https://www.browserstack.com/responsive and click on "Live" at the top, you can get a free 30 day trial, and you can see what it looks like live on several devices...  And while it looks 95% better than it did, there are still some issue with how certain things are displaying, (or not).

For example, on the home page of shop

[2017-06-22 13:45] robgpeak commented on #81
I will polish up the process and make sure another email comes back to the user to confirm their preference and such.

[2017-06-22 13:48] cgladue commented on #81
Did you happen to change the list name or merge fields ?  That would cause issues on my end.

[2017-06-22 16:46] morganpeak commented on #196
I have an iPhone 7 and when I'm logged in to shop.complinks.co on Safari the user dashboard, account management, rewards, shopping trips, and redemptions pages are all jumbled up. Here is a screen shot of the Manage Account page
![uploads/c2377c08-76e4-4543-95e7-e08d2944c46f/IMG_8911.jpg](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fc2377c08-76e4-4543-95e7-e08d2944c46f%2FIMG_8911.

[2017-06-22 17:06] robgpeak commented on #81
@ChrisASearles MailChimp now sends a confirmation email.  The last message from @cgladue in this thread makes me think this issue should be opened again, but that's up to you.

[2017-06-22 17:26] morganpeak opened #220 "No links in multiple advertisers"
@cgladue I have a list of advertisers that have no links appearing in the back end. Some were added a while ago and some where just added the other day. Here they are:

Kendra Scott- no links
Roku-no links
South Beach Swimsuits- no links
my mold detective- no links
joseph joseph- no links
Globehunters- no links
swiss diamond- no links
downpour.com- no links
izidress- no links
overstock sheet club-

[2017-06-22 21:06] ChrisASearles commented on #214
@cgladue if you want to handle the error message verbiage and then reassign to myself or @Dwells7583 when you're done we'll take care of the front-end stuff (unless you want to just bang that out while you're working on it, your call).

[2017-06-22 21:23] cgladue commented on #81
@robgpeak the errors could of been caused because you removed some of the merge fields from the lists, which means the site sending extra fields and mailchimp may not accept the transaction.  After our discussion i will update my code to reflect the decisions made.

[2017-06-23 13:12] ChrisASearles opened #221 "Login & Password Reset Issues"
I just went to login to the site and wasn't able to. Figured the database might have just been cleaned up so I re-registered successfully, but when I went to login with that account it error'd out. Tried registering again just to make sure I didn't type my email address wrong and I'm getting the correct error message that my account already exists. I tried to use the forgot password functionality

[2017-06-23 13:14] cgladue commented on #221
i am not having any issues logging in... not sure what you are having issues with ... is this on shop.complinks.co or localhost ?

[2017-06-23 13:16] cgladue commented on #221
Also i requested a password reset and was able to do it without any issue,

[2017-06-23 13:46] ChrisASearles commented on #221
shop.

[2017-06-23 13:51] ChrisASearles commented on #221
Just tried again, login still isn't working and I still haven't received a password reset email, not getting filtered into my spam folder. Does the AWS email service give you access to logs to see if it's being sent and if so, can you validate the email address it's sending to?

[2017-06-23 13:52] ChrisASearles commented on #221
Login's not working on my localhost either.

[2017-06-23 13:53] cgladue commented on #221
there must be some strange happening with your login, let me clear you out and have to re-register again, because i just registered, requested a password reset and logged in and no issues...

[2017-06-23 14:46] cgladue commented on #221
i see what it was, i have committed a change and published it, try to login now

[2017-06-23 14:54] ChrisASearles commented on #221
Working now, thanks. What was the issue?

[2017-06-23 14:55] cgladue commented on #221
i never changed the login method to parse the new username format
correctly, i only changed the register method, so if you registered
recently and had the new format username it would fail to find you
correctly.

Chad Gladue
*DevNull Technology, LLC*

On Fri, Jun 23, 2017 at 10:54 AM, Chris Searles <notifications@github.com>
wrote:

[2017-06-23 15:09] #221 closed

[2017-06-23 16:20] cgladue commented on #218
@robgpeak published

[2017-06-23 16:21] cgladue commented on #217
@robgpeak published

[2017-06-23 16:21] cgladue commented on #210
@robgpeak published

[2017-06-23 16:21] cgladue commented on #207
@robgpeak published

[2017-06-23 16:21] cgladue commented on #206
@robgpeak published

[2017-06-23 16:22] cgladue commented on #205
@robgpeak published

[2017-06-23 16:22] cgladue commented on #200
@robgpeak published

[2017-06-23 16:41] #210 closed

[2017-06-23 16:50] robgpeak commented on #217
I see the brackets are in there but the functionality is still not working correctly.  I just entered 6 digits into the field, clicked "Update Info" and saw the green check mark that the profile has been updated, but there was no phone number, and no error message saying a needed to enter 10 digits.

[2017-06-23 16:51] #207 closed

[2017-06-23 16:52] #206 closed

[2017-06-23 16:53] #218 closed

[2017-06-23 16:55] #205 closed

[2017-06-23 16:56] #200 closed

[2017-06-23 18:02] robgpeak opened #222 "An update to Shopping Trips page"
On the page https://shop.complinks.co/trips we need to have either a dropdown at the top right which would include the Month and Year, so someone who ends up having thousands of trips, can easily sort them.
https://app.moqups.com/robg/QSDVx2F07W/edit/page/a1b8e559c

The other thing is, I would like to be able to sort be all the columns.

[2017-06-23 18:33] robgpeak opened #223 "Change the name of the /myredemptions page to /pointshistory"
The page https://shop.complinks.co/myredemptions should be changed to https://shop.complinks.co/pointshistory

[2017-06-26 16:34] robgpeak opened #224 "Adding "Transaction History" section to Points History page"
On the Points History Page, I would like to add a Transaction History section below the Points Transferred section.

The functionality would be that this section would include all the transactions that involve points added to, or taken away from the user's account, whether manually added or automatic.  In the Description section, I have "Item" purchased, and "Item" is a place holder for the actual

[2017-06-26 16:37] morganpeak commented on #220
Two more new advertisers have this same problem:
Oasap - CJ
Healthy Pets - Linkshare

[2017-06-26 17:06] cgladue commented on #220
not sure whyt his started all of a sudden, but im sure its an easy fix

2017-06-26 00:12:47.4108 INFO Processing Links...
2017-06-26 00:12:47.4958 FATAL The remote server returned an error: (401)
Unauthorized.

Chad Gladue
*DevNull Technology, LLC*

On Mon, Jun 26, 2017 at 12:37 PM, morganpeak <notifications@github.com>
wrote:

[2017-06-26 17:09] morganpeak commented on #220
Oh okay I just sent you another email about one that just happened about an
hour ago where other links were pulled from LS but not the ones for a
particular store that just approved us.

Thank you,

Morgan

--

*Morgan Gallo*
*VP Operations*
*Peak Marketing*
*morgan@peakmarketing.com <morgan@peakmarketing.com>*
*Phone: 631-903-1032*
*www.PeakMarketing.com <http://www.PeakMarketing.com>*

On Mon, J

[2017-06-26 20:58] robgpeak opened #225 "Changing the naming convention of the points"
@cgladue as we discussed on the phone the other day, I think we should change the naming convention of the points on the https://shop.complinks.co/account/dashboard page to "Lifetime Points Balance" being the overall amount of points I have ever been awarded for any reason, and "Current Points Balance" which shows my current point balance in my account regardless of how I've come to accumulate the

[2017-06-26 20:59] robgpeak commented on #224
Another feature should be the ability to sort by any column.

[2017-06-27 13:34] #145 closed

[2017-06-27 13:37] #159 closed

[2017-06-27 13:37] #102 closed

[2017-06-27 13:37] #174 closed

[2017-06-27 20:53] robgpeak opened #226 "Please make a change in Partner Dashboard"
@cgladue Please change the word "Redemptions" in the left nav AND as the header of the page to "Points Transferred"

Also please change the icon in both the left nav menu from the diamond, and next to the header word (the gear), to something that fits in with the icon scheme of the back end, but more like https://material.io/icons/#ic_done_all

![uploads/9f04e57f-b157-4634-a660-0a0b3c1f6c65/Screen

[2017-06-28 04:43] cgladue commented on #226
Sounds good I will make these changes.

[2017-06-29 20:01] ChrisASearles commented on #178
I believe all of these are being tracked in #55. @robgpeak can you review and close this issue if that's the case?

[2017-06-29 20:12] #183 closed

[2017-06-29 20:12] ChrisASearles commented on #183
Can't really speak to this, would be more of a question for the quirktools team.

[2017-06-29 20:15] ChrisASearles commented on #224
@cgladue Let @Dwells7583 know when the data is being pushed to the view and he can take it from there.

[2017-06-29 20:19] ChrisASearles commented on #173
Pretty sure we took care of this under another ticket.

[2017-06-29 20:20] ChrisASearles commented on #189
@cgladue any word on this?

[2017-06-29 23:55] robgpeak commented on #173
When we spoke on the phone Chris you mentioned you could change it to a check box instead of a slide thingy.  Could you do that for me please.  Then we can close this issue

[2017-06-30 00:22] #178 closed

[2017-07-06 13:12] robgpeak opened #228 "Should not be allowed to open two accounts with the same email address on the same subdomain"
Just saw this...

![uploads/3add512a-e944-4352-b9e7-3e6268ba8f0b/Screen Shot 2017-07-06 at 9.10.47 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F3add512a-e944-4352-b9e7-3e6268ba8f0b%2FScreen+Shot+2017-07-06+at+9.10.47+AM.png)

[2017-07-06 13:50] robgpeak opened #229 "Google Analytics is not tracking real time reporting"
@ChrisASearles I just installed GA on the corporate site https://complinks.co and it is working fine.  I can see in real time reporting who is on the corporate site, but it does not work on the shop subdomain?

[2017-07-06 17:32] morganpeak opened #230 "Users should not be able to double dip"
With the plethora of cashback and coupon sites out there now, we need to be able to find a way to not allow users to "double dip" say, with Ebates and us. I have a browser extension called Honey that searches the web for promo codes and coupons and applies them automatically (which ebates now does as well) and when I activate my Ebates cashback, Honey tells me that I can't use both. We need to be

[2017-07-06 17:38] morganpeak opened #231 "Retargeting on homepage"
The links for the stores on the right on the home page should eventually be generated for each individual user based on the affiliate's websites they recently visited. So if i recently visited Petco.com, when I visit the shop.complinks.co site I should see Petco right there on the right.

[2017-07-06 19:38] robgpeak opened #232 "Add "Linked Accounts" section to ../account/myprofile page"
We need to have a section below the "Communication Preferences" on the myprofile page called "Linked Accounts", and it should follow the guidelines of https://app.moqups.com/robg/QSDVx2F07W/edit/page/af53607d3 for an unlinked account, and https://app.moqups.com/robg/QSDVx2F07W/edit/page/ab902c755 once an account has been successfully linked to the user's casino rewards program.

[2017-07-06 20:09] robgpeak opened #233 "Error marking redemption as complete"
@cgladue I was in the Partner Dashboard, and I attempted to mark a redemption request as complete, and it gave me a red error message at the top of the page.  Same thing happened in the admin dashboard

[2017-07-06 20:14] robgpeak opened #234 "The action column and action buttons are way off to the right, if at all"
@cgladue  in the tables of the back end on just about every page that has an action column and buttons, is way off to the right, and we need to figure out why and fix it.  And on the ipad, they (the action column and buttons) don't even show up on chrome.

![uploads/e2f0741d-7f47-4d6d-a9a5-99532506d9ae/Screen Shot 2017-07-06 at 4.11.22 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/up

[2017-07-06 22:40] robgpeak opened #235 "Server Error in"/" Application logging in on mobile"
When I am on my phone, but I have not been active for a while (a couple of hours I guess), when I come back to the page and click the head and shoulders icon it takes me to this page https://shop.complinks.co/Account/Login?ReturnUrl=%2Fstores%2Findex%2F6712 and I get a Server Error in"/" Application

You can see it here in action, and the error message...  https://screencast.com/t/zUNcsngfJRM

[2017-07-08 12:26] cgladue commented on #223
should it be /pointshistory ?  because its not really the point point history thats shown on this page, unless you want point history AND transfer history to be shown together on this page ?

[2017-07-08 12:38] cgladue commented on #214
https://forums.asp.net/t/2026833.aspx?How+can+customize+Asp+net+Identity+2+username+already+taken+validation+message+

[2017-07-08 13:10] cgladue commented on #226
@robgpeak published

[2017-07-08 13:11] cgladue commented on #194
@robgpeak published

[2017-07-08 13:11] cgladue commented on #214
@robgpeak published

[2017-07-08 13:14] robgpeak commented on #223
at the moment, the only thing showing on the page is "Points History", so I was just saying the name of the page should kind of match what is the main contents of the page.  Additionally, yes, it should have the transaction history on this page as well.  #224 and that is why I wanted to change the name of the actual page.

[2017-07-08 13:28] cgladue commented on #223
@robgpeak Published

[2017-07-08 15:52] #226 closed

[2017-07-08 15:56] robgpeak commented on #194
Actually, this might be another issue all together, but even though I have enough points to make a transfer, it does not work... So I can't verify the type-o is fixed

<img width="1027" alt="screen shot 2017-07-08 at 11 53 50 am" src="https://user-images.githubusercontent.com/28393235/27986957-6c780392-63d4-11e7-9ae2-90aa550d96b5.png">

[2017-07-08 16:06] robgpeak commented on #214
OK for the verbiage, please change dont to don't.

But it still shows up twice on the page, (meaning the whole line "This email already exists, if you dont remember your password please try the forgot password link to reset it."), and we only want to it appear once.

[2017-07-08 16:08] robgpeak commented on #214
Actually, just looking at what I originally wrote, here is a better line of verbiage instead of "This email already exists, if you dont remember your password please try the forgot password link to reset it."  Replace it with "This email address is already registered, please use the 'Sign In' page to access your account, or reset your password if you forgot it."

[2017-07-08 16:09] #223 closed

[2017-07-08 20:26] cgladue commented on #214
@robgpeak this should be fixed now, take a look

[2017-07-08 20:32] cgladue commented on #220
@morganpeak @robgpeak i fixed and restarted the service, for some reason the password expired, so i set it to not expire and we will try again .. some of the advertisers you listed either have no links peroid or no text links .. the others that do have links should be updated now.

[2017-07-09 02:47] cgladue commented on #190
@robgpeak i have stopped the duplicate similar search results from appearing.

[2017-07-09 12:00] #214 closed

[2017-07-09 12:15] #190 closed

[2017-07-09 12:19] #220 closed

[2017-07-09 12:26] robgpeak commented on #135
I am still being logged out after a certain time period.  Not sure exactly long, but definitely not a year.

[2017-07-09 14:13] cgladue commented on #224
@robgpeak Published

[2017-07-09 14:14] cgladue commented on #233
@robgpeak  this was due to some transactions i deleted in the DB, this is a byproduct of testing, you can try again for a fresh redemption and there should be no issues.

[2017-07-09 15:35] robgpeak commented on #224
We still need the new icon for the Transaction History section as I indicated in my original post to this thread in the image.

Also @cgladue a couple of questions:

1. Can we make the columns sortable?  What are they being sorted by now?

2. In the transaction on 6/14/2017 9:17:13 PM, there is no description...  Do you know what it was?

[2017-07-09 15:39] #233 closed

[2017-07-09 18:38] cgladue commented on #224
@robgpeak

#1 would be a job for Derek and Chris
#2 that comes from the API, in this case it appears they sent in a blank string as the description.

[2017-07-10 14:40] robgpeak commented on #166
@cgladue I wanted to get some feedback from you on some of the comments I made in this thread on this subject.

[2017-07-10 18:14] robgpeak opened #236 "Adding first and last name to sign up form"
As per our conversation a few weeks ago, we want to add the capture if the first and last name of the new customers...  We were supposed to put a task in here but I don't see it.

Here is a document I mocked up for reference.

New User Sign Up

https://docs.google.com/document/d/1NBe2k6vih0llA-KQ8CgmYSAgCKcjXVBOCxg6UGzjkCI/edit?usp=sharing

[2017-07-10 18:16] robgpeak opened #237 "Linking Rewards Everywhere to existing casino rewards Member ID"
I put a document together for more reference

https://docs.google.com/document/d/1OqL56glpVLRNJEMlU0SO9kLrqbWVpCNN2BQM6bGmnX4/edit?usp=sharing

[2017-07-10 19:31] robgpeak opened #238 "Remove User Name fied from partner admin section"
Remove the user name field column from https://shop.complinks.co/partnerdashboard/users

[2017-07-10 19:58] ChrisASearles commented on #232
@robgpeak I didn't think we had any account linking set up yet and were waiting for the first partner to sign on so we could iron out that process with them. @cgladue do we have any content to show here?

@robgpeak if not, are you just looking for something dummy'd in there for your vegas trip to show to the casino?

[2017-07-10 20:01] cgladue commented on #232
the only thing we had was a test page that would process a login to doverdowns.com and return user details to display on the screen... i was waiting for confirmation of who and how we would be validating player accounts to make anything permanent

[2017-07-10 20:28] robgpeak commented on #232
For now the best thing to do would be to mock something up and we can fill in the functionality behind the scenes when we get our first customer. But basically it will do what the Foxwoods play for fun casino currently does to validate someone's rewards account with the casino

[2017-07-10 21:17] ChrisASearles commented on #232
So you just want us to mock in the functionality on those mock-ups so you can drop in anything into those boxes and end up with a linked account?

[2017-07-10 21:18] ChrisASearles commented on #232
Or do you just want every account to show as linked already?

[2017-07-10 21:51] robgpeak commented on #232
No, just build the unlinked account section that would have the fields someone would be able to enter their casino rewards member ID, PIN and birthdate.  We don't need to show every account as linked, or even the functionality, but when we do get the functionality from a casino partner, then of course after we validate that the person is who they say they are, we show the account as linked.

[2017-07-10 23:00] robgpeak opened #239 "Commission transactions are missing"
@cgladue https://shop.complinks.co/admindashboard/transactions/comission is now empty, when there used to be data in there?

[2017-07-10 23:08] robgpeak opened #240 "a better interface for "forgot password""
On the "Sign In" screen (which is a nice overlay to the site), when you click on forgot password, this page (https://shop.complinks.co/account/forgotpassword) appears full screen, and I think it would look way better if it was in the same 'overlay' style and format of the Sign In and Sign Up overlays...

The same would hold true for the https://shop.complinks.co/Account/ForgotPassword page.  It to

[2017-07-11 00:31] cgladue commented on #239
Take a look again, it was due to more invalid test data (we will be clearing all users and data prior to actual release to keep this clean

[2017-07-11 00:44] robgpeak commented on #239
cool.  One thing we will have to do is have the ability to break down all those fields into sub sections for the subdomains.  Meaning, we would need to see ALL as it is now, but then just Doverdowns, foxwoods, etc. separately.  Should I start a separate issue for that?

[2017-07-11 00:48] cgladue commented on #239
yea if you dont mind it would help keep it from getting lost

Chad Gladue
*DevNull Technology, LLC*

On Mon, Jul 10, 2017 at 8:44 PM, robgpeak <notifications@github.com> wrote:

[2017-07-11 00:56] #239 closed

[2017-07-11 01:02] robgpeak opened #241 "Breaking down commission transactions by casino partner"
We need to have the ability to break down all the fields on the page https://shop.complinks.co/admindashboard/transactions/comission into sub sections for the subdomains. Meaning, we would need to see ALL as it is now, but then just Doverdowns, foxwoods, etc. separately.

I think the best way to accomplish this might be through a dropdown that has all the partners already in the options of the dro

[2017-07-11 21:19] robgpeak commented on #55
@ChrisASearles this one is now two months old, and really should have been resolved by now.

To recap:
1. We want to have the slide bar default the little round circle to the left.
2. The number on the left would start with the smallest amount of Rewards Everywhere points that cold be transferred, (in this case 1000), and show the number of {Casino_Name} points it would be converted to upon transf

[2017-07-12 14:16] cgladue commented on #237
@robgpeak published

[2017-07-12 14:26] robgpeak commented on #237
OK.  Two things:

1. Can you make it NOT default to include the email address and password on the fields.  Just leave them blank when you get to the page.  When I got there I saw this:

<img width="821" alt="screen shot 2017-07-12 at 10 26 13 am" src="https://user-images.githubusercontent.com/28393235/28122570-92bcb29e-66ec-11e7-8612-c5a7e37e155b.png">

2. Can you make the Linked account section l

[2017-07-12 14:29] cgladue commented on #237
its your browser inserting that data in the field, the site dosnt have a default value for those fields.

and #2 @ChrisASearles and @Dwells7583 will have to pretty up

[2017-07-12 14:30] cgladue commented on #236
@robgpeak Published

[2017-07-12 14:40] cgladue commented on #225
@robgpeak Published

[2017-07-12 16:08] robgpeak commented on #236
OK, I see the sign up page now includes the fields for first and last name, but the functionality is lacking.  I will start another separate issue.

[2017-07-12 16:08] #236 closed

[2017-07-12 16:29] robgpeak opened #242 "Adjusting the functionality of the sign up page"
When I attempt to sign up for a new account on the new sign up page with the first and last name, if I enter an email address that is already in the system, but I purposfully (for the sake of testing), enter two different passwords into the password fields, I do NOT receive the message my passwords don't match.

Having said that, I think the first thing it should do is check to see if that email a

[2017-07-12 16:30] robgpeak commented on #237
OK.  So I will leave the issue open for now until he pretties it up.

[2017-07-12 16:35] robgpeak commented on #225
cool.  One other thing, for consistency, I think we need to show the decimal points in the Current Points balance big blue box, as it shows up with the decimals in the top right of the screen...
<img width="1037" alt="screen shot 2017-07-12 at 12 32 21 pm" src="https://user-images.githubusercontent.com/28393235/28128706-9c89c188-66fe-11e7-9808-5231913b1016.png">

[2017-07-12 16:50] robgpeak commented on #149
@ChrisASearles I'm pretty sure this is an easy fix, and it would be nice to have done for my demos

[2017-07-12 18:44] robgpeak opened #243 "image ads not showing up"
@cgladue @ChrisASearles The images for the ads are not showing up on the store's individual index pages.  I have two demos lined up for 3:00pm and another at 4:00pm.  Please see if you can get this sorted out ASAP.  Thanks.

[2017-07-12 18:45] cgladue commented on #243
can you give me a store page that should show an add ?

[2017-07-12 18:46] robgpeak commented on #243
Should have been more specific.  It is only happening (not showing up) on doverdowns...  https://doverdowns.complinks.co/stores/index/6789

[2017-07-12 18:47] cgladue commented on #243
This is what i see when i visit the store page:

is this what its supposed to look like ?

![image](https://user-images.githubusercontent.com/7914133/28134471-0c3152c8-6711-11e7-9b33-497a3c78fc09.png)

[2017-07-12 18:49] robgpeak commented on #243
huh.  Strange.  It is only happening (not showing up) in a private window in firefox...

[2017-07-12 18:51] cgladue commented on #243
maybe go to developer console or debug console or whatever its called on firefox and see if you see any error messages being thrown ... ?

[2017-07-12 19:40] robgpeak commented on #243
I don't see any error messages...  Oh well, bigger fish to fry.

[2017-07-12 19:40] #243 closed

[2017-07-13 15:53] ChrisASearles commented on #196
Commited.

[2017-07-13 16:40] ChrisASearles commented on #55
Committed.

[2017-07-13 16:42] cgladue commented on #196
@robgpeak Published

[2017-07-13 16:43] cgladue commented on #161
@robgpeak Published

[2017-07-13 16:43] cgladue commented on #149
@robgpeak Published

[2017-07-13 16:43] cgladue commented on #118
@robgpeak Published

[2017-07-13 16:44] cgladue commented on #55
@robgpeak Published

[2017-07-13 16:47] cgladue commented on #228
this is already all set, it was from testing that these are duplicate

[2017-07-13 16:47] #228 closed

[2017-07-13 17:08] #161 closed

[2017-07-13 17:14] ChrisASearles commented on #170
Committed. This field will now disable the save button and show an error message if there's something in it that's invalid, otherwise it re-enables with valid content or if it remains empty.

[2017-07-13 17:15] ChrisASearles commented on #217
Committed.

[2017-07-13 17:44] robgpeak commented on #149
@ChrisASearles Should this last comment I just made on this thread have been a new issue?

[2017-07-13 17:49] robgpeak commented on #118
Where can I see an example of the 404 page.  When I go to https://shop.complinks.co/referrals I see the following:

Server Error in '/' Application.

The resource cannot be found.

Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it i

[2017-07-13 17:50] Dwells7583 commented on #149
I will take care of it as part of this one. @robgpeak

[2017-07-13 18:00] robgpeak commented on #55
Close.  Number 1 in my comment two days ago is not done.  "We want to have the slide bar default the little round circle to the left."  Meaning, the Rewards Everywhere points should be at 1000 and the Capital Club points should be at 40 by default.

[2017-07-13 19:31] Dwells7583 commented on #240
@ChrisASearles Can you take a look at this and make sure I converted everything over correctly. It does not seem to send me an email to reset password.

[2017-07-13 20:58] robgpeak commented on #237
Hey @Dwells7583 basically we want to make the linked section look pretty like the unlinked section.  In its own box and more uniformed than what it looks like in the image above in this thread.

[2017-07-13 21:02] #196 closed

[2017-07-13 21:05] #224 closed

[2017-07-13 21:09] robgpeak opened #244 "Icon change on Points History page"
change icon to Transaction History section the /pointshistory page to https://material.io/icons/#ic_check_circle

[2017-07-13 21:13] robgpeak opened #245 "Make all the data sortable by each column"
This might be a broad request, but as a smaller example, I would like all the data in the Points Transfered and Transaction History sections on the page /pointshistory to be sortable by each individual column.

If you can get this functionality in one data set (say in these section on the page I referenced), then can we do it for all data sets.  It just makes sense to have all the data be sortable

[2017-07-13 21:15] #194 closed

[2017-07-13 21:17] #170 closed

[2017-07-13 21:18] robgpeak commented on #173
please change it to a check box

[2017-07-13 21:19] #217 closed

[2017-07-14 00:44] cgladue commented on #238
@robgpeak Published

[2017-07-14 01:21] cgladue commented on #225
@robgpeak Published

![image](https://user-images.githubusercontent.com/7914133/28194276-34484d74-6811-11e7-8a09-1a3e5e4e56d4.png)

[2017-07-14 01:44] cgladue commented on #215
@robgpeak Published, this is under Edit user page.

[2017-07-14 03:16] #238 closed

[2017-07-14 03:18] #225 closed

[2017-07-14 03:23] robgpeak commented on #215
When I put a check in the check box to disable account 100068 I got this error message when I tried to save it.
![screenshot_2017-07-13-23-20-32](https://user-images.githubusercontent.com/28393235/28197023-44aa06a6-6822-11e7-9ee9-6072209c3591.png)

[2017-07-14 15:33] ChrisASearles commented on #56
@robgpeak ended up just doing a direct integration via the Groove API for the support link in the nav. Change is committed.

[2017-07-14 15:37] robgpeak commented on #56
Yeah, that's fine for now.  we'll see how it goes

[2017-07-14 15:37] #56 closed

[2017-07-14 15:40] robgpeak commented on #234
You have both been added as admins on all the accounts registered with your email addresses.

[2017-07-14 15:41] Dwells7583 commented on #234
@robgpeak thanks.

[2017-07-14 15:45] ChrisASearles commented on #173
Committed.

[2017-07-14 15:54] ChrisASearles commented on #240
@Dwells7583 everything is functioning properly on the front-end, it's a bug on the back end.

@cgladue user is coming back as null on the FindByNameAsync method in the ForgotPassword action.

[2017-07-14 15:56] cgladue commented on #240
ok ill take a look, probbally a leftover from when we changed the username format

[2017-07-14 16:04] robgpeak opened #246 "Transaction History section on /pointshistory not showing the 100 points for signing up"
@cgladue I just signed up with a new account to test some email mail chimp stuff, but when I look in myaccount, I see I received the 100 points, but I don't see the transaction in the Transaction History section

[2017-07-14 16:06] robgpeak commented on #215
@ChrisASearles I was not sure who to assign this to, so I gave it to you.

[2017-07-14 16:08] cgladue commented on #215
it will probbally me, i need to see why it did this i can save without an issue

[2017-07-14 16:32] ChrisASearles commented on #130
This is a bug in the Angular Material framework so to get around it for now I disabled the active hover entirely, the ripple effect is still active.

[2017-07-14 17:21] Dwells7583 commented on #149
This is complete.

[2017-07-14 17:24] Dwells7583 commented on #244
This was updated as part of the other ticket.

[2017-07-14 17:27] #149 closed

[2017-07-14 18:46] ChrisASearles commented on #235
I'm not able to reproduce this, are you still seeing this error? I'm thinking it may have been fixed with another update ...

You can force the issue by logging in, clearing your browser cookies (which clears your authentication token) and then trying that button again.

[2017-07-14 18:50] robgpeak commented on #235
must have gotten corrected with some other fix

[2017-07-14 18:50] #235 closed

[2017-07-14 18:51] ChrisASearles commented on #230
@morganpeak the message you're seeing is really a function of the app (Honey) just informing you that you won't get the promo code value because of what you're getting via the link you clicked in eBates. The affiliate handles the double-dipping aspect on their end by only allowing one valid cookie at a time, and it generally always goes to the last advertiser who served a link to that user (that t

[2017-07-14 18:51] #230 closed

[2017-07-14 19:50] ChrisASearles commented on #229
It's actually the opposite issue that you think it is ;-)

We haven't done anything with the other site so when we configured IP filters in your analytics data they were only applied to the shop site so that site is filtering out your IP address where the corporate site isn't.

I applied the filters to both sites now so you should no longer see real time on either from your home network. You shoul

[2017-07-14 19:55] ChrisASearles commented on #222
@cgladue if you want to work on the filtering and let us know how you want that data passed in we can deal with the front-end stuff

[2017-07-14 19:58] cgladue commented on #222
ok, it will probbally be just a querystring what when they choose the dropdown the page will reload with the proper ?date= querystring specified .. ill let you know.

[2017-07-14 20:16] robgpeak commented on #229
Shit, I totally forgot.

[2017-07-14 20:16] #229 closed

[2017-07-16 14:07] cgladue commented on #244
@robgpeak Published

[2017-07-16 14:07] cgladue commented on #234
@robgpeak Published

[2017-07-16 14:08] cgladue commented on #232
@robgpeak Published

[2017-07-16 14:08] cgladue commented on #173
@robgpeak Published

[2017-07-16 14:08] cgladue commented on #130
@robgpeak Published

[2017-07-16 14:09] cgladue commented on #55
@robgpeak Published

[2017-07-16 14:13] #244 closed

[2017-07-16 14:17] cgladue commented on #246
i think this may be a sorting issue, i have changed the sorting to descending, take a look now, it shows up for me when i tested.

[2017-07-16 14:19] cgladue commented on #242
@Dwells7583 @ChrisASearles

this would be something you guys need to handle, validate the passwords before the form is actually posted to the server, same for the overlay screens @robgpeak wants.

[2017-07-16 14:26] cgladue commented on #240
@robgpeak Should be fixed now.

[2017-07-16 14:27] cgladue commented on #240
@robgpeak actually i think this should go to Chris's guys first now that its working.

[2017-07-16 14:44] robgpeak commented on #173
I see the check box, and that is perfect.  However in my Rob Gallo account number 1, when I looked in my account after this issue was committed and fixed, I saw my check box was empty, so I checked it and hit submit and it told me to check my email to confirm, but I never got an email.  Most likely it is because I am already "subscribed"in mail chimp correct?

[2017-07-16 14:46] cgladue commented on #232
@robgpeak i just saw how the linked accounts page was designed and it is a bit lacking i believe.. i think this should be re-opened ..

Chris's guys seem to have removed my button to "unlink" an account and also i dont know how they are going to handle more then 1 account possibly being linked .. i think these are necessary functions for future functionality that should be done now.

[2017-07-16 14:46] #130 closed

[2017-07-16 14:48] cgladue commented on #232
This is what happens if there are multiple accounts linked:  not correct behavior IMO

![image](https://user-images.githubusercontent.com/7914133/28248551-53f569a4-6a14-11e7-8e7e-24f9ceb65287.png)

[2017-07-16 14:51] #55 closed

[2017-07-16 14:53] robgpeak opened #247 "Adjust the slider on the myrewards page"
"We want to have the slide bar default the little round circle to the left."

Meaning, the Rewards Everywhere points should be at 1000 and the Capital Club points should be at 40 by default.

[2017-07-16 15:43] robgpeak commented on #232
Are casino customers allowed to have multiple player rewards club memberships?  I don't think so so it really doesn't make a difference because someone can only link to One account. I mean we could reput the unlink Account button back in there it doesn't really make much of a difference

[2017-07-16 16:25] cgladue commented on #232
Not loyalty memberships but it does make a difference because in the future they may be linking credit cards, fuel rewards cards etc not just loyalty cards, need to think big picture it dosnt make sense to think short term now and have to revisit it again later

[2017-07-16 16:28] cgladue commented on #232
Plus there is no way to Unlink an account which you said would be something you needed in case they merge accounts or the acct# changes for some reason...

[2017-07-16 17:21] robgpeak commented on #246
I signed up for an Account, cl2@peakmarketing.cim received my 100 points, but it's not showing up in my points history
![screenshot_2017-07-16-13-19-13](https://user-images.githubusercontent.com/28393235/28249736-8e5f69b8-6a29-11e7-89e2-4069922679e0.png)

[2017-07-16 17:23] cgladue commented on #246
whats the login for this test account ?

[2017-07-16 17:26] robgpeak commented on #232
Agreed, so let's put the unlikely functionality in there

[2017-07-16 17:35] robgpeak commented on #246
Password: 09876poiuy

[2017-07-17 00:41] ChrisASearles commented on #247
This change was made when I indicated so on the ticket it was originally included on. If you're not seeing it you may need to clear your cache or possibly the compiled javascript file never got published. Looping @cgladue in on this to verify it's not the latter.

[2017-07-17 00:45] ChrisASearles commented on #242
@cgladue we can do it on the client-side as well but it should absolutely be validated on the server as well the same way the rest of the form is being validated server-side

[2017-07-17 00:47] cgladue commented on #242
server dosnt get password and confirmed password, it only gets password so
its not validated on server side since only 1 password value is sent to the
server.

Chad Gladue
*DevNull Technology, LLC*

On Sun, Jul 16, 2017 at 8:45 PM, Chris Searles <notifications@github.com>
wrote:

[2017-07-17 10:44] robgpeak commented on #247
@ChrisASearles I just registered a brand new account, and while I see the slide defaulting to the left, it dow not say 1000 it is still showing the number of point I would have after the transfer.
![screenshot_2017-07-17-06-40-18](https://user-images.githubusercontent.com/28393235/28264905-1ff28f18-6abb-11e7-8d08-ae61d3686900.png)

[2017-07-17 10:45] robgpeak commented on #246
@cgladue same thing for this new account dd7_test@peakmarketing.com. Same password

[2017-07-17 12:51] Dwells7583 commented on #232
Sorry, I will add the unlink button back in there, I just went off the moqup which had the transfer points button only.

[2017-07-17 12:53] robgpeak commented on #246
Shit, sorry @cgladue  it was dd8_test@peakmarketibg.com same pw

[2017-07-17 13:21] ChrisASearles commented on #237
I saw the auto-fill problem before I saw this issue and took care of that and published it last week so you shouldn't be seeing that problem anymore, @Dwells7583 can take care of what it looks like when it comes back as linked.

[2017-07-17 14:45] ChrisASearles commented on #189
@cgladue ?

[2017-07-17 14:46] ChrisASearles commented on #186
@robgpeak and @cgladue are there any work items in here?

[2017-07-17 14:48] ChrisASearles commented on #180
@cgladue did the bulk edit on this ever get done? this ended up being a really complicated ticket for just one item. should we open a new issue? let me know how you want to handle this.

[2017-07-17 15:40] cgladue commented on #240
@robgpeak Published

[2017-07-17 15:40] cgladue commented on #237
@robgpeak Published

[2017-07-17 15:40] cgladue commented on #232
@robgpeak Published

[2017-07-17 15:57] ChrisASearles commented on #168
Hey @robgpeak and @morganpeak Groove has this functionality built in and it's very easy to use. I spent 10 minutes setting this up and you guys can add as necessary. You can check out what I did here: https://complinks.groovehq.com/help_center

I published your FAQ in it's entirety as an article, and began creating some other categories and published each question as it's own article within specif

[2017-07-17 15:58] ChrisASearles commented on #166
@cgladue were you able to look into this?

[2017-07-17 16:05] ChrisASearles opened #248 "Can't Edit Last User in List"

[2017-07-17 16:25] cgladue commented on #166
im sure we will find a way to make something work for this ... there are larger fish to fry at the moment

[2017-07-17 16:34] cgladue commented on #166
@robgpeak Neither of these spreadsheets give much info about what the customer bought, there are a lot of blanks, one of the spreadsheets does correlate to the transaction ID from CJ  (CVS Sale For Example) but there is no key between the two spreadsheets that could be used to match up... when things settle down there must be some other way, even if its a manual export and load weekly or something

[2017-07-17 17:09] ChrisASearles commented on #247
@robgpeak I'm able to verify this is displaying and working correctly, I'm sure it's just a caching issue on your end. Make sure you clear your cache and refresh the page and you should be seeing it function as you described.

![uploads/afcfe210-e01f-4318-aab6-e0687d7da205/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fafcfe210-e01f-4318-aab6-e0687d7da205%2Fimage.png)

[2017-07-17 21:43] robgpeak commented on #247
It is working correctly now

[2017-07-17 21:43] #247 closed

[2017-07-17 21:45] robgpeak commented on #166
Agreed and understood.

[2017-07-17 21:49] #232 closed

[2017-07-17 21:49] #237 closed

[2017-07-17 21:53] robgpeak commented on #240
@ChrisASearles and @Dwells7583 So I guess it cannot appear in the same overlay window as the sign in screen?

[2017-07-17 21:55] robgpeak commented on #186
I think we can back burner this until we have a customer.

[2017-07-17 21:57] robgpeak commented on #234
sweet!

[2017-07-17 21:57] #234 closed

[2017-07-18 14:56] ChrisASearles commented on #240
@robgpeak Just need to track it under a separate work item. I'll open that as a new ticket and you can consider this one closed if the forgot password page is good as-is.

[2017-07-18 14:58] robgpeak commented on #240
It's good as it is, as long as it fits in with the look and feel of the overlay.

[2017-07-18 14:58] #240 closed

[2017-07-18 14:58] ChrisASearles opened #249 "Load "Forgot password" and "Register" in modal dialog"
When logging in using the modal, the forgot password and register functionality should load in a modal dialog as well.

[2017-07-19 01:17] robgpeak commented on #247
@ChrisASearles I just cleared my cache on my phone, and I am still seeing it show the number of points that will be left after the transfer, instead of the number of points I want to transfer...
![screenshot_2017-07-18-18-12-56](https://user-images.githubusercontent.com/28393235/28346347-4db25bb0-6be5-11e7-97d0-5e08e2b7b2d6.png)

[2017-07-19 01:20] robgpeak commented on #247
@ChrisASearles It has something to do with mobile.  Please check it on mobile on your end.  I just tried in my default browser on my phone and the same thing happened

[2017-07-19 12:58] morganpeak commented on #168
I like it a lot. Like you said, since we're paying for it and they offer this type of system we might as well use it. Let's have @cgladue add the record and I'll talk to @robgpeak about where to put it within the site

[2017-07-20 01:47] cgladue opened #250 "For Larger Point Balances, the text extends past the edge of the box"
see attached:

![20170719_101840](https://user-images.githubusercontent.com/7914133/28396807-ca2a095e-6ccb-11e7-8bba-8a229babb0e9.jpg)

[2017-07-20 19:20] robgpeak commented on #168
@cgladue please set up a CNAME in cloudflare for "help" and then on the front end of shop.complinks.co link the FAQ links to help.complinks.co. Question though, what happens with the sub domains help sections...?  I guess I will answer my own question and say let's let them all go to the same generic FAQ page we have now until we grow and see if it becomes an issue.  The potential issue would be p

[2017-07-20 19:42] cgladue commented on #168
it would have to be a generic help page it wouldnt be different per partner.

Chad Gladue
*DevNull Technology, LLC*

On Thu, Jul 20, 2017 at 3:20 PM, robgpeak <notifications@github.com> wrote:

[2017-07-20 19:46] robgpeak commented on #168
Yes it will be generic. We will only be answering FAQs as it relates to our portion of the program, and if they have casino specific questions, they (the user) will just have to send us a message.

So let's set up the CNAME on cloudflare to point to that groove page Chris quoted, and then Chris can set up the links on the front end.

[2017-07-25 19:52] robgpeak opened #251 "Adding a Promotions Page"
@ChrisASearles I would like to use a template of the layout of the How-it-Works page to make a editable page (through the back end) to list the promotions for the individual casino partners.  When I say template, I basically mean the color scheme and theme of the pages background to match the color scheme of the casino partner's look and feel.  (i.e. the blue background in the section about the Sp

[2017-07-26 13:41] robgpeak opened #252 "Making tables friendly for mobile view"
When you look at any of the data tables of points, transactions and such in the my account section of the site, the data shows up in separate boxes for each record, and I would like to find a mobile friendly version of a table so it is easier to read and navigate through.

Even though the admin section has tables for the data, they still do not behave properly because they are limited by the width

[2017-07-26 19:09] robgpeak commented on #168
@cgladue Please go to https://help.complinks.co/ and see the SSL error message and let me know if there is anything I can/need to to to remedy the situation?

[2017-07-26 19:13] cgladue commented on #168
seems like it is because the cert on cloudflare is the *.complinks.co cert but help.complinks.co actually redirects to help.groovehq.com so therefore that does not match the wildcard cert on cloudflare, we may be able to turn off cloudflare for the help subdomain and not have it use cloudflare, give me a second.

[2017-07-26 19:33] robgpeak commented on #251
As a follow up to the functionality of the "Promotion Details, Terms & Conditions" overlay, I created a mock up https://app.moqups.com/robg/QSDVx2F07W/edit/page/ae02cf54f  Regarding the content of the overlay, again, that will be editable from within the back end for each individual promotion.  The front end overlay will allow scrolling incase there is a lengthy set of promotional T&Cs

Here is th

[2017-07-26 19:43] robgpeak opened #253 "Removing the word "Pending" from the ../trips page in the Order Total and Points Awarded columns"
@cgladue we would want to keep it consistent with the dashboard page data

[2017-07-26 19:55] cgladue commented on #168
See Response below from groove, seems like for the time being will need to only use HTTP and not HTTPS for the help KB page.

=====================

Hi Chad,

Sorry for the confusion here, we unfortunately don't support SSL on custom domains right now. This feature is planned for our next version of the KB, however this is still at least a few months out on our roadmap.

I've added you to our list

[2017-07-26 19:57] robgpeak commented on #168
OK.  That should not be a problem I suppose.  Do I need to do anything?

[2017-07-26 20:01] cgladue commented on #168
just where ever help.complinks.co is referenced it should be changed to http and not https, other then that i dont think you need to do anything right now.

[2017-07-26 20:19] robgpeak opened #254 "understanding functionality the ../support page"
@ChrisASearles As an authenticated user (which is the only way I can see this page), if I enter the Subject and Message (which are the only two available fields), and click Submit Request, the ticket shows up in groove as being sent from support@complinks.co.  Which means I click on reply within groove, the reply message goes to support@complinks.co instead of the email address of the actual sende

[2017-07-26 20:25] robgpeak commented on #168
Something is a little screwy because the actual page on their site which is ours is https://complinks.groovehq.com/help_center and it is https, but right now help.complinks.co in cloudflare is pointing to just complinks.groovehq.com without the rest of the URL (/help_center), so that is not the right page anyway...

[2017-07-27 13:16] robgpeak commented on #251
Shit I just realized that this needs to be built so that each promotions page needs to be unique for each subdomain.

[2017-07-27 13:46] cgladue commented on #251
No worries I already assumed that.

[2017-07-27 13:50] robgpeak commented on #251
Cool.  I suppose a drop down at the top of the page that includes all the possible subdomains...

[2017-07-27 15:36] robgpeak commented on #49
This is something to consider when building the browser extensions for all browsers.  This is taken right from Rakuten's T&Cs

	8.6.	No Interference.  You may not, through downloadable or other technology, replace, intercept, redirect, block, alter or otherwise interfere with the full functioning and intended actions of any Qualifying Link that has been placed or distributed by another Network Pub

[2017-07-27 22:07] robgpeak opened #255 "Changing the birthday entry field on the myaccount page"
I am not a big fan of the interface of the way it enters the birthdate on this page, but if you are set on it, tha's fine, but it should NOT allow scrolling into future dates, that seems kind of silly.

[2017-07-27 22:08] robgpeak commented on #255
I guess it's interesting in that I can easily see what day of the week I was born :)

[2017-07-27 23:30] robgpeak opened #256 "Crediting 50 points for users who open and click on a link in our promotional emails"
@cgladue @ChrisASearles I just sent both of you a test email that I am working on from MailChimp, and I wanted to start a thread to discuss the idea of crediting each user 50 points (one time) when they open and click on a link within our promotional emails.

Actually, now that I am thinking about it, we should make it a separate link (meaning, not even a store, just a link to our site that works

[2017-07-30 12:26] cgladue commented on #246
Found the bug, it was in the view, Chris/Derek was only showing the history if there were redemptions on the account, when no redemptions had occured then it didnt show the history...

[2017-07-30 12:26] cgladue commented on #246
@robgpeak can you try again ?

[2017-07-30 12:55] cgladue commented on #222
@ChrisASearles there is now a parameter that should be passed to the URL if the user choose something other then "All Trips", see below:

https://shop.complinks.co/trips/Index?date=201707

the date value would be: YYYYMM format, if "" is passed or date is not specified at all then it will return everything.  i added a dropdown just for example, it dosnt do anything right now.  the current date val

[2017-07-30 13:20] robgpeak commented on #246
Seema to be working

[2017-07-30 13:20] #246 closed

[2017-07-30 13:21] robgpeak commented on #246
Lol. That was my Italian accent

[2017-07-31 15:01] ChrisASearles opened #257 "Separating 'Pending' Transactions from Available Points"

[2017-07-31 15:08] ChrisASearles commented on #257
@cgladue and @robgpeak we've had all of these discussions offline, @Dwells7583 is going to work on the front-end for this and I just want to make sure we have the terminology correct and the change documented.

This is the last I have from @cgladue for us:

"Rob/Chris i think Chris can get started on the front end stuff .. the pending transactions will be in transaction history with a status of 2

[2017-07-31 15:13] robgpeak commented on #257
They should be "Pending", "Available" and "Lifetime".  So what is in there nos in the front end says Current, but they should be called Available, do it is obvious to the end user that those points are available for transfer.

[2017-07-31 20:22] Dwells7583 commented on #250
extended the area now that we have 3 point totals to a larger area.

[2017-08-07 00:38] cgladue commented on #257
@robgpeak i changed the wording....

[2017-08-07 00:41] cgladue commented on #255
@robgpeak do we even need to have them enter DOB ?  foxwoods dosnt use it when they enter acct/PIN thats all we need for multiple vendors.

[2017-08-07 11:33] robgpeak commented on #257
@cgladue I see the changes on the dashboard to all the correct names, but in the Rewards page it still says Current instead of Available points.  Also on that particular rewards page, the points that display on the left hand side of the slider are showing the points remaining after the transfer again instead of the 1000 points that will be transferred.  Please check that on your side.  It was work

[2017-08-07 11:37] robgpeak commented on #255
Some casinos will ask for the DOB, and some won't. We can take it out for now, but if we need it for a particular casino in the future, I would rather use a traditional DOB entry form.

[2017-08-07 11:41] cgladue commented on #255
i think i can find a different Date entering system that only allows dates
for the past and enters them in a different way ...

Chad Gladue
*DevNull Technology, LLC*

On Mon, Aug 7, 2017 at 7:37 AM, robgpeak <notifications@github.com> wrote:

[2017-08-11 01:15] robgpeak opened #258 "Double points awarded"
@cgladue I just looked at my account and saw that I was credited twice for the same shopping trip (750)

![uploads/bb3e1f80-5f05-4cbd-bcb2-98cd075bc382/Screen Shot 2017-08-10 at 9.13.56 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fbb3e1f80-5f05-4cbd-bcb2-98cd075bc382%2FScreen+Shot+2017-08-10+at+9.13.56+PM.png)

[2017-08-11 02:57] cgladue commented on #258
did you order two items on that trip ?

[
    {
        "etransaction_id": "DABD7E5874FC5F01B8070D9CB53EB7D7",
        "advertiser_id": 2149,
        "sid": 3371414,
        "order_id": "4921799584118",
        "offer_id": "223073",
        "sku_number": "W810821021463",
        "sale_amount": 69,
        "quantity": 1,
        "commissions": 2.76,
        "process_date": "Thu Aug 10 2017 19:33:54

[2017-08-11 03:01] robgpeak commented on #258
I did order two items on that trip.  In fact it tells us the name of the
products I bought which is great for the detailed data we are going to want
to show the casinos.

Thanks,

Rob

**Sent from my phone

On Aug 10, 2017 10:57 PM, "cgladue" <notifications@github.com> wrote:

[2017-08-14 21:30] robgpeak commented on #258
Hey @cgladue so are you able to fix this in the back end because it is still showing twice in my points earned.  If we can't manually delete it, we need to put in an adjustment for a -181 points so the balance the user has would be correct.

[2017-08-15 00:50] cgladue commented on #258
i think i will be able to yes, ill have to adjust the point history
displays to accumulate the value of points and purchase as well as trip
total but i think i can do it, im doing Morgan's request now then will get
to that right after

Chad Gladue
*DevNull Technology, LLC*

On Mon, Aug 14, 2017 at 5:30 PM, robgpeak <notifications@github.com> wrote:

[2017-08-15 02:26] cgladue commented on #258
i have changed the balance tracking to be more detailed line items, instead
of suming transactions... the trip display and point history may not show
correctly quite yet tho untill i modify that part

Chad Gladue
*DevNull Technology, LLC*

On Mon, Aug 14, 2017 at 5:30 PM, robgpeak <notifications@github.com> wrote:

[2017-08-17 00:31] cgladue commented on #258
are you OK with emailing me your email and password so i can take a look at
how it looks ?

Chad Gladue
*DevNull Technology, LLC*

On Mon, Aug 14, 2017 at 5:30 PM, robgpeak <notifications@github.com> wrote:

[2017-08-25 13:42] robgpeak commented on #256
@cgladue I wanted to get your thoughts on this?

[2017-08-25 14:04] robgpeak opened #259 "Adding How It Works link to main nav"
@cgladue I would like to add a link to the right of Promotions in the main nav called "How It Works" (and of course link it to the how it works page), and use the icon https://material.io/icons/#ic_description.  Additionally, I would like both of those links to show up in the hamburger menu, as even though "Promotions" is live in the main nav, it current;y does NOT show up in the hamburger menu wh

[2017-08-25 14:25] cgladue commented on #256
mailchimp does not send me any notifications when someone opens an email...

but i could design a system where you specify the # of points and some
settings and it generates a unique link which you can then put into your
email blast, and when someone clicks that link and goes to the site, it
will credit their account the points ...

how does that sound ?

Chad Gladue
*DevNull Technology, LLC*

On

[2017-08-25 16:27] robgpeak commented on #256
That sound like a plan.  I guess we can try it that way and see how it goes.  I suppose it's better than pigeon holing someone into visiting a particular merchant if they don't want to use that merchant.   But now just thinking out loud, getting them to visit the website from the email and paying the xx points is good, but getting them to make a shopping trip and ultimately a purchase in the main

[2017-08-25 18:56] robgpeak opened #260 "Checking password length on the sign up screen right away"
@cgladue This is close to #242 but I think it is a different issue. Is it possible to check to at least see if the length of the password is long enough (8 characters) when the user enters it in the first password field (I suppose it would actually check as soon as they move off the field), otherwise it let's someone enter too short of an email, and it does not tell them until it is too late, and

[2017-08-30 17:29] #259 closed

[2017-08-30 17:33] robgpeak opened #261 "Rewards points showing backwards when the size of the screen is reduced"
@cgladue @ChrisASearles I was showing someone the app last night on my phone, and when I looked in the rewards page, I saw the Rewards Everywhere point total on the left was showing the number of points remaining after a transfer...?

Strangely, this only happens when the screen size is reduced to a certain threshold...  It works fine on the full screen view, and even on the ipad, just not on the

[2017-08-31 18:25] robgpeak commented on #166
While we have bigger fish to fry at the moment, I wanted to reopen this issue just to say it is still something that we need to address.  As part of our presentations to casino operators, one of the unique key selling features is the detailed data we will be able to share regarding their customers spending habits.

[2017-09-18 16:09] robgpeak opened #262 "Points not adding up"
@cgladue Please have a look at https://shop.complinks.co/admindashboard/transactions/comission and see the transactions I've made under Member ID 100077 and add up the Points Issued.  I get 326, but when I look at the front end of that account, I see 308.88 pending points.  Why the difference?

![uploads/7f60c6fe-4897-4f1a-8508-52c0c16b6f2e/Screen Shot 2017-09-18 at 12.08.40 PM.png](https://s3-us-

[2017-09-18 16:11] cgladue commented on #262
perhaps rounding errors .. let me look into it

Chad Gladue
*DevNull Technology, LLC*

On Mon, Sep 18, 2017 at 12:09 PM, robgpeak <notifications@github.com> wrote:

[2017-09-20 01:54] cgladue commented on #262
the 308.88 is the correct # of pending points, the 155 points at CVS is not
still pending it has been set to active as the locking date has passed...
there should however be a listing for 138 for the chlorine tablets that you
bought (and returned)  i found abug that would wait the 45 days locking
peroid on both the award and the return ... i think it should wait the 45
days for the award, but if t

[2017-09-20 13:53] robgpeak commented on #262
Sorry for the delay.

Yeah it looks right now.

Thanks,

Rob

**Sent from my phone

On Sep 19, 2017 9:54 PM, "cgladue" <notifications@github.com> wrote:

[2017-09-24 11:58] #256 closed

[2018-01-08 18:32] robgpeak opened #263 "set up xclub.complinks.co"
@cgladue please set up the CNAME for xclub.complinks.co in CloudFlare.  If there is anything I need to do on my end, please let me know.  It's been so long that I forgot:)

[2018-01-08 18:38] cgladue commented on #263
can you please send me the authentication token that just got sent to you,
i logged in from a different IP then before aparently.

Chad Gladue
*DevNull Technology, LLC*

On Mon, Jan 8, 2018 at 1:32 PM, robgpeak <notifications@github.com> wrote:

[2018-01-08 19:11] #263 closed

[2018-01-08 19:12] robgpeak opened #264 "error on xclub rewards page"
I just signed up for a new account...

![uploads/08ebfa0a-3455-4216-bc2e-412b78e14a67/Screen Shot 2018-01-08 at 2.11.09 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F08ebfa0a-3455-4216-bc2e-412b78e14a67%2FScreen+Shot+2018-01-08+at+2.11.09+PM.png)

[2018-01-08 19:13] robgpeak commented on #264
forgot to add you @cgladue

[2018-01-09 19:48] robgpeak opened #265 "not receiving 100 points for opting in at xclub.complinks.co"
@cgladue I just signed up for a second test account and did not receive the 100 points

[2018-01-09 19:59] cgladue commented on #265
I need to create the web hook.  Give me a bit and I’ll add it in Mailchimp.

[2018-01-09 20:02] robgpeak commented on #265
Ah, ok.  I did not know that.

Thanks,

Rob

**Sent from my phone

On Jan 9, 2018 2:59 PM, "cgladue" <notifications@github.com> wrote:

I need to create the web hook. Give me a bit and I’ll add it in Mailchimp.

the 100 points

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ChrisASearles/CompLinks/issues/265#issuecommen

[2018-01-09 20:44] cgladue commented on #265
yea, its in a prior issue in here, any new subdomain that gets created
needs to have the webhook added in mailchimp, go to the list then go to
settings->Web Hooks and enter this url:

   -

   https://<subdomain>.complinks.co/mailchimp

   Edit
   <https://us14.admin.mailchimp.com/lists/tools/webhooks-edit?id=103441&hookId=701>
   - so in this case it would be:
   -

      https://xclub.complinks.

[2018-01-09 20:45] cgladue commented on #265
try it now, i added the web hook.

Chad Gladue
*DevNull Technology, LLC*

On Tue, Jan 9, 2018 at 3:02 PM, robgpeak <notifications@github.com> wrote:

[2018-01-09 20:53] robgpeak commented on #265
Just registered again but I did not get the 100 points

Thanks,

Rob

---

Rob Gallo
President
Peak Marketing
robg@peakmarketing.com
mobile: +1 631 682 5107
skype: robg888
bio: https://www.linkedin.com/in/peakmarketing

http://www.PeakMarketing.com <http://www.peakmarketing.com>

On Tue, Jan 9, 2018 at 3:45 PM, cgladue <notifications@github.com> wrote:

[2018-01-09 21:02] cgladue commented on #265
i just registered cgladue@foxwoods.com and i got the 100 points after
clicking the email link .... there was a delay from mailchip tho ... they
do not guarentee it happens immediatly.

Chad Gladue
*DevNull Technology, LLC*

On Tue, Jan 9, 2018 at 3:53 PM, robgpeak <notifications@github.com> wrote:

[2018-01-09 21:09] robgpeak commented on #265
I see it in my account now.  I will make a note to the end user that it may
take a couple of minutes to show up.  Thanks.

Thanks,

Rob

---

Rob Gallo
President
Peak Marketing
robg@peakmarketing.com
mobile: +1 631 682 5107
skype: robg888
bio: https://www.linkedin.com/in/peakmarketing

http://www.PeakMarketing.com <http://www.peakmarketing.com>

On Tue, Jan 9, 2018 at 4:02 PM, cgladue <notificatio

[2018-01-09 21:19] #265 closed

[2018-01-09 21:19] robgpeak commented on #264
seems to be working now

[2018-01-09 21:19] #264 closed

[2018-01-17 22:42] robgpeak opened #266 "Remaining Logged in"
@cgladue I thought you had this fixed a long time ago, but I looked for the issue on git hub but could not find it...  I remember asking you to leave someone logged into their complinks account indefinitely, and it WAS working for a long time, but just in the last couple of days, I noticed that I have to continually log back in...  Please see if you can put it back that way that leaves someone log

[2018-01-17 22:59] robgpeak opened #267 "Including links to advertisers from within emails we send out (Maichimp)"
@cgladue please have a look at https://screencast.com/t/gNwGai9MgR and give it some thought as to a good way to handle it.