[2017-05-03 20:48] ChrisASearles opened #1 "Swap logo with tenant"
Active logo swapping to the tenant application being used. If it's on the shop. subdomain, the default CompLinks logo should be inserted.

[2017-05-03 23:26] ChrisASearles opened #2 "Move "Shop, Earn, Redeem" under the hero section."

[2017-05-03 23:26] ChrisASearles opened #3 "Expand search on large screens"

[2017-05-03 23:29] ChrisASearles opened #4 "Hero feature: Should display image of the casino (tenant) loaded from DB and the current text if !Authorized, else change text to link to "How it Works" page"
Text when logged in: https://app.moqups.com/robg/QSDVx2F07W/edit/page/a7f4ce830

[2017-05-03 23:34] ChrisASearles opened #5 "Update buttons and links to use accent palette"

[2017-05-03 23:35] ChrisASearles opened #6 "Load palette's from DB"
@cgladue We need a primary and an accent palette for each casino (just strings, e.g. "blue").

@Dwells7583 You're defining custom hue's, correct? Please let @cgladue know what you need for this (e.g. PrimaryTheme, PrimaryHue1, PrimaryHue2, etc.)

[2017-05-03 23:48] ChrisASearles opened #7 "Expanded "How it works" section on homepage"

[2017-05-04 01:16] ChrisASearles opened #8 "Create Account doesn't link anywhere"

[2017-05-04 01:16] ChrisASearles opened #9 "Login dialog 'x' doesn't close dialog"

[2017-05-04 01:17] ChrisASearles opened #10 "'Forgot Password' link doesn't work"

[2017-05-04 01:18] ChrisASearles opened #11 "'Logout' link shouldn't display if user isn't logged in"

[2017-05-04 01:19] ChrisASearles opened #12 "User info and point total shouldn't display if user isn't logged in"

[2017-05-04 01:19] ChrisASearles opened #13 "User info and point total on side nav needs to load real data"

[2017-05-04 01:20] ChrisASearles opened #14 "Default login page needs to be themed properly"

[2017-05-04 01:22] ChrisASearles opened #15 "Increase password required length to 8 characters and remove all other requirements"
Adding two more required characters is significantly more secure than requiring rules that will force users into using more common passwords and don't significantly increase the time required to brute force a password. I'd love for the length to be 10 characters but I think 8 is a reasonable compromise given the purpose of this website and the lack of ability for someone to do just about anything

[2017-05-04 01:39] ChrisASearles opened #16 "Register page needs to be themed"

[2017-05-04 01:39] ChrisASearles opened #17 "Terms and Conditions and Privacy Policy links should load as a popup on "Register" page"

[2017-05-04 01:43] ChrisASearles opened #18 "Remove username from Register page?"
Not sure there's a need or use for a username field. Anybody have any reason why we'd have one?

[2017-05-04 01:51] ChrisASearles opened #19 "User Dashboard Layout page"
This should load from our primary Layout for a consistent user experience and simpler maintenance.

[2017-05-04 02:09] ChrisASearles opened #20 "Login dialog and page don't work"
I created a new account, logged out, can't log back in.

[2017-05-04 16:38] ChrisASearles opened #21 "Featured stores next to hero"
Need to be able to set a store as featured in the admin area, then pull a maximum of 4 to load on the homepage next to the hero. Need to define an image size for this and store a separate image in the DB. Stores shouldn't load in this section without that image uploaded.

Reference here: https://app.moqups.com/robg/QSDVx2F07W/edit/page/a9762b57c

[2017-05-04 16:54] ChrisASearles opened #22 "Load featured stores on homepage"
Need to allow stores to be featured in the back-end and then load them on the homepage in the section that's already been designated.

The cards that load should be clickable to the advertiser detail page with a "Shop Now" button of the theme's accent color that links to the advertiser's website using the advertiser's default link.

[2017-05-04 16:57] ChrisASearles opened #23 "Load featured deals on homepage"
Need the ability to feature a deal in the back end and then load those deals on the homepage under the featured stores section. The "Shop Now" button on these should use the link for that particular deal, but should also include the advertiser info and a link to the advertiser.

Design reference: https://app.moqups.com/robg/QSDVx2F07W/edit/page/a23bde215

[2017-05-04 17:03] ChrisASearles opened #24 "Category Images"
Need to be able to upload a default category image for each category and display that at the top of each category page.

@Dwells7583 Please be sure to clearly define dimensions and specs for this image.

[2017-05-04 17:04] ChrisASearles opened #25 "Category page updates"
Category page should load similarly to the home page with a featured stores section and a featured deals section underneath. Let's define a standard for how many rows we'll show at full screen size. 3-4 seems like the right number, will need to make a decision on how these will load at mobile or small sizes.

Need to get the back-end work on this done; on the front end cards should look and functi

[2017-05-04 17:45] ChrisASearles opened #26 "Define branching / patching / dev strategy"

[2017-05-04 17:45] ChrisASearles opened #27 "Setup staging site"

[2017-05-04 17:58] ChrisASearles opened #28 "New advertisers should be added by default as inactive"
New advertisers shouldn't show up on the front end until they've been specifically marked as active by CL staff.

[2017-05-04 18:06] ChrisASearles opened #29 "Redesign store detail page"
Detail and deals should load in a smaller column, with a new Similar Stores section / column on the right (below on mobile). Card styles should remain consistent based on content (store vs deal).

Need to pull similar store data for that section. For now the simplest approach would appear to be pull the top 4 stores from the primary category of the loaded store sorted by display order.

Reference:

[2017-05-05 16:02] cgladue commented on #27
there is already a test.complinks.co site setup.

[2017-05-05 16:04] cgladue commented on #20
works fine when you use the /account/login page .. perhaps you were using your login modal.

[2017-05-05 16:05] cgladue commented on #18
because username is not equal to email address.  they are two seperate things.

[2017-05-05 16:07] robgpeak commented on #18
I agree, I don't think we need to pigeon hole someone into picking a user name, especially if we are going to refer to them by their first name when they are logged in.  And then when we get to the stage where we have leaderboards for high point earners, we can list them by their first name, and a small icon of their profile image that they can upload.  (Again, phase 3 or later...)

[2017-05-05 16:09] cgladue commented on #15
the requirements were the default requirements as a starting point.  I disagree we dont need to require at the very minimum upper case and/or numbers as well...  it can be increased to 8 characters, but require numbers and/or punctuation as well.

[2017-05-05 16:11] cgladue commented on #18
using email address as username is a bad practice, it makes the site less secure.

[2017-05-05 16:12] ChrisASearles commented on #20
Hey @cgladue, both the page (/account/login) and the modal are not allowing me to login at the moment. I get an invalid login attempt on the page.

[2017-05-05 16:14] cgladue commented on #19
we can discuss, but i am not 100% on board

[2017-05-05 16:15] cgladue commented on #20
i just logged in as cgladue perfectly fine from /account/login  the modal has never worked

[2017-05-05 16:17] robgpeak commented on #18
If we are really worried about security, we will implement 2 factor authorization, but for this particular application and its intended use, email and pw are fine.

Look at it this way, if I was looking to hack someone's account in Foxwoods play for fun casino, and I had my own account and was able to see all the user names of other players on a leaderboard, I have 50% of the info I need to hack i

[2017-05-05 16:19] cgladue commented on #18
you cannot use email as the username rob, as your design the user is allowed to have multiple accounts for multiple partnership programs... remember ?

[2017-05-05 16:20] cgladue commented on #18
and you SHOULD be worried about security no matter what.. more strict password requirements are not as difficult for the user to use as is 2FA

[2017-05-05 17:57] #27 closed

[2017-05-05 18:01] ChrisASearles commented on #20
Figured out what it is! I removed the bug tag b/c it's not a bug, but definitely something that will cause some customer service issues. Chrome auto-filled the username with my email after registering, overwriting the placeholder text that indicates it's a username, not email field.

@Dwells7583 This should resolve itself once we migrate this to a material form, I'm going to tie this to #14

[2017-05-05 18:01] cgladue commented on #13
i will make the data available in the viewmodel, but you need to change the way the side nav is for non authenticated session before this will work

[2017-05-05 18:03] cgladue commented on #1
how would you like this data delivered to you ... in the form of a classname that is configured in the DB and that classname gets applied to style the page ?

[2017-05-05 18:08] cgladue opened #30 "Set navigation icon from category record in DB"
need to be able to specify the icon for the Store Category in the DB.

[2017-05-05 18:28] ChrisASearles commented on #1
Seems like the easiest way would be to upload the logo in the tenant detail on the back end and just pass the image URL down to the Layout page (moving it to a partial might work best). Will leave the implementation details up to whatever you prefer or think is best.

We changed the way this was working to drive all the layout changes from the database, simplify the theming process, and eliminate

[2017-05-05 18:30] cgladue commented on #1
how will you handle the other style changes colors fonts etc etc ?  should come up with a better overall method instead of just passing the image url since more will change then just the image

[2017-05-05 18:33] cgladue commented on #6
ok so you will just need two strings passed to you for style info and one for logo ?

[2017-05-05 18:34] ChrisASearles commented on #30
Reopened this as I don't believe we're displaying these yet, are we @Dwells7583

[2017-05-05 18:43] cgladue commented on #30
i have updated the layout to display this and comitted it

[2017-05-05 18:52] ChrisASearles commented on #18
@cgladue Here's the multi-tenant Identity change I mentioned on the phone: https://www.scottbrady91.com/ASPNET-Identity/Quick-and-Easy-ASPNET-Identity-Multitenancy

[2017-05-05 19:17] cgladue opened #31 "Add Icon field to category maintenance screen in backend"

[2017-05-05 20:14] Dwells7583 commented on #6
@cgladue

-  Primary palette: (ie. light-blue)
 - default:
 - hue-1:
 - hue 2:
 - hue-3:

Accent palette: (ie. orange)
 - default:
- hue-1:
- hue-2:
- hue-3:

If you want to present the user with a default option these would be a good palette setting to use.
              'default': '700',
                'hue-1': '500',
                'hue-2': '900',
                'hue-3': 'A700',

  Accent:

[2017-05-05 20:23] cgladue commented on #6
can this just be stored as a comma seperated list of values instead of
storing 4 seperate values ?

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Fri, May 5, 2017 at 4:14 PM, Derek Wells <notifications@github.com>
wrote:

[2017-05-05 20:27] Dwells7583 commented on #6
You can store it however you would like on the back end, as long as thats what we are presented with on the front end.

[2017-05-06 13:40] cgladue commented on #28
Changed the active property to false for all new advertisers.

[2017-05-06 13:41] #28 closed

[2017-05-06 13:43] cgladue commented on #24
i have added a headerImage field to the category model returned to the page, you can now display the url in that field.

[2017-05-06 14:25] cgladue commented on #24
also, i have updated the category Index view to show an example of the header image, as shown here:  http://shop.complinks.co/category/index/153

[2017-05-06 14:26] cgladue commented on #25
by category page what URL do you mean ?  can you give me an example URL for one of the pages you are referring to ?

[2017-05-06 14:34] cgladue commented on #22
Added ViewModel with the Featured property.  Any advertiser put into the featured category will be returned in this list.  i have added a sample to the Home Index View.

[2017-05-06 14:54] cgladue commented on #23
i have added "mainLinkURL" to advertiser object as well as loading all the featured deals in the viewModel.

[2017-05-06 15:01] cgladue commented on #15
removed all restrictions but length.

[2017-05-06 15:03] robgpeak commented on #30
@cgladue what are the size limitations on the header images for the categories?  file size and dimensions? I am going to keep the files sizes as small as possible anyway, but I just wanted to know.

[2017-05-06 15:06] cgladue commented on #30
it would be up to chris, on my end i am not limiting the size

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Sat, May 6, 2017 at 11:03 AM, robgpeak <notifications@github.com> wrote:

[2017-05-06 15:39] robgpeak commented on #24
@cgladue I am getting an error message when I try to save a header image to a category.  https://screencast.com/t/AWRqmMqXe8o

[2017-05-06 15:48] cgladue commented on #24
it may be because i am monkeying around with things fixing soemthing else,
stand by

[2017-05-06 16:30] cgladue commented on #24
problem was i had to store the AWS credentials whiel the code was running on the server, so i corrected that, please try again...

[2017-05-06 16:32] cgladue opened #32 "Move display order to the advertisercategory join table instead of on the advertiser record."
This will allow each category that the advertiser is in to have a seperate display order.

[2017-05-06 16:33] cgladue commented on #32
Moved the displayOrder field to AdvertiserCategory Join Table.  When the category page pulls list of advertisers, the display order is built dynamically based on the category that is being displayed.

[2017-05-06 16:34] cgladue commented on #32
Rob, display order is no longer on the advertiser record on backend page.  It is now under the category page, action choice "Set Advertiser Display Order"  this will show all active == true advertisers only since inactive advertisers would confuse the numbering.

[2017-05-06 16:46] cgladue opened #33 "Add Disclaimer Field to advertiser record."
Add Disclaimer field for disclaimer info to be displayed on the store page.

[2017-05-06 16:47] cgladue commented on #33
http://shop.complinks.co/stores/index/11

field added to advertiser maintenance page, will display on advertiser page.

[2017-05-06 17:02] #31 closed

[2017-05-06 17:02] #30 closed

[2017-05-06 17:09] cgladue commented on #13
i have added the User object to the HomeIndex view model.  The data is now available but long names or large point balances is causing the display to wrap.

[2017-05-07 13:55] cgladue commented on #10
/account/ForgotPassword is now working

[2017-05-07 20:51] cgladue opened #34 "create Activity Feed on the backend"
create Activity Feed on the backend that displays changes to advertisers and links.

[2017-05-08 13:29] ChrisASearles commented on #3
Needs to be limited in size on larger screens, black placeholder text doesn't work with the blue background. Should we change this to a more traditional text box at this size or leave it as a material box and work on the style? If it stays as a material box, the label should respond accordingly.

[2017-05-08 13:31] ChrisASearles commented on #1
@cgladue Just want to verify this comment was before we worked out the logic to change the theme and you're good with this, correct?

[2017-05-08 13:33] cgladue commented on #1
yes i should be, i dont know which views you would need it tho, where
should i pass it to you ?  or do you need it in all views

[2017-05-08 13:34] ChrisASearles opened #35 "Display Order for Categories"
Add a Display Order field for categories that should be used as the OrderBy on the front end.

[2017-05-08 13:34] ChrisASearles opened #36 "Display Order for Advertisers"
Add a DisplayOrder field to the Advertiser record that should be used as the OrderBy on the front end.

[2017-05-08 13:34] ChrisASearles opened #37 "Category "Include in Nav" Flag"
Need to add a boolean flag to exclude categories from the main nav, also need to verify those categories are not displaying on the front end.

[2017-05-08 13:34] ChrisASearles opened #38 "Add icon to category record"
Store a string in the category record related to the material icon to be used for each category. These should be inserted in the sidenav on the site.

[2017-05-08 13:35] ChrisASearles opened #39 "Add first name, last name, and mobile number to registration model"

[2017-05-08 13:35] ChrisASearles opened #40 "Force SSL connection"
URL rewrite to always force HTTPS connections.

[2017-05-08 13:36] cgladue commented on #39
First and Last Name added already, ill add mobile also

[2017-05-08 13:38] cgladue commented on #35
you are talking the categories themselves not just the advertisers in the categories ?

[2017-05-08 13:38] cgladue commented on #36
This has already been completed Chris.

[2017-05-08 13:39] cgladue commented on #37
This has already been completed as well.

[2017-05-08 13:40] cgladue commented on #38
This was already done.

[2017-05-08 13:40] ChrisASearles commented on #39
Hey @cgladue hold off on this a minute, this was in the list you sent me but Rob mentioned something this morning about wanting something different. @robgpeak do you want to comment on this?

[2017-05-08 13:44] ChrisASearles commented on #38
I see that @cgladue can you please be sure to move your items through the board in huboard, I'm seeing a lot of stuff that was done or worked on but hasn't been moved to the right columns.

[2017-05-08 13:44] #38 closed

[2017-05-08 13:45] cgladue commented on #38
i thought it was tied to github, it dosnt change status in hubord when i
change it in github, honestly hubord is pretty shitty.

[2017-05-08 13:48] ChrisASearles commented on #38
If you have a better option I'm all ears but this is the best way we've got so far for everyone to be able to get a good overview of the current status of the entire project. I've not had any issues with it so far so please let me know if there's something specific that's tripping you up or that you're not liking about it that you have a better alternative for.

[2017-05-08 13:49] ChrisASearles commented on #1
I'd create the logo as a partial view with it's own controller action. @Dwells7583 can we bundle this partial together with the whole nav menu?

[2017-05-08 13:49] cgladue commented on #38
i prefer to just use github, huboard dosnt offer me anything that the labels in github dosnt

[2017-05-08 13:50] cgladue commented on #38
or get it so when i change labels in github it updates on huboard without having to do it twice

[2017-05-08 13:51] ChrisASearles commented on #25
@cgladue default category detail page: http://shop.complinks.co/category/index/10

[2017-05-08 13:54] cgladue commented on #25
Rob has asked for a featured "category" that will be seperate from other categories and stand on its own, this is the featured advertiser data i am passing currently.

[2017-05-08 13:59] ChrisASearles opened #41 "Navigation changes"
Remove sidenav on screens > SM, update nav to include the following elements:

- Categories (dropdown with category list, probably needs to be separated into columns)
- Featured Stores (dropdown, display based on number of elements returned)
- Featured Deals (dropdown, display based on number of elements returned)

Need to somehow mark the "Featured" elements in the DB so they can be loaded on the

[2017-05-08 14:03] cgladue commented on #41
We do not have featured per category we have a category called Featured that contains all the featured advertisers.

[2017-05-08 14:04] ChrisASearles opened #42 "Header nav changes"
- Remove "Account" icon on the toolbar.
- Move "Terms & Cond.", "Privacy Policy", and "FAQ" to footer.
- Change this section to display just "Sign Up" and "Login" for unauthenticated users
- Authenticated users should see their name, point total, and a dropdown list with the following items:
    - Manage Account
    - My Rewards
    - Shopping Trips
    - Favorite Stores
    - Support
    - Log Ou

[2017-05-08 14:10] ChrisASearles opened #43 "User Account Management Changes"

[2017-05-08 16:21] ChrisASearles commented on #35
@cgladue Looks like I misread the list you sent me last week. The item you sent was written as "Display order by category by advertiser" so I broke that into two individual items but I see now you mean by advertiser within each category so I'm going to close this.

[2017-05-08 16:21] #35 closed

[2017-05-08 16:22] ChrisASearles commented on #36
Great @cgladue, have confirmed I'm seeing that on the production site so I'll close this out.

[2017-05-08 16:22] #36 closed

[2017-05-08 16:30] ChrisASearles opened #44 "Add header image to category page"
Category pages need to have a header image defined for the page.

@Dwells7583 we need to define the format for this image for display, @cgladue we need to include this in the admin section and add it to the model for the category detail page.

[2017-05-08 16:33] cgladue commented on #44
this is complete as well

[2017-05-08 16:33] ChrisASearles commented on #29
Also, change "Rewards" title to "Deals and Promotions"

[2017-05-08 16:34] ChrisASearles opened #45 "Add Footer"
Some of the content for the footer is detailed in #42

[2017-05-08 16:34] ChrisASearles commented on #42
Check #45 for Footer task

[2017-05-08 16:44] ChrisASearles opened #46 "User Dashboard Page"
@Dwells7583 we need to mock up a version of this displaying the most critical information for a user's account (total points earned, current points, most recent trips and status, new favorites (future feature), last reward redemption, etc.).

[2017-05-08 16:45] ChrisASearles opened #47 "Favorite Stores"

[2017-05-08 16:45] ChrisASearles opened #48 "Game insterstitial"

[2017-05-08 16:46] ChrisASearles opened #49 "Chrome Browser Extension"

[2017-05-08 16:46] ChrisASearles opened #50 "Firefox Browser Extension"

[2017-05-08 16:47] ChrisASearles opened #51 "Edge Browser Extension"

[2017-05-08 16:47] ChrisASearles opened #52 "Safari Browser Extension"

[2017-05-08 16:49] ChrisASearles opened #53 "Password requirements should be clearly displayed on the login page"
Requirement is just an 8 character password

[2017-05-08 16:50] cgladue commented on #53
displaying password requirements is a security flaw.

[2017-05-08 16:51] ChrisASearles opened #54 "Shopping Trips page needs to be re-themed"

[2017-05-08 16:51] ChrisASearles opened #55 "Rewards page needs to be re-themed and renamed"
As per meeting with @morganpeak and @robgpeak last week, change title to "My Rewards."

This page should display how a user earned the rewards points they have.

[2017-05-08 16:54] ChrisASearles commented on #55
@morganpeak I seem to remember discussing adding a "Redeem" page where the user would redeem their points but it's not in my notes. Do you remember where we landed on this?

[2017-05-08 16:54] ChrisASearles opened #56 "Support Page / Support Plan"
Need to add a Support page for authenticated users that allows them to contact customer service.

[2017-05-08 16:56] ChrisASearles commented on #56
@morganpeak / @robgpeak have you guys figured out how you want to handle support requests yet? Did you decide on Zendesk or another alternative?

[2017-05-08 16:56] cgladue commented on #55
there is a page for the user to redeem their points already

https://shop.complinks.co/userdashboard/rewards

[2017-05-08 16:57] ChrisASearles opened #57 "Add My Account page"
This page is will allow users to change their email address, password, and manage any other personal / account information we collect.

[2017-05-08 17:08] morganpeak commented on #56
@ChrisASearles We are going to use Groove (groovehq.com)

[2017-05-08 17:09] ChrisASearles commented on #53
*Note - I edited the title of this issue, it previously said Login page but it's for the Register page

@cgladue I'm not aware of that being an issue, is that in the new NIST guidance? If so, we're currently returning that specific text as a error message, would that represent the same problem?

[2017-05-08 17:11] ChrisASearles commented on #12
This will likely be wrapped up with #42

[2017-05-08 17:12] cgladue commented on #53
Its common knowledge that telling an attacker the length of password saves them time from wasting time focusing on passwords that do not meet complexity requirements.  The fact that we are leaking password requirements in the error message should be corrected as well.

[2017-05-08 17:12] ChrisASearles commented on #11
Moving priority up because this is related to #42

[2017-05-08 17:15] ChrisASearles commented on #25
@cgladue not sure what that's for but I don't think it's related to this issue. @robgpeak can you clarify?

[2017-05-08 17:17] #44 closed

[2017-05-08 17:17] ChrisASearles commented on #44
I'm going to close this as a duplicate, that was supposed to get reassigned to Derek to specify image specs within the design. Going to update that ticket now @cgladue

[2017-05-08 17:17] cgladue commented on #25
because you are asking to display featured stores within the category view, to me that dosnt make sense since the featured stores are a mixed category of stores across multiple categories.

[2017-05-08 17:18] ChrisASearles commented on #24
Pushing this back to Ready for Derek to get in and specify image specs / layout.

[2017-05-08 17:26] Dwells7583 commented on #9
@ChrisASearles  Can you add the close function for me please.

[2017-05-08 17:27] robgpeak commented on #25
Guys, unfortunately we are going to need to have a verbal conversation.  I could write a simple answer to this issue, but without a verbal conversation, other similar issue will continue.  The simple answer is, you are one two different pages on this one, literally.  Chad is talking about "featured" being a category in the back end, so we can assign a display order, independent of the order of sto

[2017-05-08 17:33] Dwells7583 commented on #11
@ChrisASearles The entire dropdown menu only displays when logged in.

[2017-05-08 17:34] cgladue commented on #41
i will return PartialView("Name)  in the controller action
and in the view call html.partial("name", controller") and return categories as well as featured stores.

[2017-05-08 17:51] ChrisASearles commented on #13
This data needs to be available to the Layout page, we need to tie this to #41 to load data via a partial.

[2017-05-08 17:52] cgladue commented on #13
So two seperate partials one for the User Info and one for Categories/Featured Advertisers then, correct ?

[2017-05-08 17:58] Dwells7583 commented on #21
The image size for this section would be 25px in height, auto width.

[2017-05-08 18:04] ChrisASearles commented on #53
We need a solution to this that provides a usable experience while meeting security requirements. In the future maybe we can look at a solution to do something like a password strength meter, for now, how about a simple error message that says something like "Your password is too short, please try again."

[2017-05-08 18:05] cgladue commented on #53
Fair Enough, that will do

[2017-05-08 19:27] robgpeak opened #58 "Default links need to start shopping trips"
Right now the default links have the correct affiliate tracking info, but they are not logging in our shopping trip db.

[2017-05-08 19:42] cgladue commented on #58
rob i just registered a account and visited a link under "Rewards" panel on the advertiser and it did show correctly in the user dashboard ... which advertiser did you try  that wasnt the case with ?

[2017-05-08 19:45] #37 closed

[2017-05-08 19:55] robgpeak commented on #58
You know I love these screencasts...  https://screencast.com/t/ks7cUBTLn

[2017-05-08 20:01] cgladue commented on #58
ok i got what your saying ... ill edit the destination for the main link ...

[2017-05-08 20:22] robgpeak commented on #5
Derek, I see the buttons on the store index page using the color palette, but the main link to the store next to the description should also be a button.  Additionally, I think the accent color palette should be the orange in this case, something that makes the shop now button stand out more on the page.  https://screencast.com/t/PilhDB76Wv (I love my screencasts:)

@ChrisASearles would I leave th

[2017-05-08 20:32] cgladue commented on #58
main link is now pointing to the start trip redirect as well as opens in a new tab.

[2017-05-08 20:34] cgladue commented on #4
will add a field for style info to partner maintenance screen

[2017-05-08 20:42] #58 closed

[2017-05-08 22:20] robgpeak commented on #45
@ChrisASearles , I don't see any of the content for the footer in #42.  You can see it at the bottom of https://app.moqups.com/robg/QSDVx2F07W/edit/page/a9762b57c

Additionally, based on my understanding of Huboards, this task being in the "Review" would mean that something has been completed, and I would be approving it and dragging it to Done, or  making a comment such as this, and then someone

[2017-05-08 22:25] #10 closed

[2017-05-08 22:26] #15 closed

[2017-05-08 22:34] robgpeak commented on #32
For the purposes of Phase 1, I am going to mark this as complete, but later on down the road, we are going to enhance the functionality of this system.  Meaning, it would be nice to be able to reorder them by just dragging and dropping them.  Or at the very least, to be able to sort by the order they are list in.

[2017-05-08 22:34] #32 closed

[2017-05-08 22:38] robgpeak commented on #33
@cgladue please do me a favor and put "No points earned on the purchase of gift cards." in all of the "Disclaimer" fields in the db, and even put it in the new advertisers be default.  It is sort of universal.  Morgan can tweak and adjust as necessary where need be.

[2017-05-08 22:56] robgpeak opened #59 "Names for the "Container" sections on the front end"
@ChrisASearles I just did a search here on Huboards for the word "Disclaimer" as it appeared in #33 but I was confused as to how it would have gotten that name.  In the mockup https://app.moqups.com/robg/QSDVx2F07W/edit/page/ab309be6f it was call Conditions, and in fact I just tweaked in on that moqups page to more closely resemble the layout that Derek has put in place.  And I included a comment

[2017-05-08 22:58] robgpeak commented on #34
Please put a link to the Activity Feed on the left nav menu

[2017-05-08 23:00] #34 closed

[2017-05-08 23:16] robgpeak commented on #53
While you're in there, is it possible to retain the information someone has already entered into the other fields.  That is good UX.

[2017-05-08 23:22] robgpeak commented on #18
I was not sure if this should go here or on #53, but here is is anyway.  Please follow the notes on https://app.moqups.com/robg/QSDVx2F07W/edit/page/a93e4a7ba as it clearly articulates my reasoning for just capturing email and password on Sign Up. (no first and last name).  It may spur other discussions, but we should have them in moqups or verbally.

[2017-05-09 00:09] robgpeak opened #60 "Add Advertisers Logo to the Edit Advertiser page"
@ChrisASearles I would like to see the the advertiser's logo, and to be able to upload a new one (similar to the functionality for the category header images.)  As new advertisers come on board, we have no way to add their logos.  All the logos you see in there now were grabbed in advance and uploaded one time.

[2017-05-09 00:11] robgpeak opened #61 "Edit Advertiser successful but remain on the same edit page"
@ChrisASearles If it is an easy fix for Chad...  After the record for the advertiser is "saved" the page it reads "Success! Advertiser Saved Successfully", but it refreshes back to the list view of all the advertisers, and I would rather that tab remains where it was, but the "save" button would be grayed out, as long as nothing has changed on the page.  [When in the list view of all the advertise

[2017-05-09 00:26] ChrisASearles commented on #18
Hey @robgpeak, this issue was specific to the username issue, please submit this as a new issue and we'll get it scheduled in.

[2017-05-09 00:26] #18 closed

[2017-05-09 00:27] robgpeak opened #62 "Some commission percentages are including decimals"
There are many examples and you can see them when you look at http://shop.complinks.co/admindashboard/advertisers in list view

[2017-05-09 00:29] ChrisASearles commented on #5
@robgpeak this change has been made, looks like it hasn't been published yet. This was just a change to the current buttons, new design changes like the one you're describing are covered in other issues already and are scheduled to be made. The process for these is that @cgladue will reassign issues in the review column to you and @morganpeak once he pushes them up to the production site. You can

[2017-05-09 00:30] #11 closed

[2017-05-09 00:30] ChrisASearles commented on #11
This issue was resolved with the changes included in #42.

[2017-05-09 00:32] ChrisASearles commented on #45
@robgpeak Just included a description of the process in another issue, Review contains items that have been committed to the source repository but not all will be available for you to review until @cgladue publishes a new version and reassigns those issues to you or @morganpeak. Sometimes these versions are held off purposely because the code that's committed may be buggy and just intended for us

[2017-05-09 00:52] robgpeak commented on #60
While Chad is at it in the back end of this page, we should have the ability to add "Store Index" images from the Edit Advertiser page so we can manually upload the proper images. In the mean time, we can use the same 150x40 advertiser logo that we are using now, and we can constrain the width to 150, but unlike the logo, we can allow for 150h as well.

[2017-05-09 00:55] robgpeak opened #63 "Email and password only two fields needed for sign up"
Please follow the notes on https://app.moqups.com/robg/QSDVx2F07W/edit/page/a93e4a7ba as it clearly articulates my reasoning for just capturing email and password on Sign Up. (no first and last name). It may spur other discussions, but we should have them in moqups or verbally.

[2017-05-09 01:01] ChrisASearles commented on #45
@Dwells7583 footer shouldn't be docked to the bottom, should be included inside an md-content. Hold off on this until you rework the nav menus (#41) as they'll likely go together.

[2017-05-09 01:08] cgladue commented on #33
Done, the disclaimer field has been updated globally to read "No points earned on the purchase of gift cards." and all new advertisers will have that text by default.

[2017-05-09 01:11] #33 closed

[2017-05-09 01:13] cgladue commented on #34
the activity feed is on the "Home" page for the admin backend .. and there is already a link to "Home" would you prefer it not be on the home page and put somewhere else.

[2017-05-09 01:16] cgladue commented on #53
what do you mean by "retain the information someone has already entered" ? you mean if they submit and the form is not complete ?

[2017-05-09 01:17] ChrisASearles commented on #9
Done with changes, details in #20.

[2017-05-09 01:19] ChrisASearles commented on #20
@Dwells7583 I had to pull this out of the template because of the antiforgery token. Doing so broke the display a bit, need you to get back in and get it back to where it was. I don't like the orange bg on the create account section here, I think that needs to change. The visited link color needs to be overridden too.

[2017-05-09 01:22] cgladue commented on #18
So when you go to send them an email or a SMS or something down the road, what do you use for the salutation, "Hey you" ?

[2017-05-09 01:23] ChrisASearles commented on #21
@Dwells7583 we need a recommended default image size including width.

[2017-05-09 01:23] robgpeak commented on #34
We've got bigger fish to fry.  Leave it as it is for now.

[2017-05-09 01:24] robgpeak commented on #53
Exactly.

[2017-05-09 01:27] robgpeak commented on #18
At the outset, before someone enters their name, we would use the prefix of their email address.

[2017-05-09 01:34] cgladue commented on #18
pretty impersonal if you ask me, but you got it,

[2017-05-09 01:35] cgladue commented on #61
i can reload back to the same record, but greying out the save button is extra work, but wouldnt hurt if you press it 10 times.... i can change this behavior.

[2017-05-09 01:38] robgpeak commented on #61
Ok reload back to the same record with the message it was successfully updated, and leave it at that, no heating out needed for now, but it should be a back, back burner thing.

[2017-05-09 01:39] cgladue commented on #62
this is due to the new way of pulling default comission %, the new field has decimals .. ill remove them going forward...

[2017-05-09 01:45] cgladue commented on #62
If you take a look at the Activity Feed, you will see the Engine is currently reprocessing all the advertisers now and correcting the commission rates...

[2017-05-09 11:41] #62 closed

[2017-05-09 11:47] robgpeak opened #64 "Engineer the points exchange system"
I know we've spoken about how we might build an API for those casino partners who don't have a way to tap into their points system for the purposes of making the exchange of points seamless, but I would like to see either a mock up of how it would work, or a written description so we can start building and testing the system internally.  We would obviously do the same (create a mock up or document

[2017-05-09 15:48] robgpeak opened #65 "Adding a checkbox to Advertisers/Links page"
I wanted to see what it would take programmatically to have a checkbox in the list view of the Advertisers/Links page to be checked or unchecked, and that would determine whether or not the link was active (visible on the site), or not.  Hey look, I found another one of those videos:) https://screencast.com/t/YZYt7HR8

[2017-05-09 16:16] cgladue commented on #64
Take a look at this document...
[Everywhere Points Redemption Process.pdf](https://github.com/ChrisASearles/CompLinks/files/987277/Everywhere.Points.Redemption.Process.pdf)

[2017-05-09 16:22] robgpeak commented on #64
OK looks good.  And I suppose if there is an API on their side, it's even easier.

[2017-05-09 16:24] cgladue commented on #64
depends how good their API is, but as well as the API is straightforward then yes.

[2017-05-09 16:25] #64 closed

[2017-05-09 18:26] robgpeak commented on #39
This has been revised to #63

[2017-05-09 18:30] robgpeak commented on #1
For easy reference, here is the link to the default CompLinks logo for the shop subdomain https://drive.google.com/file/d/0B1Ggj9_E3xjJaFlvc1MzRU1rMTg/view?usp=sharing

[2017-05-09 18:53] robgpeak opened #66 "Layout for Store Index Pages"
For the sake of brevity and clarity, I would like the site to look like this https://app.moqups.com/robg/QSDVx2F07W/edit/page/ab309be6f

I know there are a bunch of comments on the page, and a lot of them talk about how the look feel and functionality should work, and I think it might be counter productive to bring each one into Github/Huboard as individual tasks.  The one task is to use the layou

[2017-05-09 21:54] robgpeak opened #67 "Grabbing "Example of link" text instead of link name from LinkShare"
@cgladue we need to grab the "Example of Link" text field instead of "Link Name" https://screencast.com/t/cwxntbhm8uk

[2017-05-09 21:59] robgpeak opened #68 "New Advertiser (LS) not showing up, but new links for that advertiser are."
@cgladue Thought this was kind of strange, but maybe you know why. https://screencast.com/t/NtQ62WI0VcqI

[2017-05-09 22:09] robgpeak commented on #67
As a follow up, can we make this retroactive?  Meaning, we would need to change all the current ones that are using "Link Name" as the description to show the "Example of link".

[2017-05-10 00:17] cgladue commented on #67
yes i will expire all the links for linkshare now and force the engine to re-update the descriptions.

[2017-05-10 00:21] cgladue commented on #67
the engine is running right now, as an example you should see the new link descriptions here and slowly trickle in over the next several hours.

http://shop.complinks.co/admindashboard/advertisers/links/6785

[2017-05-10 00:34] robgpeak commented on #67
Great.  Thanks.  One quick thing.  Can you make the description box on this page http://shop.complinks.co/admindashboard/advertisers/editLink/13738 bigger.  Does not have to be as big as the description box on the main edit advertiser page, but at lease big enough to see 250 characters or so...

[2017-05-10 02:22] cgladue commented on #68
Yea it wasnt changed to Joined till the engine ran again little after you posted this, the advertisers and links only update every 24 hours ... and there was a bug for LS advertisers changing from notjoined to joined writing to the activity stream i fixed, so should be all set.

[2017-05-10 02:54] cgladue commented on #67
All set, added Start Date and Expires After dates as well just in case you had another screencast queued up ...

[2017-05-10 12:32] robgpeak commented on #68
OK, so now I see Skarlett Bule in the http://shop.complinks.co/admindashboard/advertisers as joined, but I still don't see it in the activity stream when I search "new advertiser" (which is how LS shows up in the stream, while cj advertisers show up when you search "joined"

[2017-05-10 12:46] robgpeak commented on #67
LOL on the preemptive screencast.  A couple things (no screencast needed:).

1. What would it take to be able to edit the Link directly in the http://shop.complinks.co/admindashboard/advertisers/links/6785 list view instead of having to drill into the edit window?  It would make life a shitload easier.

2. If that was possible, it would also make sense to have a simple check box in the "Active' co

[2017-05-10 13:40] cgladue commented on #68
correct because when it went from notjoined to joined there was a bug that never wrote to the activity stream, so thats why its not there, but as stated above that should be corrected now.

[2017-05-10 13:42] ChrisASearles commented on #32
@robgpeak Please feel free to add these as new issues/feature requests and we'll get them scheduled with an appropriate milestone sometime in the future.

[2017-05-10 13:46] ChrisASearles commented on #59
This is a duplicate of #29

[2017-05-10 13:46] #59 closed

[2017-05-10 13:48] ChrisASearles commented on #66
This is a duplicate of #29

[2017-05-10 13:48] #66 closed

[2017-05-10 13:54] ChrisASearles commented on #34
@cgladue please add all items to the backlog without milestones and work on the priority list as outlined from top to bottom in Huboard. This is how we're trying to ensure we're collaborating in a way that prioritizes the stuff that needs to be done to get a working version out the door and that we all can continue to work without waiting on the other to complete something. I'll move issues from t

[2017-05-10 13:57] ChrisASearles commented on #53
@robgpeak Please add anything that's not related to the password requirements and error messages as a new issue.

[2017-05-10 13:57] #53 closed

[2017-05-10 14:02] cgladue commented on #34
@ChrisASearles i had completed all my assigned tasks when i worked on this.  I can choose what i think is an easy fix and what will take more time.  Easy fixes i can do during the week ( i do have a real 9a-9p job) the more involved ones i do on weekends when i have more time to devote uninterrupted.  What exactly are you waiting on me to do that you cant move forward on, if you have issue #'s tha

[2017-05-10 14:05] ChrisASearles commented on #18
I'm going to add these items as a new issue.

[2017-05-10 14:05] ChrisASearles opened #69 "Registration form changes"
Update registration form to remove first and last name and add reCAPTCHA verification (as per @robgpeak comments on #18).

[2017-05-10 14:08] cgladue commented on #21
This isn't an issue, this already exists in the advertiser maintenance screen, add them to the Featured Category.

[2017-05-10 14:09] ChrisASearles commented on #61
This is a low priority item, removing from the current milestone.

[2017-05-10 14:09] #39 closed

[2017-05-10 14:09] cgladue commented on #39
Sounds like only email and password is required during signup, in which case this issue is closed as its no longer relevant.

[2017-05-10 14:15] ChrisASearles commented on #63
Closing this as a duplicate of #69

[2017-05-10 14:15] #63 closed

[2017-05-10 14:22] ChrisASearles commented on #34
@cgladue mainly trying to keep on top of the items that are prioritized for this release and generally what the status of the project is. when these get moved through without me even seeing them I'm having a hard time keeping up with items that need to be done vs ones that are waiting to be pushed to the production site. Really just a bookkeeping request on my end.

[2017-05-10 14:23] cgladue commented on #34
Would you prefer i left them in a particular status or added a particular flag on them so you know which ones to review ?

[2017-05-10 14:56] ChrisASearles opened #70 "Login form doesn't redirect the user back to previous page"

[2017-05-10 14:59] ChrisASearles commented on #64
Hey @cgladue I took a look at the process outlined in the doc and looks great, has the whole thing been implemented on both the user and casino side?

[2017-05-10 15:00] cgladue commented on #64
yes, the links referenced are live and the process does work, except i have not added the email notifications yet

[2017-05-10 15:01] ChrisASearles commented on #64
Awesome. I'm going to add those as a separate ticket under the new Stretch Goals milestone.

[2017-05-10 15:01] ChrisASearles opened #71 "Redemption process email notifications"

[2017-05-10 15:04] ChrisASearles opened #72 "Admin access"
Derek and I lost our admin access after the registration process change, can you please re-add?

[2017-05-10 15:09] ChrisASearles commented on #65
Would definitely improve the page's usability, moving this into the Stretch Goal milestone to change add a 'Save' button to the page and change the True/False string to a checkbox that is checked/unchecked, Save button would update that field for all entries in the list.

[2017-05-10 15:15] ChrisASearles commented on #67
@robgpeak you had already added the second item on that list as #65 which is assigned into the stretch goals milestone for this release. I'll add your item 1 in that same issue as they would go hand-in-hand.

[2017-05-10 15:16] ChrisASearles commented on #65
As referenced by @robgpeak in #67

"What would it take to be able to edit the Link directly in the http://shop.complinks.co/admindashboard/advertisers/links/6785 list view instead of having to drill into the edit window? It would make life a shitload easier."

[2017-05-10 15:21] ChrisASearles commented on #34
Yeah, if you add them to the backlog with no milestone that's where I try to process my queue from. Thanks Chad.

[2017-05-10 15:33] robgpeak commented on #68
OK, I will test again today/tomorrow to see if is it working as planned before marking this as closed.

[2017-05-10 15:54] ChrisASearles commented on #25
Hey @cgladue I think this issue was clarified with the change you made in #32 to be able to pull featured advertisers by category. Can you confirm when that gets added to the view model?

[2017-05-10 16:08] cgladue commented on #25
Featured advertisers are only in 1 category right now, the "Featured" category depending on which ViewModel you are referring to shoudl already be there...

[2017-05-10 16:18] cgladue commented on #72
Added you and derek to admin role.

[2017-05-10 16:43] robgpeak commented on #25
The Featured category should behave like any other category, and an advertiser CAN be in multiple categories.  So for example, Macy's can be in "Women's Clothing" as number 2, "Men's Clothing" as number 7, and also in "Featured" as number 4...

[2017-05-10 16:44] cgladue commented on #25
@robgpeak and that is how it functions exactly as of right now.

[2017-05-10 17:19] robgpeak commented on #25
Gotcha.  I just was not sure, as when I go to edit the order of the "Featured" category I get an error message.

[2017-05-10 17:22] cgladue commented on #25
That was because there was no advertisers in the category, i have added one and its ok now.

[2017-05-10 17:30] robgpeak opened #73 "Add Advertiser Name on Edit Pages"
In two instances that I can see so far, on the pages (1) advertisers/links and (2) setAdvertiserDisplayOrder, I would like to see either the name of the advertiser, or the category respectively in that page, so I can see what record I am editing.

examples http://shop.complinks.co/admindashboard/advertisers/links/6241 and
http://shop.complinks.co/admindashboard/advertisers/setAdvertiserDisplayOrde

[2017-05-10 19:15] robgpeak commented on #5
@cgladue how often are changes push up to the production site?

[2017-05-10 19:16] cgladue commented on #5
my changes i push up several times a day... but Chris and Derek do not merge their branch with my branch very often.  so their changes havent been included for a while now.

[2017-05-10 19:18] Dwells7583 commented on #5
@cgladue @robgpeak I should have some changes to push by end of day today. Just trying to finalize a few things.

[2017-05-10 19:35] robgpeak commented on #56
As a follow up on this, we will have our online form in the support section of the site capture the fields; *'First_name', 'Last_name', *'Email_address', *'Comment_box' where * is "Required" field.  Question, if someone is already logged in, can/should we have the email field pre-populated with their email address?  If yes, we should allow them to edit it.

Not sure if this would be a separate dis

[2017-05-10 19:36] robgpeak commented on #5
Oh boy, it's like Christmas Eve!!!

[2017-05-10 20:33] robgpeak opened #74 "Commission From and To has been changed in many instances"
@cgladue I know @morganpeak initially brought this issue up via email, but I wanted to put it in Github as an issue.  It's not that the percentages we doubling, it's that the Commission From field seems to be becoming filled with the same percentage as in the Commission To field, even though there has never been a Commission From on these instances.

Meaning in the original .json file that we load

[2017-05-10 20:51] robgpeak opened #75 "Changing the names of some advertisers"
@cgladue I wanted to bring to your attention that @morganpeak and I have been going through an changing some of the names of some of the advertisers, from what they may have been in that the original loading of them from those json files.  Some of them had additional BS in the Advertiser Name field.  (i.e. ECMD-Save on Early Childhood Furniture & Equipment!, Encore Software - Broderbund, Punch, Ho

[2017-05-10 21:26] cgladue commented on #74
Yea if the advertiser has only one rate then that rate will be in both fields.  We will handle it on the front end however you want wording wise.

I am running another update to commission rates based on an email from Morgan earlier yesterday.  Stay tuned.

[2017-05-10 21:36] robgpeak commented on #74
"...if the advertiser has only one rate then that rate will be in both fields..."  This is a departure from what was originally programmed.  So if you look at the majority of the advertisers now in our back end, the Commission From field is empty, so I am wonder what happened?

[2017-05-10 21:45] cgladue commented on #74
It's because we have I deeper understanding of how to calculate the percentages from the API data.  And I am in the process of reloading those fields from the API data so both the from and to will update automatically

[2017-05-10 22:27] cgladue commented on #74
this only affects CJ since LS dosnt give this level of detail on comission %'s...

the parsing of the <actions> nodes in the API has been completed and it will go through all actions across all child sites for that advertiser and set the comissionFrom field to the lowest % that it encounters and the comissionTo field to the highest...

as an example here is an excerpt from freshpair.com:

<actions

[2017-05-10 22:32] cgladue commented on #75
yes on linkshare for some reason i was always setting the advertiser name to whatever linkshare gave me, i have removed that and it will no longer overwrite the name sorry!

[2017-05-11 01:02] cgladue commented on #69
Done

[2017-05-11 01:13] robgpeak commented on #69
Hey Chad, do you know why it's not behaving the same as the one on https://complinks.co/contact-us/?  Meaning, when I go to the one on the page above on chrome on my phone, I don't have to pick any portions of pictures it asks you to like when I go to the one on the registration screen, when I just use the default internet browser on my Android phone...?

[2017-05-11 01:16] robgpeak commented on #69
Nevermind, I just went to the registration page in a chrome incognito window on my phone, and the image puzzle popped up...  No worries.  Maybe it's random.

[2017-05-11 01:24] cgladue commented on #69
yea thats part of how it figures out if your a robot or not, sometimes it will prompt you for input sometimes it wont.

[2017-05-11 13:23] ChrisASearles opened #76 "Set default OrderBy in the DAL"
Now that there is a DisplayOrder field in most of the tables, I would think it would make sense to set that as the default "OrderBy" in the DAL for any methods that don't perform paging, and let the Views handle a different display order if required. @cgladue what do you think?

[2017-05-11 13:28] ChrisASearles commented on #21
Hey @cgladue are you formatting the commissionfrom and to strings on your end or do I need to parse that text out to determine if it's a percentage or a dollar value? If you're not already doing it in the controller, can you? I would think that would be a better place for it to live rather than trying to figure the data out in the view.

[2017-05-11 13:42] cgladue commented on #21
Right now all commission values are already formatted in the DAL except the "up to x points/$" vs "x points/$" based on the values of those two fields.   Those you need to decide which way to display it

[2017-05-11 13:44] ChrisASearles opened #77 "Partial Views for Category and User Data"

[2017-05-11 13:47] ChrisASearles opened #78 "Replace casino / partner name in page titles"
Page titles and meta descriptions should be updated based on the tenant application.

[2017-05-11 13:49] ChrisASearles opened #79 "Add Links as a navigation property from Advertiser"

[2017-05-11 15:03] cgladue commented on #76
Sure, i can add that in the LINQ

[2017-05-11 18:42] ChrisASearles opened #80 "Side Nav Issues / Updates"
Side nav needs partner menu items, needs to be organized better for all logged in users.

[2017-05-11 19:50] ChrisASearles opened #81 "MailChimp Integration"
Users should be presented with an option upon registration to sign up for special offers and updates (@robgpeak do you want to work out the specific text?). Checking that box will add the user to the CL MailChimp account.

[2017-05-11 20:11] robgpeak opened #82 "Starts On and Expires After Dates for Deal and Promotions Links not correct"
@cgladue This screen cast (https://screencast.com/t/XsA3L2k0o) highlights two separate issues, but for now I will put it in as one, and we will break off another task for the second one.  The issue is that the expiration dates for the new links for advertisers that you are getting from the API and showing up in the Activity Stream, and then ultimately on the site, are NOT picking up the proper Sta

[2017-05-11 20:35] robgpeak opened #83 "Advertiser Link not going to the intended page on the advertiser's site"
@cgladue seemingly you are using the proper offer ID in the link, but I just noticed this link was not going to the correct landing page on the advertiser's site. (https://screencast.com/t/rMm5Z3DwgYT) I will look for other examples on both cj and ls and let you know if I find anything else.

[2017-05-11 20:49] robgpeak commented on #81
I just looked at the T&Cs for ebates, and they have this paragraph in theirs:

Receiving Communications from Ebates

By signing up for membership at Ebates, you agree to receive communications that are account and membership related (e.g., that we've added money to your account, that we are mailing you a check on a certain date, etc.) as well as periodic shopping-related emails that highlight coup

[2017-05-11 21:14] robgpeak commented on #81
The T&Cs have been revised and can be found here.  https://docs.google.com/document/d/14rLnCIh0Yj_TzFABhFDSDWMdE0M7RGY_swouazW9_pc/edit?usp=sharing

Please note there are a couple of URL references on this document (you will see the comments next to them, and they are highlighted for easy reference), that must dynamically replace the "www" with the name of the subdomain that is serving this docume

[2017-05-12 00:36] ChrisASearles opened #84 "Pull Featured Deals"
We have two requirements defined for pulling "Featured Deals," one on the homepage, the other in the primary navigation. The initial implementation will be to pull the first active deal from a Featured Advertiser, but the next step would be to allow admins to feature a deal (link) on the admin side.

[2017-05-12 00:52] Dwells7583 commented on #22
@cgladue also need the feature stores for the header section as well.

[2017-05-12 01:42] ChrisASearles commented on #84
Hey @cgladue I just checked in a bunch of updates. I pulled all the layout stuff into partials, built a new controller to host all the child actions for the layout and added/updated some view models for all that data. I was going to pull the featured links as described above but there aren't any nav properties on the Advertiser object for links so I wasn't sure if you wanted to build this as a sto

[2017-05-12 01:52] #77 closed

[2017-05-12 02:25] cgladue commented on #84
i was just finishing up adding that when i saw this, its ok i deleted my code and kept yours during the conflict... also i went in and added the featuredDeal call to the DAL and your VM its committed to SVN now if you do an update

[2017-05-12 02:26] cgladue commented on #84
i have implemented what you wanted with advertiser links being able to be featured... the LinkDAL.getFeaturedDeals(string username) call is where you get it from.

[2017-05-12 02:49] cgladue commented on #70
returnUrl needs to be passed as a hidden field in the Login Form and it will redirect to that URL after authenticated.

[2017-05-12 03:07] #75 closed

[2017-05-12 03:12] cgladue commented on #82
there was an error in the code that pulled this field in the API..  good job finding it and shame on me for creating it :\

[2017-05-12 03:42] cgladue commented on #83
Damnit rob, you always find the bugs!

there was a but on the trip start redirect, i have corrected it and the page loads correctly now.

[2017-05-12 04:26] cgladue commented on #6
i have completed this, i am serializing this object into the partner property of the viewbag, update your project and take a look at HomeController, as well as _Layout to see what i did.  This object is stored on each partner record in the DB

 {
	"primary":
	{
		"main" : "700",
		"hue1" : "500",
		"hue2" : "900",
		"hue3" : "A700",
	},
	"accent":
	{
		"main" : "A200",
		"hue1" : "A100",
		"hue2"

[2017-05-12 13:24] ChrisASearles commented on #13
I updated this and this should only load production data now based on user login status.

[2017-05-12 13:24] ChrisASearles opened #85 "Forgot password email"
Submitted a forgot password request and never received an email.

[2017-05-12 13:35] cgladue commented on #85
Did you do this while running locally or from shop.complinks.co?  And which user ?

[2017-05-12 15:04] ChrisASearles commented on #85
Local. Assuming that's my issue, security settings within Amazon?

[2017-05-12 15:08] cgladue commented on #85
no, you only registered for an account on shop.complinks.co, when you run it locally it is technically a different tenant so you cannot login on the localhost:58149 site with your chris.searles@searlesgraphics.com account you registered on shop.complinks.co.  And the same goes for forgot password, it will silently return the same response whether or not an account exists for security reasons.  so

[2017-05-12 15:55] robgpeak opened #86 "Adjustments to "Store Box""
We need to make a couple of adjustments to the "Store Box" container content, and it's functionality.

1. The store box should look like this:

![uploads/9673eba4-5ae4-4e84-9796-b435f180f6cf/Screen Shot 2017-05-12 at 11.15.19 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9673eba4-5ae4-4e84-9796-b435f180f6cf%2FScreen+Shot+2017-05-12+at+11.15.19+AM.png)

a. The logo spacing a

[2017-05-12 16:03] #72 closed

[2017-05-12 16:05] ChrisASearles commented on #86
Rob, these are all still in development under a number of different issue numbers (#22 #23 #25 to name a few). We're working on this actively and will let you know when the version you're seeing is something we need feedback on.

[2017-05-12 16:05] #86 closed

[2017-05-12 16:17] robgpeak opened #87 "Missing Advertiser Logos"
@cgladue I did some digging and see there are two reasons why we might be missing advertiser logos.

1. They signed up after we did our original scrape of all the logos.  Those, Morgan and I can fix manually.

2. Not really sure why this is happening, but they were in our original scrape file, but they are not showing up...  https://screencast.com/t/dmVW17C657v

[2017-05-12 16:23] cgladue commented on #87
i may have failed to upload all of them, from the original scrape, the
upload utility to amazon was cludgey at the time for that # of files, and i
got errors in the middle of the upload and tried to resume where it left
off, i went back and thought i got them all but i must have missed some...

if you upload now they should be corrected... and going forward it will
kinda be a manual thing when the

[2017-05-12 16:30] robgpeak commented on #87
Understood.  So we will just manage them all manually.

[2017-05-12 17:12] ChrisASearles commented on #84
Hey @cgladue I see the method and that you added it to the controller action but I'm not getting any data back. Am I missing something on the admin side I need to do?

[2017-05-12 17:14] cgladue commented on #84
there are probbally no "Deals" (Links) assigned as Featured

https://shop.complinks.co/admindashboard/advertisers/links/11  you can set
as featured from there.

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Fri, May 12, 2017 at 1:12 PM, Chris Searles <noti

[2017-05-12 17:20] robgpeak opened #88 "Activity Stream updates"
@cgladue as you suggested, I put together a mock of the Activity Stream.  Please have a look at https://app.moqups.com/robg/QSDVx2F07W/edit/page/af439bb18 and read the yellow sticky notes on the page first, and then the corresponding comments.  This is a low priority, but I know you like to "code to relax", so maybe this one can put you to sleep when you have nothing else to do:)

[2017-05-12 17:21] cgladue commented on #88
lol, i dont think ive ever heard that before, but i suppose it has some
basis in reality.

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Fri, May 12, 2017 at 1:20 PM, robgpeak <notifications@github.com> wrote:

[2017-05-12 18:10] robgpeak opened #89 "End User Analytics"
@ChrisASearles @cgladue This should be thought about from the perspective of, "What are people searching for, (i.e. store names, products, terms, etc.) from the search bar on our site?"  "What links are they click on within our site to navigate within it?" What links are they clicking on to start a shopping trip?  (i.e. The "Shop Now" button from Store Box on category page, the "Shop Now" button f

[2017-05-12 18:12] robgpeak commented on #88
That was almost verbatim of what you said when we first spoke.  LOL

[2017-05-12 18:18] ChrisASearles commented on #84
Great, thanks.

[2017-05-12 19:02] ChrisASearles commented on #84
@cgladue I marked a few links as featured, ensured the advertiser was joined and active and the links were active and not expired and I'm still not seeing them. Committed my current version to the repo, can you take a look and see if I'm missing something?

[2017-05-12 19:28] ChrisASearles commented on #21
@Dwells7583 still an issue here that's causing the buttons to not align right.

[2017-05-12 19:31] ChrisASearles commented on #22
Data is loading, I changed to div's from the tilegrid to fix the overflow issue but it's causing another problem where heights aren't flexing properly. For some reason the buttons blew out larger when I made my changes too. @Dwells7583 can you take a shot at this?

[2017-05-12 19:36] ChrisASearles commented on #41
This should be completely functional as soon as the issue with the featured deals is sorted out that's being tracked under #84. There are still some minor display issues I'd like to address but I want to track those under separate issue tickets (some like not capturing a user's first and last name have been introduced with recent changes and need some discussion).

[2017-05-12 19:38] ChrisASearles commented on #3
@Dwells7583 I think I broke the mobile version of the search bar in a more recent commit.

[2017-05-12 19:42] ChrisASearles commented on #9
This issue is technically fixed but I had to move the dialog out of a template and into the layout page because of the anti-forgery token in the login and it created a new issue where the dialog seems to think it's parent is only the left half of the page. Still trying to track down the cause of this but I will add that as a new issue.

[2017-05-12 19:42] ChrisASearles opened #90 "Login dialog display issues"
I broke the look of this when I had to migrate it into the Layout page as documented in #9. At the same time, I hate the accent color background at the bottom, and some of my changes also caused some of the text decoration and color changes to revert back to browser defaults on the Create Account link. All of these items need to be fixed.

[2017-05-12 19:47] ChrisASearles commented on #56
@morganpeak @robgpeak can one of you guys get us the code for the widget? https://www.groovehq.com/apps/widget

[2017-05-12 19:49] cgladue commented on #84
can you update your repo and try it now, i was returning an empty list.  should of returned a different object.

[2017-05-12 20:02] cgladue commented on #5
Why was this assigned to me, what do you need ?

ViewBag.Partner.Style contains the style object for the partner .. only thing missing is the logo.  but colors are in there.

[2017-05-12 20:04] cgladue commented on #2
i dont understand what you want me to do here ?

[2017-05-12 20:04] cgladue commented on #41
this should be cleard up with my recent committ..

[2017-05-12 20:05] ChrisASearles commented on #5
Hey @cgladue I assigned everything that we pushed to 'Review' that's waiting to be deployed so you had a better idea of what changes need to be reassigned to Rob when you push a new version up. Just thought it might be easier for you to keep track of but let me know if not!

[2017-05-12 20:05] cgladue commented on #5
oh ok, i thought you were expecting me to do something ...

[2017-05-12 20:13] Dwells7583 commented on #29
@cgladue as per the moqups from @robgpeak , is there a expiration date and Coupon code that I can display on the deals and promotions. I tried using the End.date for the expiration but that did not seem to work, unless there was no expiration date on that specific store.

[2017-05-12 20:17] cgladue commented on #29
startDate and endDate should be populated, if the advertiser does not
specify a start date i fill it in with 1/1/2017 and if they do not enter a
end date i enter 12/31/2020  if either of those dates are detected then it
shouldnt be shown on the website i would think, otherwise it can be shown,
the code will take some string manipulation to try and parse accuratly, in
the meantime just leave a spot

[2017-05-12 20:42] cgladue opened #91 "Add Image Upload on partner Record for logo."
need to be able to upload image for partner on partner maintenance screen.

[2017-05-12 21:01] ChrisASearles opened #92 "Category Model"
@cgladue based on conversations with the CL team and the design we're working up, we need to update the model for this view with the following elements:

1. Featured Stores - all stores within the category that have been featured
2. Featured Deals - all links for stores within the category that have been flagged as featured
3. All Stores - all stores for the category

This one we need to talk abou

[2017-05-12 21:06] ChrisASearles commented on #74
Is this still an active issue?

[2017-05-12 21:11] ChrisASearles commented on #70
Weird, definitely saw this not work earlier but it might have been related to my issue with not being registered via the localhost tenant. All looks good now!

[2017-05-12 21:11] #70 closed

[2017-05-12 21:15] ChrisASearles commented on #24
As this ticket was just related to the upload and ability to display a category image, not the layout of the page, I'm going to close, all discussion about the page layout should occur on that issue (#25).

[2017-05-12 21:15] #24 closed

[2017-05-12 21:18] ChrisASearles commented on #84
This is working. @robgpeak I think we need to discuss the featured deals in the nav's, I don't think it works as is and we should probably just link to a new page that displays featured deals. I'm going to create that as a new issue since it's only related to the menus and submit this one for review with that understanding.

[2017-05-12 21:18] robgpeak commented on #92
Regarding number 4, let's put this (other ads), on the backlog for after the initial release.  Have a look at comment 3 on the page https://app.moqups.com/robg/QSDVx2F07W/edit/page/ab309be6f to get an idea of what I was thinking for the **Extra Container**

[2017-05-12 21:28] ChrisASearles commented on #92
@robgpeak yeah, we discussed that when you guys came in last but it seems a little odd and out of place on that page. Plus, at the moment, the only way we have to really identify a user is by their email address.

I know you're looking for ways to gamify but I'm not sure that's it. In the future we might be able to work in some of the gaming options you want to build out but we thought this might

[2017-05-12 21:30] robgpeak commented on #74
Sort of.  We need to figure out programmatically how we are going to handle the display of the "Points/$" on the front end from this data.  I will think of a solution over the weekend.

[2017-05-12 21:33] robgpeak commented on #84
agreed, the link in the nav should go to a page.

[2017-05-12 21:37] ChrisASearles commented on #74
Really not a big deal on our end, we could handle both use-cases. @cgladue I'm thinking it would be better to build this logic into the model object so we don't have to repeat it everywhere in case we change and miss something. This way it's just a string we're pushing out in every View and if the logic changes or a bug needs to be fixed it's isolated to a property on the model.

[2017-05-12 22:00] robgpeak commented on #92
No Adwords.  That does not fit into the business model.  As for the leaderboard Idea, we will be capturing the users first name, just not at the initial registration.  We will backburner that for sure.

In the mean time, we can go with 8, or 10, or 12 "Similar Stores" to fill up some of that space.  Additionally, we can have Display Ads (say 300x250) in the **Extra Container** that rotate in from

[2017-05-12 22:13] cgladue commented on #92
So you want me to start pulling banner ads and store separately and make them available similarly to links but in a different container ?  And these will be referred to as ads ?

[2017-05-12 22:39] robgpeak commented on #92
Yeah, that's fine.  We can call them ads, and they should use the same starts on and expires on logic as the text links.  Let's keep the sizes consistent throughout. Only grab 300x250 ones, and maybe only grab ones that are listing in our Featured list.  Meaning, we only want to use big brand name stores...

[2017-05-12 23:12] cgladue commented on #92
Ok so only banner ads for listing that are featured and only if they are 300x250px ?

[2017-05-12 23:15] robgpeak commented on #92
Yeah I think that will be a good start.  And of course we can manually turn the off from appearing manually if need be

[2017-05-12 23:19] robgpeak commented on #92
Meaning being able to turn them off  from appearing on the front end, on and individual ad basis.

[2017-05-13 00:14] #76 closed

[2017-05-13 00:23] ChrisASearles commented on #92
You can drop them right in on the view Chad, spot should be there already
(pretty sure there are two right now).

On May 12, 2017 7:19 PM, "robgpeak" <notifications@github.com> wrote:

Meaning being able to turn them off from appearing on the front end, on and
individual ad basis.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://gi

[2017-05-13 01:47] cgladue commented on #57
@ChrisASearles Page has been created and change password / first, last, mobile number fields added and functional, time for you to make it look pretty.

[2017-05-13 01:47] cgladue commented on #57
oh, page is /account/profile

[2017-05-13 01:49] cgladue opened #93 "Create Alerts to display status messages on site"
Need an alet box for Success, Warning and Error status with an area for the message to be displayed, and a X to close and perhaps even an autohide if youd like.  This would need to be in the _Layout view so it was available for any page on the front end, would be triggered if TempData["success"] was != null, TempData["warning"] was != null or TempData["error"] was != null

[2017-05-13 02:18] cgladue commented on #92
#1,2,3 is done, the viewmodel look slike this:
`CategoryIndex vm = new CategoryIndex();

            vm.currentCategory = categories.Where(w => id == w.id).FirstOrDefault();
            vm.Advertisers = AdvertiserDAL.getAllAdvertisers(id, User.Identity.Name);
            vm.FeaturedAdvertisers = AdvertiserDAL.getFeaturedAdvertisersInCategory(User.Identity.Name, id);
            vm.FeaturedDeals =

[2017-05-13 02:19] cgladue commented on #87
@robgpeak is going to upload the missing advertiser logos

[2017-05-13 02:40] cgladue commented on #74
i have moved this into the Advertiser object, the PointText property should contain the text to display on the front end now... i updated Category and Home views.

[2017-05-13 02:58] cgladue opened #94 "Pull Banner Ads into AdvertiserAds Table"
@robgpeak wants to have Banner Ads for featured advertisers that are 300x250px to be loaded in the DB and made available to the front end.

[2017-05-13 13:37] #73 closed

[2017-05-13 14:48] cgladue commented on #94
Ads are now being stored in AdvertiserAds table for featured advertiers and only 300x250px banner ads.  You can view advertiser Ads just like you view links from the advertiser maintenance screen.

[2017-05-13 14:49] cgladue commented on #92
@robgpeak @ChrisASearles @Dwells7583 ads are now added to Category ViewModel as well as the Store ViewModel...

[2017-05-13 15:11] robgpeak commented on #94
When I click on Advertisers Ads from the actions menu I get a page error.  http://shop.complinks.co/admindashboard/advertisers/ads/6789

[2017-05-13 15:20] cgladue commented on #94
this is because there are no ads for this advertiser, ill fix it so it
handles it nicer...

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Sat, May 13, 2017 at 11:11 AM, robgpeak <notifications@github.com> wrote:

[2017-05-13 15:37] cgladue commented on #94
@robgpeak all set it will not throw an error if there are no ads, and the ads option wont even be available if its not in the featured category.

[2017-05-13 15:47] robgpeak opened #95 "Rounding Decimal Places of points/$"
Truthfully I would really only like to display AND calculate points in full or half points...  But I think for now we can at least limit it to Full, .25, .5 and .75...  I saw a few in there as ..375, and that should round DOWN to .25, and if something is .875, it should round down to .5.

[2017-05-13 15:54] robgpeak opened #96 "In the "Earn" box on the home page, it should read "Rewards Everywhere" instead of Everywhere Rewards."

[2017-05-13 16:00] robgpeak commented on #94
So http://shop.complinks.co/admindashboard/advertisers/ads/6789 is Macy's, and they are in the feature list, but I don't see any ads on this page I referenced?

[2017-05-13 16:01] cgladue commented on #94
Press refresh again, it is corrected

[2017-05-13 18:43] cgladue commented on #91
done

[2017-05-13 18:43] cgladue commented on #40
done, HTTP is redirect 301 to https

[2017-05-13 18:52] #91 closed

[2017-05-13 22:12] #2 closed

[2017-05-13 22:14] #12 closed

[2017-05-13 22:17] #13 closed

[2017-05-13 22:19] #23 closed

[2017-05-13 22:26] robgpeak commented on #84
It is pulling the featured deals, so I will close this particular issue, but the functionality of it will brought up in another issue.

[2017-05-13 22:26] #84 closed

[2017-05-13 22:50] robgpeak commented on #56
@ChrisASearles I just added you as an admin to Groove.  When you get in, you can go to https://complinks.groovehq.com/groove_client/settings/api and get what you need.  I really don't understand it.

Also, keep in mind that at the moment, we only have the free plan with just info@complinks.co going through groove, which is the account for the advertisers to contact us.  Once we are ready to start

[2017-05-13 22:51] #9 closed

[2017-05-13 23:49] robgpeak opened #97 "Locking potential points earning based on the start of a shopping trip"
@cgladue, I actually just used a link on CompLinks to click through to one of our advertisers and made a purchase.  Our back end captured the trip, so we should be good there, but it dawned on me that currently the "shop" subdomain in the Partner section of our back end has the share rate at .75.  So my thought is, what would happen if we decided to change the share rate at tomorrow to .5, but the

[2017-05-14 12:25] robgpeak opened #98 "Changing .icon and page titles"
There are several pages that I noticed the CL .icon image not showing up, mainly in the back end.  And the titles should be change to read "CompLinks - Casino Rewards Everywhere"

Notice the "L" in CompLinks.

If it possible or warranted, maybe we can have the name of the page dynamically appear in the title as well.  i.e. "CompLinks - Casino Rewards Everywhere - Advertisers", "CompLinks - Casino

[2017-05-14 12:47] cgladue commented on #98
i went through the backend and changed the pages i could locate that had incorrect titles...

[2017-05-14 14:03] robgpeak opened #99 "Add a filter to the Advertisers in list view"
@cgladue Please put a filter on the Advertiser list view as per attached mock up
![uploads/b377889b-dc88-4d68-a3ce-7fee9a078cc8/Screen Shot 2017-05-14 at 10.01.38 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb377889b-dc88-4d68-a3ce-7fee9a078cc8%2FScreen+Shot+2017-05-14+at+10.01.38+AM.png)

[2017-05-14 14:23] robgpeak commented on #65
This would also improve the functionality of the http://shop.complinks.co/admindashboard/rewards/redemptions page, where we might have hundreds of redemption requests in there that a casino operator would need to go in and manually mark as a completed transaction.

[2017-05-14 15:14] cgladue commented on #99
![image](https://cloud.githubusercontent.com/assets/7914133/26035196/7f8309dc-3896-11e7-92f6-91acd284505a.png)

[2017-05-14 15:17] robgpeak commented on #99
sweet!

[2017-05-14 15:17] #99 closed

[2017-05-15 03:10] robgpeak opened #100 "Getting the pages to load faster"
It's not the images that are slowing the page loads, it's something else.  I have no idea what but we need to find out what it is and fix it.

https://developers.google.com/speed/pagespeed/insights/?url=Shop.complinks.co&tab=desktop

This is one thing I found, but there are probably better tools out there to help pin point the bottleneck.

[2017-05-15 13:20] Dwells7583 commented on #3
Fixed search on mobile

[2017-05-15 13:22] Dwells7583 commented on #21
Fixed alignment issue

[2017-05-15 15:14] ChrisASearles commented on #93
@cgladue can you describe a specific use case?

[2017-05-15 15:17] cgladue commented on #93
sure, but all use cases would be the same since the notification/alert would be generic and allow the text to be specified

but for example the manage profile page i created where you can change your password and update First/Last/ and mobile number, once they press save and it redirects back to that page there should be a banner/notification green in color for the success, yellow for a warning, a

[2017-05-15 15:19] ChrisASearles commented on #95
@cgladue what will this take on your end?

[2017-05-15 15:21] ChrisASearles commented on #97
This would require tracking changes to the redemption rate by date. Doesn't seem like it will happen that often so I would say it can be held off until after the initial release unless @cgladue wants to get into it sooner.

[2017-05-15 15:25] cgladue commented on #95
@ChrisASearles its not mathmatically difficult, but when if we start manipulating the percentages and rates this way it might not produce the intended result.

@robgpeak tell me again why you are wanting to only have these 4 values ?  all the math is done by the system and the user wont be seeing those calculations, and if you start rounding then people might start complaining that they spend $100

[2017-05-15 15:41] robgpeak commented on #95
Sorry guys, give me a few to get back to you on this and some of the other issues, just dealing with something unrelated to business at the moment.  But keep cc'ing me and asking other questions of me on other topics.

[2017-05-15 15:46] ChrisASearles commented on #40
I'm not being redirected on the shop.complinks.co sub

[2017-05-15 15:47] cgladue commented on #40
yea it was done, but ron needs to install the certificate on his other server hosted at godaddy before i turn it back on otherwise it takes that server offline by requiring the SSL through cloudflare since both servers are behind the same domain on cloudflare.

[2017-05-15 16:12] robgpeak commented on #95
OK, so how about we use just two decimal points as a max on the front end for visible aesthetics and consistency on the site, but pay the actual points earn to a customer.  So "3.875 Points/$" becomes "3.87 Points/$"  The other option would be to use just one decimal place and make it "3.8 Points/$" but of course still pay the full 3.875 points to the users account.

Thoughts?

[2017-05-15 16:13] cgladue commented on #95
i think the 1 decimal place is the best idea, do you still want to only show point balance in whole points ?

[2017-05-15 16:42] robgpeak commented on #40
I just got off the phone with Godaddy support about the SLL and he said it is seemingly installed properly on the www.complinks.co site which is doing an automatic redirect to https, but it is actually going to complinks.co instead of www.complinks.co.  This must because the "script" or plugin is making that happen, but to be honest, I have no idea why, or how to fix it.

I am using the really-sim

[2017-05-15 16:45] cgladue commented on #40
are you able to give me access to the control panel for the godaddy hosting ?

the problem is cloudflare, there is 1 domain which covers complinks.co (and all subdomains, including www. and shop. and all others,

id like to take a look at the hosting setup for complinks.co if possible

[2017-05-15 16:52] cgladue commented on #100
the server is only running on 1GB of ram and very small CPU so it may be resources on the server slowing this down too for now.

[2017-05-15 16:57] robgpeak commented on #95
Glad"ue" to hear you say that.  I think that is the optimal solution to use one decimal place on the front end site, but if we only show whole point balances to the user, how would that work?

I just bought something the other day for $318.14, and the front end told me I was getting 2.25 points/$.  I should be expecting 715.815 points.  In the new idea of showing only one decimal place on the fron

[2017-05-15 16:57] #87 closed

[2017-05-15 17:06] robgpeak commented on #100
My spider senses say that it is more likely a script or coding that is causing it, and a way to test it would be to load a page from the same place that does NOT use any scripts, but is very rich in graphic content (big image files, etc.) and compare the load times.  Do you have something that you can use to test it?

How much would be it be to upgrade to something better and faster on AWS?

[2017-05-15 17:12] cgladue commented on #100
@robgpeak

https://aws.amazon.com/ec2/pricing/on-demand/

Currently the web server is a "t2.micro" instance with 1 GB ram and 1 core costing about 1.2 cents per hour (or $8.93 a month)  you can go anywhere from there to x1.32xlarge  with 1952GB Ram and 128 cores at 13.338 an hour ($9,923 a month)

[2017-05-15 17:17] robgpeak commented on #100
Let's first test the script theory.

[2017-05-15 18:24] robgpeak opened #101 "Hide Advertisers from list view"
@cgladue Please see if you can add the option in the "Action" menu on the page http://shop.complinks.co/admindashboard/advertisers to "Hide" Advertiser, which would take the record out of the mix on all the other four views,   JOINED   NOT JOINED   ACTIVE   INACTIVE, and put them in their own filter of HIDDEN.

It would still retain the records current state of Joined or Not Joined, and/or Active

[2017-05-15 18:26] cgladue commented on #101
being "hidden" should also remove them from the site navigation as well i assume correct?

[2017-05-15 18:28] #3 closed

[2017-05-15 18:30] robgpeak commented on #101
yes.  I think they will all be on false anyway which would prevent them from being in the site nav, but yes, hidden would do that as well.

[2017-05-15 19:30] Dwells7583 commented on #22
Buttons are fixed.

[2017-05-15 19:45] #21 closed

[2017-05-15 19:53] #41 closed

[2017-05-15 21:41] #83 closed

[2017-05-15 23:29] robgpeak opened #102 "The site not showing properly in Safari"
I am not sure why there is a major compatibility issue with the site and Safari, but that needs to be fixed.

[2017-05-15 23:56] robgpeak opened #103 "Time stamp on the server needs to be adjusted to EST"
@cgladue I just signed up for a new test user account (dd_test@peakmarketing.com) under the doverdowns subdomain at 7:50PM EST, but when I look at the record in the User view of the back end, The time stamp in the Created column reads 11:50PM

[2017-05-16 00:08] cgladue commented on #103
Database server was still set to UTC, changed timezone to **America/New_York**

[2017-05-16 00:47] robgpeak commented on #103
And that was seemingly only the new user registration database because the shopping trip recorder the correct time...  Strange.

[2017-05-16 00:47] #103 closed

[2017-05-16 01:08] robgpeak opened #104 "Search Magnifying glass is outside of the search box on Firefox"
just looks a little weird.

[2017-05-16 01:13] robgpeak commented on #88
As a follow up to this Chad, I know it's going to take some work to think about the check boxes and batch processing, but in the mock up, Sticky note (2) about adding the Network ID column, that seems like it should not be to difficult, yes?

[2017-05-16 01:52] robgpeak opened #105 "Limiting the number of text links that display by default"
@cgladue trying to think of a way to limit the number of text links that display in the deals and promotions section of the advertiser index page.  Some advertisers have hundreds... https://shop.complinks.co/AdminDashboard/Advertisers/Links/5587
https://shop.complinks.co/admindashboard/advertisers/links/6789

I was thinking, maybe we only show (mark the Active column "True" by default) deals and p

[2017-05-16 13:23] robgpeak opened #106 "removing the header images from the store index pages"
This might be a phase 2 or 3 thing where we could take the time to put header images on each of the internal store index pages, but for now we should take the same approach that was in the mock up https://app.moqups.com/robg/QSDVx2F07W/edit/page/ab309be6f where it reads, Shop <Name of Store>

[2017-05-16 18:24] robgpeak commented on #40
@cgladue The forced SSL on the subdomains is not working again.  Please look at it and tell me if there is anything else I can do with godaddy?  The one at www is still working fine...

[2017-05-16 18:28] cgladue commented on #40
@robgpeak it was my bad, i had changed it on the server when i was testing and never put it in the Project so when i re-deployed to add the activity stream archiving it overwrote it, but its back now.

on a side note, you can archive the activity stream now, just select the row by clicking on it, you can shift click to select multiple or ctrl click like usual to select 1 row at a time.

[2017-05-16 18:35] robgpeak commented on #40
cool on the SSL.  As for the Activity Stream update, I am going to close this issue and make a comment in #88

[2017-05-16 18:35] #40 closed

[2017-05-16 18:37] cgladue commented on #88
network ID isnt in the table currently, but if you need it then it could be added, but in the future depending on the type of activity it may not always be filled in (redemption, etc)

[2017-05-16 18:37] robgpeak commented on #88
Chad wrote "on a side note, you can archive the activity stream now, just select the row by clicking on it, you can shift click to select multiple or ctrl click like usual to select 1 row at a time."

I was able to get one record at a time to archive, but it did not work when I selected multiple records.

[2017-05-16 18:37] cgladue commented on #88
hmm, ok let me look into it again

[2017-05-16 18:41] robgpeak commented on #88
I think it would make a lot of sense to include the network ID in the table, especially since we change names of advertisers.  Additionally, I would leave the record ID column visible all the time.  It is useful to see.

[2017-05-16 19:37] robgpeak commented on #74
@cgladue @morganpeak So there are two types of records in the Advertisers database.  Ones with percentages in both the Commission From and Commission To fields.  These could be both the same percentages, which in this instance, the front end would display "Earn x points/$" where x in the percentage in the Commission To field.  If they are different percentages, the front end would display "Earn up

[2017-05-16 19:55] ChrisASearles opened #107 "Search results page"

[2017-05-16 20:23] ChrisASearles commented on #106
The intention here was that we were going to pull the category header image from one of the categories the store was a member of. We thought it would be a good look for the store page. Right now the auto header was just a placeholder until the right data could be loaded. If you'd prefer no image that's fine, just wanted to explain the intent before you nix the design.

[2017-05-16 20:25] ChrisASearles commented on #98
I'm working on this on the front-end with the rest of the theming stuff.

[2017-05-16 20:33] robgpeak commented on #106
I appreciate the insight, and actually I Initially I thought the same thing.  But then there are a lot of companies that are in multiple categories, and it might seem confusing... Let's back burner it until we have time to put in more images.  Other fish to fry.  Additionally, (this will be a separate item for Phase 2 or 3), but we are going to have to think about sub-categories.  What we have hea

[2017-05-17 00:06] cgladue commented on #88
how about now @robgpeak

[2017-05-17 00:13] robgpeak commented on #88
That seems to have worked.  Is it possible to have the same functionality on all the "views"?  Meaning, even if I am in one of the other "tabs", I should still be able to archive records.  As it is now, I can't even archive one by itself.

[2017-05-17 00:47] cgladue commented on #95
@robgpeak i think i am rounding to 1 decimal place as you outlined...

[2017-05-17 15:38] cgladue commented on #74
i have updated the site to show the numbers correctly i believe including the 1 digits rounding down.

[2017-05-17 16:20] robgpeak commented on #74
@cgladue I see the decimals just showing tenths only and rounding down, which is perfect, but I still see records with the Commission From field being "blank" in the back end, but are showing up on the front end as "Earn up to x points/$", but should be just "x points/$".

[2017-05-17 16:21] cgladue commented on #74
can you give me one example ?

[2017-05-17 16:22] robgpeak commented on #74
https://shop.complinks.co/stores/index/6479

[2017-05-17 16:35] cgladue commented on #74
@robgpeak thank you, it is because LS dosnt give me comission % like Cj does so only the data load you did a while back was there, and since we made some changes to the from and to fields... i have corrected the inconsistency in the DB.  you shouldnt see any blank fields anymore.

[2017-05-17 17:11] robgpeak commented on #88
@cgladue please remove the "shopping trip chart" from the top of the Activity Stream page.  While I like it, I would rather have that and other charts and data like it on a separate page "Analytics" https://app.moqups.com/robg/QSDVx2F07W/edit/page/a2ad077fb

[2017-05-17 17:31] robgpeak commented on #74
@cgladue let me see if I can clarify.  Below is what I was trying to say in my earlier post, but let me see if I can put it another way:

1. If Commission From and To are equal, show "Earn x points/$" (where x is Commission To)
2. If Commission From and To are unequal, AND Commission From is NOT 0%, show "Earn up to x points/$" (where x is Commission To)
3. If Commission From and To are unequal, A

[2017-05-17 17:35] cgladue commented on #74
its 0-5 because thats what the API is telling me, ... if you have a better way to pull this information then let me know how you want to handle the dozens of possible exceptions and one off cases for comissions, we tried pulling only the default comission field, btu then were missing special deals on certain items, which is why we changed it to go through all items and lists in the comissions node

[2017-05-17 17:37] cgladue commented on #74
actually this is Linkshare advertiser...

Linkshare is different, we dont get any comission data on linkshare, you have to manually manage it unless you see a method if getting it that i have not found yet...

[2017-05-17 18:04] Dwells7583 commented on #90
@ChrisASearles  Can you go in and take a look at the register section. Specifically the Input fields.

[2017-05-17 18:21] robgpeak commented on #74
OK, so what you're saying is that the only LS advertisers that have percentages at all, are the ones that were loaded from the original scape?  If that's the case, are you filling both from and to, to 0%?

The issue with filling them both as 0%, that is how Morgan has been denoting those advertisers who only pay flat fees instead of percentages of sales.  and in those instances, we are NOT display

[2017-05-17 19:11] robgpeak commented on #74
OK, I just got off the phone with Rakuten, and they said there is no API for advertiser commissions, but there is that "Consolidated Advertiser Report" that is downloadable as a csv, that includes all the most up to date commissions.  He said they are working on building the API functionality to handle our request, but it will take some time.

But as previously mentioned, on a going forward basis,

[2017-05-17 19:18] cgladue commented on #74
i will try to find one and post here ...

[2017-05-17 19:43] robgpeak opened #108 "Links to Featured Stores in Nav Menu are not working"
The links in the nav menu going to the featured stores are missing the "s" in stores/  The links currently go to https://shop.complinks.co/store/index/5329 as an example, and they need to go to https://shop.complinks.co/stores/index/5329

[2017-05-17 19:52] robgpeak commented on #84
@ChrisASearles You mentioned a few days ago that you didn't think the featured deals in the nav menu worked well, and I agreed.  You mentioned you were going to create a new issue, but I did a search for one and did not see anything.  I did not want to step on your toes here and duplicate something you may have already created and I just can't find...

[2017-05-17 19:55] robgpeak commented on #84
@ChrisASearles perhaps in the effort of working on more pressing issues, we can remove the link from the nav menu and table it for a future release.

[2017-05-17 20:23] robgpeak opened #109 "All links to start shopping trips must launch a new tab"
Any links that leave our site should spawn a new tab.

[2017-05-17 20:40] robgpeak opened #110 "Getting started with MailChimp"
@ChrisASearles I started messing around with a template https://us14.admin.mailchimp.com/campaigns/wizard/neapolitan?id=218701# but it needs some discussion around it.

[2017-05-18 01:48] cgladue commented on #74
ok so here is the only one i could find (since its just CJ thats updating the comission fields right now... and i think i could get around it if i just check to make sure there is a % sign in the value before i determine that its 0%
`<advertisers total-matched="1" records-returned="1" page-number="1">
        <advertiser>
            <advertiser-id>4450175</advertiser-id>
            <account-stat

[2017-05-18 13:26] robgpeak opened #111 "An approved advertiser not showing up in our back end"
@cgladue The advertiser Saks Fifth Avenue is not showing up in our db?

It was loaded from the original .json file, here is the record:

"advertiserId" : 13816,
"advertiserName" : "Saks Fifth Avenue",
"advertiserDescription" : "Saks.com offers a personalized, online shopping experience, providing an expansive assortment of the finest designer collections, accessories, cosmetics and home furnishing

[2017-05-18 13:34] cgladue commented on #111
As chris requested all new advertisers show up as INACTIVE.

so you have to click the INACTIVE filter or use this link and search for saks and its there...
https://shop.complinks.co/admindashboard/advertisers?filter=inactive

[2017-05-18 13:35] cgladue commented on #111
that was requested in issue #28

[2017-05-18 13:41] robgpeak opened #112 "Orphan Transactions section"
In the event a shopping trip does not tie a purchase made back to an individual end user, Chad suggested he would build an "Orphan Transactions" section on the back end, whereby if an end user says, "Hey, I had a shopping trip, made a purchase but did not receive my points..." the CL cs rep can ask the end user for the Order number and the amount of the transaction (without tax & shipping), so the

[2017-05-18 13:45] robgpeak commented on #111
Ah, gotcha.  No worries.

I found the record in the inactive filtered list, but it is still showing as notjoined.

[2017-05-18 13:53] robgpeak opened #113 "Which filter is on in Activity Stream"
@cgladue Is it possible to have the button of the filter that is currently visible, show in a different color?

Something like this:

![uploads/5012c982-f8c2-4bd8-958b-737f439d39b3/Screen Shot 2017-05-18 at 9.52.45 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5012c982-f8c2-4bd8-958b-737f439d39b3%2FScreen+Shot+2017-05-18+at+9.52.45+AM.png)

[2017-05-18 14:49] cgladue commented on #111
yea because of the issue with the Linkshare API that is returning both approved and declined advertisers when it should only be approved, i had to comment out the line of code that changed them to joined .. but if you activate them it wont matter if they are joined or not its just informational, as long as the advertiser has links and is active they will appear on the site.

[2017-05-18 14:53] cgladue opened #114 "Deleting "Pending" shopping trips"
@robgpeak how long do you want to keep a "Pending" shopping trip around for ?  if the users click around a lot on the site they could easily fill up the shopping trip list and after lets say 7 days if we havent recieved a comission from that trip we should "Abandon" that trip and remove from the users list, but keep in the DB so it can be reported on i assume you would want to see the # of trips t

[2017-05-18 16:28] robgpeak commented on #111
@morganpeak This means in addition to using Activity Stream to see New Advertisers, we will have to continue to look at the emails in groove for New Advertiser notifications.

[2017-05-18 16:29] cgladue commented on #111
just untill i get notification that they have fixed the API then i will add it back.

[2017-05-18 16:32] robgpeak commented on #114
The way I originally though about it was just showing the Shopping trips to the end user for the current month, and have a drop down so she can select past months list of shopping trips...  https://app.moqups.com/robg/QSDVx2F07W/edit/page/a1b8e559c

[2017-05-18 18:04] Dwells7583 commented on #29
Hey @cgladue  I need to pull the category image for the header of the store detail page. I just have a placeholder mocked in there now.

[2017-05-18 18:18] Dwells7583 commented on #29
@cgladue I need similar stores as well.

[2017-05-18 21:36] ChrisASearles commented on #90
@Dwells7583 I'm going to commit my version. I broke the T&C and privacy overlays after splitting the forms, I also can't figure out why the login dialog is getting cut off on the bottom, and I still need to test the functionality. Can you take a look at the display issue on the login dialog and try to fix that then let me know when I can get back in to finish it up.

[2017-05-18 21:47] robgpeak commented on #42
If a user is logged in, we should display the just the user's First name, not first and last.  If the "First Name" field in that users record is blank/empty, we should display the prefix of their email address.  For example robg@peakmarekting.com would display "ROBG - 2,000 POINTS"

[2017-05-18 21:53] robgpeak opened #115 "Adjusting the location of the dropdown menu under authenticated user"
As it appears now, the menu covers the user's name and points, and I think it would look better if it appeared below that so the user's name and points were still visible.

This was sort of associated with issue #42, but I thought it might need it's own issue, not sure.

[2017-05-18 21:56] robgpeak commented on #57
I have a crude mock up of some functionality for this page https://app.moqups.com/robg/QSDVx2F07W/edit/page/af53607d3

[2017-05-18 23:22] robgpeak commented on #107
I am assuming the search result will display the "Store Box", the same way it would as if the store box was shown to a user in a category section.

Having said that, I think we need to constrain the size of the box to have a maximum width and height of some uniformed size because it is likely it might be the only item that shows up in the search results.

I have mocked up a page to show the layout

[2017-05-18 23:26] robgpeak commented on #45
Based on the footer that is in place currently, I made two notes regarding functionality (sticky note 3 & 4) at the bottom of https://app.moqups.com/robg/QSDVx2F07W/edit/page/a1819d6ea

[2017-05-18 23:32] #61 closed

[2017-05-18 23:47] robgpeak opened #116 "Name to display when user is authenticated"
If a user is logged in, we should display the just the user's First name, not first and last. If the "First Name" field in that users record is **blank or empty**, we should display the prefix of their email address. For example robg@peakmarekting.com would display "ROBG - 2,000 POINTS"

[2017-05-19 00:01] robgpeak commented on #105
@cgladue Did you have any thoughts on this?

[2017-05-19 00:14] robgpeak opened #117 "Links of Store Boxes on home page are broken"
@cgladue @ChrisASearles The links from the store boxes on the home page to individual store index pages are broken.  The are currently going to https://doverdowns.complinks.co/~/stores/index/6241 and the "~" is bringing back a 404.

[2017-05-19 00:19] robgpeak opened #118 "Create a 404"
Please develop a 404 page that fits in with the theme.   Something like, "Oops, seems like this page is missing for some reason..."  Then under that, we can still show the Featured Stores container, and maybe the "Ads" container...

[2017-05-19 11:52] Dwells7583 commented on #90
@ChrisASearles I committed my fix for the above. I tested the register and login with no issues for me.

[2017-05-19 14:45] Dwells7583 commented on #107
Updated. @ChrisASearles Can you take a look at the containing div. Having an issue when adding the class content container.

[2017-05-19 14:47] Dwells7583 commented on #107
@cgladue need you to in and add the similar stores and featured stores on the search page as well.  It is mocked up currently with dummy deals.

[2017-05-19 15:03] cgladue commented on #107
ok, i will @robgpeak this means you will have to manually assign stores as "similar to" other stores in the backend, on a as yet to be created page, you ok with that ?

[2017-05-19 16:42] robgpeak commented on #107
I left a sticky note on the mockup about that, but basically I would just use stores that are in the same category.  And maybe for a bit more clarity, it would use an algorithm something like this:

If the Search Result is a store that is only in one category, "Similar Stores" would be the first (top) 8 in the order listed in Advertiser Categories.  If the Searched results store is one of those 8,

[2017-05-19 17:57] robgpeak opened #119 "Using "More" links in containers"
Again, referencing the Glossary https://docs.google.com/document/d/1D4jT4dq61CFIbu7giPQuqqvgh4l0-SsnKk6kWkS16CU/edit?usp=sharing of terms, we are looking for uniformity in the sizes of the containers in their natural states.  In the instance where there is more content in a container than what is visible when the container is in its natural state, we will use a "More" link to expand the container,

[2017-05-19 19:06] Dwells7583 commented on #4
Added the correct text when logged in, image is the same currently. @cgladue I used the same image hard coded in with the passing of the gift, not sure how that will be passed through? A default hero image should be added from the back end I would assume.

[2017-05-19 19:12] cgladue commented on #4
@Dwells7583 its already part of the ViewBag.partner object, heroUrl and logoUrl properties.

[2017-05-19 19:16] robgpeak opened #120 "Store Detail Page"
This is the container on the Store Index page that contains three columns, and the contents of those columns from left to right are; (1) the Store Index Image, and below that, separated by 10px, the “x points/$”, (2) a vertical line 1pt wide set to 80% of the height, (3) the description of the store [text left justified], and a Shop Now Button below that [right justified but still have enough of a

[2017-05-19 19:16] Dwells7583 commented on #4
Yes the partner image is, but what about the default non logged in image? That would need to also be swapped from time to time? @robgpeak  @cgladue

[2017-05-19 19:17] #95 closed

[2017-05-19 19:22] #88 closed

[2017-05-19 19:25] cgladue commented on #4
The hero Image is controlled by the subdomain name .. and is displayed regardlesss of being loged in or not, am i mistaken ? @robgpeak

[2017-05-19 19:27] robgpeak opened #121 "Include Network ID and Record ID on Activity Stream"
@cgladue I would be helpful to include the Advertiser's Network ID in the table in its own column, especially since we change names of advertisers.  Additionally, I would leave the Record ID column visible all the time. It is useful to see, and I would have it visible in all the filters as well. Meaning, even if I am in "New Ads" tab, it would be great to have both of those columns.

When I refres

[2017-05-19 19:28] Dwells7583 commented on #4
Oh ok, I may be mistaken then.

[2017-05-19 19:32] robgpeak opened #122 "Select and archive from within all the Tabs of Activity Stream"
I can currently select multiple records in the "All" tab, and archive them, but that functionality is not working on any of the other "tabs".  It would be helpful if we were able to do that.  At the moment I cannot even select one record from any of the other tabs and archive it.

[2017-05-19 19:32] cgladue commented on #121
ok, i assumed the Activity ID wouldnt be useful to you, and is only used to determine which activities to bulk update, but if you want to see it at all times then i can.  and when you say network ID you mean the ID that CJ or LS referrs to them as right ?  not our internal Advertiser ID

[2017-05-19 19:34] cgladue commented on #4
One of us is, lol im not sure who tho @robgpeak  will have to step in

[2017-05-19 19:40] robgpeak commented on #4
The original idea and thought behind the swapping of the hero image was to show a different image to people who are logged in or not.  The first image is meant to convey, "Here is why you need to sign up..."  The second one (when someone is logged in), is meant to convey, "Now that you're a member, here are all the cool things you can get by using the app..."

[2017-05-19 19:41] cgladue commented on #4
@robgpeak so you want me to add a second hero image upload option on the partner maintenance record ?

[2017-05-19 19:43] robgpeak commented on #4
yes please.  Call them "Hero Image Standard" and "Hero Image Authenticated"

[2017-05-19 19:47] robgpeak commented on #121
Yes on the Activity ID being visible all the time, and yes on using the LS and CJ network IDs, not our internal Advertiser ID

[2017-05-19 20:04] Dwells7583 commented on #7
@robgpeak Is this the only content you want on the How it Works page? Please send email me any copy or images you want on this page.

 https://app.moqups.com/robg/QSDVx2F07W/edit/page/adfd762e6

[2017-05-19 20:32] robgpeak commented on #7
Derek, first I was hoping to have the functionality that I described in comment number 3 on the page https://app.moqups.com/robg/QSDVx2F07W/edit/page/a9762b57c whereby the page expands to show the "How it works" container section, while still remaining on the same page.

Then as far as the content, I was hoping my web design and digital marketing company Searles Media could use some of its creativ

[2017-05-19 20:37] cgladue commented on #105
i was thinking perhaps that whenever a user starts a trip using a link we increment a counter on that link, and we sort the links displayed by the popularity of the link, so the most used links would be at the top and the least used at the bottom.  id hate to not show a link that might entice someone to click it and buy something ....

[2017-05-19 20:38] Dwells7583 commented on #7
@robgpeak Ok. You got it. Thanks.

[2017-05-19 21:30] robgpeak opened #123 "Layout for Deal & Promotions Containers on Store Index pages"
It was easier to show you with a screencast of what I was looking for... https://screencast.com/t/fk9hwFVvQN  Please let me know if you have any questions.

[2017-05-19 21:33] robgpeak opened #124 "All links taking a user off our site must start a shopping trip, and be launched in a new browser tab"

[2017-05-19 21:41] robgpeak commented on #105
That is a great idea. I love it.  But again, I think 200 links is just WAY too many to even start with.

I may have mentioned this in another issue, but what if we could have the same functionality of selecting multiple records like we do in the activity stream and then mark them all true or false, for Active, or true or false for Featured, etc.  In essence, it batch processing records...  Hey loo

[2017-05-19 22:06] robgpeak opened #125 "Keeping the verbiage, letter capitalization and different font sizes consistent"
It looks like in some of the containers it says, "Earn x points/$" or "Earn up to x points/$", which is fine when the only difference is the 'up to', but then there are other containers that read "x points/$".  Actually, now that I am looking at it, it seams like it is only the featured stores containers that are showing the "Earn" in them, and that is probably OK.

I think users will see that on

[2017-05-20 15:52] cgladue commented on #107
how about this rob, we keep a counter of the # of times each advertiser is viewed, and for the similar stores we pull the top x advertisers based on # of views from within the same categories that the result is a member of...  if theres 10 search results that means there could be x * # of results displayed as similar

[2017-05-20 15:53] cgladue commented on #29
@robgpeak which category image should i pull if there are multiple categories for the store ?

[2017-05-20 16:11] robgpeak commented on #107
Thats fine.  The only thing is, for the number of similar stores that we want to display at any given time, I would only show 8 store boxes, and then have a More Link OR, a pagination thing that someone could click in the page number, or the next arrow.  Similar to what you have at the bottom right of all the back end pages that have lists of records.

[2017-05-20 16:20] robgpeak commented on #29
Please have a look at #106.  If we can have the functionality on the Advertisers edit page of being able to put a specific image in there for each individual advertiser, that would be great, but I'd the field is blank (at the moment at least), I would NOT want it to come back as a broken image on the front end.

[2017-05-20 18:14] robgpeak opened #126 "Browser Header Color"
If you look at the header in the mobile responsive version if the website, you'll see the hamburger menu gets covered by the logo, and the logged in area in the top right cuts off the users name.

I put together a crude mock up of a possible layout that would work... https://app.moqups.com/robg/QSDVx2F07W/view/page/ae08cbf01

Here is a screenshot of the current header...
![uploads/7e8e162e-47ba-43

[2017-05-22 14:56] cgladue opened #127 "Login page no longer redirects user to the requested page after login, since the style update"
Login page no longer redirects user to the requested page after login, since the style update

[2017-05-22 16:30] Dwells7583 commented on #4
Can I update this. Currently it is @partner.heroUrl, but i do not see the updates versions. Let me know when that is updated.  @cgladue

[2017-05-22 16:36] Dwells7583 commented on #8
Where is this issue? I believe this was on the login dialog, this has been updates since.

[2017-05-22 20:20] Dwells7583 commented on #17
@ChrisASearles I have this set to load and scroll in the login dialog. Is this OK?

[2017-05-22 22:52] ChrisASearles commented on #118
Edited the title. @Dwells7583 can you create a 404 and a generic error page, when you're done let @cgladue know so he can handle those errors in whatever way he'd prefer.

[2017-05-22 22:54] ChrisASearles commented on #111
@cgladue is this issue closed?

[2017-05-22 23:12] ChrisASearles commented on #115
@robgpeak This was done by design and is a default material style, primarily for usability on mobile devices (small screens with limited real estate and the user's finger is already hovering over an option rather than definitely needing to move) but we can change it if you'd prefer it to load below. Please just confirm before I assign it.

[2017-05-22 23:17] robgpeak commented on #115
I think there is plenty of room below the still leave the user's name and points visible...
![screenshot_2017-05-22-19-15-02](https://cloud.githubusercontent.com/assets/28393235/26332215/413b3d00-3f23-11e7-96ea-722f25a1599c.png)

[2017-05-22 23:18] ChrisASearles commented on #124
@cgladue I've noticed a few different links that are passed with each of these records, can we change the models that are being passed to include just the link that should be used on the frontend to avoid any confusion now and in the future about which link to use?

@Dwells7583 we need to go through the site and ensure we open anything that links out in a new tab.

[2017-05-22 23:23] ChrisASearles commented on #115
@robgpeak actually, the name and point total showing on mobile currently is a bug. @Dwells7583 any word on why that is loading like that (it might have been something I did at one point). There will definitely not be enough room for the search button, logo, menu button, and the length of a user's name we potentially need to fit at mobile. I believe I added that info to the side menu on mobile to a

[2017-05-22 23:24] robgpeak commented on #114
@ChrisASearles you assigned this to me, but I don't see the suggestions I requested, I?

[2017-05-22 23:25] robgpeak commented on #114
I? = Implemented... Sorry about that.

[2017-05-22 23:26] ChrisASearles commented on #114
@robgpeak seemed as though the conversation was ongoing to come up with a final decision but if not, you can unassign yourself, no worries.

[2017-05-22 23:28] ChrisASearles commented on #124
@Dwells7583 hold off on your part of this until further notice, I'm going to solve a couple of these with display templates.

[2017-05-22 23:30] ChrisASearles commented on #7
@robgpeak when we discussed this in our meeting with @morganpeak we talked about doing it on a separate page that we could link to from other areas if/when necessary. I saw that moqup but thought it was old as you had broken it out into it's own page after our discussion, no?

[2017-05-22 23:32] cgladue commented on #124
Already added to the view model.  The property is startTripLink.

[2017-05-22 23:35] ChrisASearles commented on #118
Actually, @cgladue this would probably work better if you created these views/pages the way you'd prefer to handle them and let @Dwells7583 know what to work on when you're done rather than you needing to move or copy/paste all his stuff.

[2017-05-22 23:37] ChrisASearles commented on #109
Closing this as a duplicate of #124

[2017-05-22 23:37] #109 closed

[2017-05-22 23:38] robgpeak commented on #115
Just for shits and giggles, sign up for an ebates account, and see how they do it.  That might be a good alternative.

[2017-05-22 23:48] ChrisASearles commented on #115
Can you send a screen cap?

On May 22, 2017 7:38 PM, "robgpeak" <notifications@github.com> wrote:

[2017-05-23 00:00] ChrisASearles commented on #90
@robgpeak I'm pushing this to you for review. I'd like to work on the terms and privacy overlays a little more but in the interest of focusing on higher priority items for now I want to put it on the backburner.

[2017-05-23 00:05] robgpeak commented on #7
I recall the conversation being the About the Program page being separate, not the How it Works

[2017-05-23 00:08] robgpeak commented on #7
And someone would get to that About the Program page from the Learn More button on the hero image when someone is logged in.  And I would even like to see a link in the main nav to About the Program.  https://app.moqups.com/robg/QSDVx2F07W/edit/page/acd4932ab

[2017-05-23 00:14] cgladue commented on #124
use Advertiser.startTripLink property

[2017-05-23 00:16] cgladue commented on #29
added Advertiser.headerImageUrl which will be the uploaded photo if there is one or the category image if no uploaded photo.

[2017-05-23 00:18] ChrisASearles commented on #116
committed.

[2017-05-23 00:19] robgpeak commented on #115
Here is is.  They actually take the My Account links and all the other menu items that normally show up in right hand side menu, and move them to the hamburger menu...
![screenshot_2017-05-22-20-16-33](https://cloud.githubusercontent.com/assets/28393235/26333464/e7b9a22c-3f2b-11e7-8b8b-7fb28dbd1f2e.png)

[2017-05-23 00:39] robgpeak commented on #17
It is still not behaving in the optimal fashion when I am looking at it on my phone.  But I am actually at a furniture store at the moment.

[2017-05-23 00:41] robgpeak commented on #90
Again, please check it on mobile...

[2017-05-23 00:44] cgladue commented on #116
published

[2017-05-23 00:54] ChrisASearles commented on #115
Ok, that's basically what I was proposing. We can fit the my account without a problem if we do it the way I proposed initially (we don't have to mimic EVERYTHING Ebates does ;-) ).

[2017-05-23 00:56] robgpeak commented on #115
My only objection and comment on that layout was that the drop-down menu covered up the username and I didn't think that was appropriate. I am dictating this into my phone so take it for what it's worth if there's typos and it might not make sense. Still Furniture shopping

[2017-05-23 01:30] ChrisASearles commented on #115
@Dwells7583 i moved the menu and hid the name and point balance on mobile but I'm having an issue with the button locations on mobile that you need to take a look at.

[2017-05-23 01:34] ChrisASearles commented on #108
Commited.

[2017-05-23 01:36] ChrisASearles commented on #115
@Dwells7583 I'm going to push this through to review and open my last comment as a new issue.

[2017-05-23 01:37] ChrisASearles opened #128 "Main nav at mobile size"
The display on the nav at mobile needs to be cleaned up. Search should be right aligned next to the person icon, the logo needs to be constrained, the menu button is getting cut off, etc.

[2017-05-23 01:39] cgladue commented on #115
published

[2017-05-23 02:08] robgpeak commented on #116
I am not sure if this is the right thread for this issue, but when I look at the site on my default internet browser on my phone, I don't see anything in the header except the logo...  So not only is the name not showing up, but not even the search magnifying glass, or the hamburger menu.
![screenshot_2017-05-22-22-05-10](https://cloud.githubusercontent.com/assets/28393235/26335601/0cac9684-3f3b-1

[2017-05-23 02:20] robgpeak commented on #128
As a follow up on this, if you look at http://www.357am.com/CL/client/index.html in your mobile device, and then click the hamburger menu and click featured, and you can see when the header does when someone is logged in.  At least it's different from ebates;). I think it looks nice.

[2017-05-23 02:47] ChrisASearles opened #129 "Paged stores on category page"

[2017-05-23 02:51] ChrisASearles commented on #117
@cgladue I fixed the link to use the start trip link but I'm getting a 404 on these

[2017-05-23 03:01] cgladue commented on #117
@ChrisASearles i went into Views/Home/Index.cshtml and swapped the links to use startTripLink

some may not work correctly because there is no main link defined, so it will error out, but if it starts with /trip/start then it will work ok once rob sets the main advertiser link.

[2017-05-23 15:06] ChrisASearles commented on #116
@robgpeak can you close that browser session out, open up a new one and verify you're still seeing what you posted here?

[2017-05-23 15:42] #92 closed

[2017-05-23 15:48] robgpeak commented on #116
This is what shows up when I log in...
![screenshot_2017-05-23-11-41-21](https://cloud.githubusercontent.com/assets/28393235/26363013/bdd8f944-3fad-11e7-9c13-aa62efee7b8a.png)

[2017-05-23 17:49] Dwells7583 commented on #4
The recommended image size for the Hero is now 850x400.

[2017-05-23 17:51] Dwells7583 commented on #4
I did not see the Hero image standard or authenticated yet. @cgladue  let me know when that is complete.

[2017-05-23 17:53] cgladue commented on #4
standard hero image is called Partner.heroImageUrl property, the authenticated one will be added tonight, will be Partner.authenticatedHeroImageUrl

[2017-05-23 17:53] cgladue commented on #4
the standard hero image is already implemented and being used on the Home/Index.cshtml view

[2017-05-23 17:55] Dwells7583 commented on #4
Yes the Standard is currently partner.heroUrl, I am going to leave them as that for now just so we do not have a missing image. Let me know when the others are updated. @cgladue

[2017-05-23 19:21] ChrisASearles commented on #129
Committed.

[2017-05-23 19:24] ChrisASearles commented on #25
Updates committed. @robgpeak the "Featured Deals" section needs a little work at various sizes and will be tracked under a separate issue because it affects multiple pages.

[2017-05-23 20:01] ChrisASearles commented on #124
This should be primarily resolved everywhere but the store detail page and will change a bit with the new display templates so I'm going to close this out. From here out if there is a link found that's not behaving appropriately, please provide steps to reproduce with device and browser information so we can narrow down particular issues.

[2017-05-23 20:01] #124 closed

[2017-05-23 20:09] ChrisASearles commented on #125
@robgpeak

(*Note that the following does not apply to the store detail page and one or two other sections of other pages we're actively working on that are already being tracked as issues.)

We standardized a set of these that are all pulling the same regardless of what page the item lives on. If there is any inconsistency between sections at this point (i.e. featured deals vs featured advertiser

[2017-05-23 20:09] #125 closed

[2017-05-23 20:12] ChrisASearles commented on #117
@robgpeak How do you want to handle the situation @cgladue is describing?

I see your options as:

1. Default to the link with the longest expiration date if a default hasn't been specified
2. Filter out advertisers that don't have a default link defined and don't display them
3. Hide the button if a default link doesn't exist.

[2017-05-23 20:18] ChrisASearles commented on #126
Most of this is a duplicate of #128 so I'm changing to just refer to the theme color we're changing. This color will change based on the theme color for the casino. We thought it was a nice design touch to make the site feel more like a native app, any particular reason you want it set back to the default color @robgpeak ?

[2017-05-23 20:39] ChrisASearles commented on #93
@Dwells7583 I created the framework for this and added it to the Layout. Code's sitting in Views/Shared/_Messages.cshtml

[2017-05-23 21:18] robgpeak commented on #117
Number 1 is OK, but number 2 and 3 are no good.  We will ALWAYS put in a default link manually.

[2017-05-23 21:20] robgpeak commented on #117
So we will always show a button

[2017-05-23 21:24] robgpeak commented on #126
Ok you can leave as the color you have it. And let it match the theme

[2017-05-24 10:57] Dwells7583 commented on #4
@robgpeak I reworked the Hero Image section from the ground up to be more optimal  The recommended image size would be 850x400. so it will look best across all sizes.

[2017-05-24 12:14] robgpeak commented on #4
Cool Derek.  Looks nice.  One thing that does look a little strange is when you reduce the size of your browser screen, part of the image (the right side), is covered up by the white area to the right with the text in it, instead of the image actually scaling down.

[2017-05-24 12:40] robgpeak commented on #125
Chris, this may come across as rude an obnoxious, and I apologize in advance, but no.  I am NOT going to create a new issue for each instance where the words are not consistent.  I know sometimes texting, email, and this type of communication here in github, sometimes things get confused in the communication, and we might not be speaking about the same thing...

You wrote, "...We standardized a se

[2017-05-24 12:57] robgpeak opened #130 "First option in nav menu is always active"
If you click on either of the nav menu options "Shop Categories" or "Featured Stores" the first menu item in each of them is already "highlighted" as if someone's cursor is hovering over it.  None should be "highlighted" until the cursor has hovered over that menu item.

![uploads/d82bfe14-f48e-4229-a7a5-00f4596c4792/Screen Shot 2017-05-24 at 8.50.57 AM.png](https://s3-us-west-2.amazonaws.com/prod

[2017-05-24 12:58] ChrisASearles commented on #120
@robgpeak we took a little creative license based off your mock up and taking into account the way the site has progressed since then. We'll work on something closer to your original design.

@Dwells7583 I checked in a version that I think will accomplish goals across the board but it needs some work. Pull my changes and see what you can do to polish it up.

[2017-05-24 13:07] robgpeak commented on #117
Sorry for the short answer yesterday, I was on the road.  Let me elaborate a bit.

1. If a default link has not be manually selected by Morgan or someone else in the back end, then YES use the link with the longest expiration date as the default link.

2. By doing number 1, we will NOT have any advertisers with no default link, so I think that makes 2 moot.

3. As mentioned above, we must always h

[2017-05-24 13:40] robgpeak opened #131 "Change second 'Join Now' button to 'How It Works' button when user is Authenticated"
In the section below, please use the same functionality that you use in the Hero Image section that changes the 'Join Now' button into a 'How It Works' link, that will go to the How It Works page.

![uploads/7f869579-bc11-4278-bf24-dbad5a9a6d78/Screen Shot 2017-05-24 at 9.36.29 AM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7f869579-bc11-4278-bf24-dbad5a9a6d78%2FScreen+Shot+

[2017-05-24 13:48] robgpeak opened #132 "Functionality of Featured Stores containers to the right of hero image on home page"
I wanted to ensure the Featured Stores containers (image below), have the same functionality as the Featured Stores containers at the bottom of the home page, whereby a user clicking anywhere in the overall container EXCEPT the Show Now button, will take the user to the particular store index page, but if the user clicks the Shop Now button would start a shopping trip in a new browser tab.

This s

[2017-05-24 14:24] robgpeak commented on #120
Please let me know when they are visible to me.

[2017-05-24 15:58] ChrisASearles opened #133 "Change Hue Usage"
Allowing users to specify hue shades via partner config won't work based on testing. Consistency can't be guaranteed in colors, we need to move to allowing users to config the primary and accent palette's, and we're going to specify the hues that will be used.

@Dwells7583 you need to go through the project and replace all 'hue-1' 'hue-2' references with specific hue values.

@cgladue You can remo

[2017-05-24 16:00] cgladue commented on #133
ok, so CL Staff wont be storing Style info in the DB for each partner then ?  will you go back t the individual css file per partner ?

[2017-05-24 16:01] #79 closed

[2017-05-24 16:16] ChrisASearles commented on #7
@robgpeak This solution doesn't consider a mobile device. We were going to link to a new page because, while the mock up you did would work fine on a desktop monitor, I'm having a hard time envisioning the way you see this working on a small screen.

[2017-05-24 16:24] ChrisASearles commented on #7
@robgpeak I'm also not seeing a logical difference between "About the Program" and "How it Works." As an end user, I wouldn't understand a distinction (I would expect the same content on both), and looking at the content, there doesn't seem to be much of a distinction. What's the reason for creating two pages when one seems to be sufficient?

[2017-05-24 16:50] ChrisASearles commented on #1
@cgladue This should be working but it looks like I'm not getting the correct logo sent down.

[2017-05-24 16:51] ChrisASearles commented on #6
This is working but the implementation is being touched up in #133. For now, you should be able to navigate to different partners and have the proper theme loaded.

[2017-05-24 17:39] Dwells7583 commented on #133
I completed my side of this. I assigned it to @cgladue

[2017-05-24 17:48] robgpeak commented on #7
Point taken on the solution not working. But the idea behind two different pages on about the program and how it works, the first is an overview of the technical of how it works, and the second is explaining the benefits of why some would continue to use it.  I know I wrote it somewhere in an issue (the reasoning), but I can't find it...

[2017-05-24 21:01] Dwells7583 commented on #4
That is done with a wrapper to ensure the image works well across all size. So a small portion of the right side will be cropped between 600-980px in order to preserve the aesthetics above and below as well as keep in in line with the rest of the content to the right.

[2017-05-24 21:02] Dwells7583 commented on #4
@cgladue Did you add the two options yet?

[2017-05-25 02:28] ChrisASearles commented on #131
Would you rather we just hide this section for logged-in users?

[2017-05-25 02:29] ChrisASearles commented on #132
I believe the next time @cgladue pushes a new version up this should be taken care of.

[2017-05-25 02:34] ChrisASearles commented on #133
@cgladue no changes other than we're just not using the hue values anymore. I actually modified your code a bit because we needed a theme color name for both the primary and the accent which we're still using. You h honestly don't have to change anything but we'd just have to keep providing those values that font get used. Your call either way.

[2017-05-25 02:38] robgpeak commented on #131
No, I still like the section, and I would like to leave it there and have people that are logged in click the link that says "Learn More" (I know earlier on I said the link should read "How It Works", but it should read Learn More, and go to a mock up of this page https://app.moqups.com/robg/QSDVx2F07W/edit/page/acd4932ab

[2017-05-25 02:46] cgladue commented on #132
i just pushed it, but there are a lot of errors if you look in the Console, and the site dosnt look right to me, is something not included int he project correctly ?

[2017-05-25 02:52] ChrisASearles commented on #7
So  for now you're good with a new page for this @robgpeak ?

[2017-05-25 03:05] robgpeak commented on #7
Yes, but remember there are 2 different reasons and thoughts for sending people to two different pages.  One is "How It Works" kind of a light non technical this is what happens... And how it works.  And the other is when you are logged in, "About the Program", shows the user why he should use it, and the benefits of doing so... Value Propositions...

[2017-05-25 03:14] ChrisASearles commented on #133
@Dwells7583 you missed a bunch in the Layout page that Chad had mocked up with the values from the partner theme. There also seems to be a color declaration somewhere that's missing a closing ' after the value. It's a primary-900 but I'm not sure if it's coming from one of the aforementioned styles in the DB or if it's  one of the ones you just changed.

[2017-05-25 03:15] ChrisASearles commented on #133
@Dwells7583 You also changed the bg on the sign up button to the accent color, was that intentional?

[2017-05-25 03:16] ChrisASearles commented on #4
@Dwells7583 something we changed today broke this functionality, please take a look and fix.

[2017-05-25 13:15] Dwells7583 commented on #4
@ChrisASearles This has been fixed. a few styles were missing.

[2017-05-25 13:47] Dwells7583 commented on #4
@robgpeak I adjusted it to not cut off the right side. It will now center at that small size. The reason for this is that the image is wrapped in a containing div that masks the image to help scale it up and down to difference sizes. If you scaled the image proportionally it will not take up the area needed for the text and the featured deals to the right.

[2017-05-25 14:00] Dwells7583 commented on #120
I cleaned up the text on this page as well as a few issues stacking on mobile. I also updated the description text to expand. @ChrisASearles having an issue with the way the ellipses are added to the end of the truncated text.

[2017-05-25 14:11] cgladue commented on #132
published

[2017-05-25 14:11] cgladue commented on #129
published

[2017-05-25 14:11] cgladue commented on #25
published

[2017-05-25 14:12] cgladue commented on #6
published

[2017-05-25 14:23] Dwells7583 commented on #133
@ChrisASearles  I wanted it to stand out a big more, but now that I think about it, it may not look well with other colors. I changed it back to the primary color.  I fixed the ones I missed as well.

[2017-05-25 14:31] robgpeak opened #134 "Remove line of text on hero image overlay"
Please remove the line of text that reads, "every dollar spent | thousands of online retailers"

[2017-05-25 14:44] robgpeak commented on #4
OK.  I noticed the hero image and the div are behaving differently on doverdowns.complinks.co at various screen sizes.  Maybe it is because of the size of the image.  What is the optimal size of the image to completely fill up that div?

[2017-05-25 14:46] Dwells7583 commented on #4
Yes,  I updated that image on the backend, but it looks like my changes are actually not published yet. I just checked.

[2017-05-25 14:47] cgladue commented on #4
i just published whatever was committed up till 30 minutes ago

[2017-05-25 14:50] robgpeak commented on #132
For the purpose of this specific issue of having the link from the overall box lead to the store, and the Shop Now button to actually start a trip, it is almost complete.  The Shop Now buttons do NOT currently start a shopping trip in a new tab, and the URL that it is gong to does not exist.  I think this was assigned to me pre-maturely.

[2017-05-25 14:51] Dwells7583 commented on #4
I just committed another change to cat page that should have been included on your last publish. maybe was a merge issue. Can you publish what I just committed?

[2017-05-25 14:54] Dwells7583 commented on #4
sorry the last commit that should be included was the "missing hero style"

[2017-05-25 14:59] cgladue commented on #4
ok, published again

[2017-05-25 15:02] #111 closed

[2017-05-25 15:05] cgladue commented on #1
@ChrisASearles What do you mean ?  you get the logo int he Partner object and its working on doverdowns and shop subdomains

[2017-05-25 15:34] robgpeak commented on #129
While I can see the paged stores at the bottom of the page, that was not really what I was looking for.  The idea was to have the pages just for the Store Boxes section, so it would show only 8 or 12 boxes, (3 or 4 rows), and then someone could page through the rest.

I would actually rather have the "All <Category_Name> Stores" section be a complete scrollable list from A-Z without the pagination

[2017-05-25 15:41] Dwells7583 commented on #4
@robgpeak It was a cached on the server. all my updates styles are now visible. The hero image should respond the same on both now.

[2017-05-25 15:53] robgpeak commented on #25
This is why I suggested we have a verbal conversation on this issue...

I still think we have confusion on the "Feature <Category_Name> Stores" section in any particular category.

The original idea was to have "Shop <Category_Name> Stores" and have 8 or 12 Store Boxes for each category, and then a list of ALL the stores in that category.  We would then be able to, (in the back end), control the o

[2017-05-25 15:59] robgpeak commented on #6
While I like it, I would still like the Shop Now to be our orange.

Like they do on the Book a Room link...
<img width="696" alt="screen shot 2017-05-25 at 11 57 37 am" src="https://cloud.githubusercontent.com/assets/28393235/26458512/76a35bc4-4141-11e7-91d8-61ff5a42d822.png">

[2017-05-26 14:19] robgpeak commented on #56
@ChrisASearles have you done anything with this in the last two days?  Because all of a sudden since the 24th, none of our emails have been going through Groove.  I just emailed their support, but I figured I would check with you.

[2017-05-26 15:00] Dwells7583 commented on #7
How it Works Page added.

[2017-05-26 15:02] Dwells7583 commented on #4
@cgladue Let me know when I can add in the correct data for the two images.

[2017-05-26 15:05] cgladue commented on #4
@Dwells7583 as far as i know you only need the authenticatedHeroImage added, the heroUrl is already there ... confirm what the second image you are waiting on me is for

[2017-05-26 15:07] Dwells7583 commented on #4
Yes the authenticatedHeroImage.

[2017-05-26 15:24] Dwells7583 commented on #7
/how-it-works
@robgpeak Adding learn more links under the 3 main how it work features on the homage, correct?

[2017-05-26 15:28] robgpeak commented on #7
Not three separate links, just one in the call out box underneath that with
the image background that's there already

Thanks,

Rob

**Sent from my phone

On May 26, 2017 11:24 AM, "Derek Wells" <notifications@github.com> wrote:

/how-it-works
@robgpeak <https://github.com/robgpeak> Adding learn more links under the 3
main how it work features on the homage, correct?

—
You are receiving this beca

[2017-05-26 15:35] robgpeak commented on #7
So to clarify, I meant just changing this link, which becomes Learn More when someone is logged in.
![screenshot_2017-05-26-11-31-50](https://cloud.githubusercontent.com/assets/28393235/26501362/6ba6b5f6-4207-11e7-9c10-a826a7924ace.png)

[2017-05-26 15:41] Dwells7583 commented on #7
My only question is, why wouldn't you want people who are not members to learn how it works? I would think this information that non members should see.

[2017-05-26 15:45] cgladue commented on #7
@robgpeak @Dwells7583  i just published the changes

[2017-05-26 15:57] Dwells7583 commented on #7
@robgpeak @cgladue styles are not updated. so the content is there, but missing updated styles.

[2017-05-26 15:58] cgladue commented on #7
it looked ok to me, probbally since i havent visited the site today let me clear the cloudflare cache again

[2017-05-26 16:00] cgladue commented on #7
@Dwells7583 how about now ?

[2017-05-26 16:03] robgpeak commented on #7
I can see it now. I have not gone over it with a fine-tooth comb. But I am sure it's fine for now. Let's move on to more important issues like the user information pages. Meaning their shopping trips and my account section to make it look more like the front end I am dictating this into my phone standing at Home Depot fun

[2017-05-26 16:04] Dwells7583 commented on #7
@cgladue looks good, I just added the link to the homepage you can publish that too.

[2017-05-26 16:05] cgladue commented on #7
i would recommend that we move the userdashboard into the front end and leave the partner and admin dashboards in the backend, then everything the user can see and do looks almost identical, as for the partners and admins they wont need to have 100% congruity and their "dashboards" can stay the way they are...

[2017-05-26 16:18] robgpeak commented on #7
I agree 100% with Chad's last statement

[2017-05-27 01:52] cgladue commented on #4
@Dwells7583 It has been added

heroUrlAuthenticated is the property

[2017-05-28 02:18] cgladue commented on #118
@Dwells7583 Added Views to Home

NotFound, InternalError and UnknownError

[2017-05-28 11:44] robgpeak opened #135 "Thee seems to be a time limit on a logged in session"
I am not sure how long the time limit is set currently, but it seems if I have not been on the site for a certain period of time, I need to log back in after a while, and that is no good.  There should be no time limit for an end user being logged in.

[2017-05-28 11:58] robgpeak opened #136 "Change hierarchy of elements on smaller screen sizes"
When a user is on a store index page on a small screen (like mobile) the order of appearance of the elements should be, (1) the main logo, points/$ and shop now button container, (2) the name of the store header and description container, (3) Conditions header and container, (4) Deals & Promotions header and containers, (5) Shop Similar Stores header and containers.

[2017-05-28 12:08] #122 closed

[2017-05-28 12:11] robgpeak commented on #113
I guess we are going to close this, as it is easy enough to see in the address bar what filter is on.

[2017-05-28 12:11] #113 closed

[2017-05-28 14:23] cgladue commented on #65
@robgpeak Now there is a bulk actions dropdown on the links page to activate/deactivate multiple links at once.

[2017-05-28 14:47] robgpeak commented on #65
That's great.  Just thinking out loud, is there a way we can remove them completely from view?  Would that cause a problem in the way your system pulls this info from cj/ls?  Would make it a lot cleaner and easier to navigate.

[2017-05-28 14:47] robgpeak opened #137 "The links to the store index pages in the "All <Category_Name> Stores" sections in all the categories are broken"
The links are going to ../store/index/...  and store needs to have an "s" and must be ../stores/index/..  This is the second time with the same error.

[2017-05-28 15:02] cgladue commented on #65
@robgpeak i could remove them completely from view if they are expired, but if i remove the deactivated links then if you wanted to activate them at some future point they wouldnt be there to activate...

[2017-05-30 13:37] robgpeak opened #138 "Type-o on How it works page"
In the bottom section we need to add a space between exclusiveexperience "...special and exclusiveexperience events..."

[2017-05-30 13:55] Dwells7583 commented on #57
@ChrisASearles I need some help with this page now. The update links should open in a dialog box to update the info. Also, I was having a few alignment issues as well.

[2017-05-30 15:08] Dwells7583 commented on #46
@cgladue Can you add all the user info from the User Model to the UserDashboardIndex Model so I can use it on the userdashboardIndex page. I am going to mock it up for now with dummy text.

[2017-05-30 16:04] Dwells7583 commented on #46
Also need to be able to load the Trips and points redeemed all on the main dashboard page

[2017-05-30 16:09] cgladue commented on #46
@Dwells7583 @robgpeak Derek,  we arent going to use /userdashboard/Index anymore for the user dashboard/Profile  Rob and i agree that the user pages should be part of the front end so i will add User Info, Trips and Redemptions to a new Viewmodel on a new action for the user frontend.

[2017-05-30 16:16] Dwells7583 commented on #46
I believe @ChrisASearles had a discussion with @robgpeak and @morganpeakl about the way this was going to function and display at meeting here. @robgpeak Looking to clear this up. Thanks.

[2017-05-30 17:07] robgpeak commented on #46
We did have the conversation when I was at the office, and the decision was made to have the user dashboard Pages look like the front end.

[2017-05-30 18:38] Dwells7583 commented on #4
This is updated. But I tried to upload a new photo. and it did not work on the back end.

[2017-05-30 19:15] ChrisASearles commented on #132
@robgpeak It actually does but there are no default links defined for those advertisers and #117 is not yet complete. I'm going to close this issue as complete and will request an update on the status of #117

[2017-05-30 19:15] ChrisASearles commented on #117
@cgladue any update on this?

[2017-05-30 19:17] #1 closed

[2017-05-30 19:22] ChrisASearles commented on #25
@cgladue can you update the controller to pull data as @robgpeak describes above? that should close this ticket out.

[2017-05-30 19:30] ChrisASearles commented on #6
@robgpeak I selected a palette for DD based on their website but you're free to change the accent color of that palette to anything you'd like (you can also change the default theme, and this is also how any future partners will be configured).

To change the color scheme, visit the partners page https://shop.complinks.co/admindashboard/partners click 'Actions -> Edit', scroll to the bottom box th

[2017-05-30 19:30] #6 closed

[2017-05-30 19:38] ChrisASearles commented on #56
@robgpeak no, I haven't had a chance to get into it yet.

[2017-05-30 20:32] ChrisASearles commented on #46
Most of this is just terminology. @Dwells7583 is working on what's there currently and we're fine leaving it in the Area. @cgladue if you have a reason for wanting to pull it out of it's own area that's fine, let's just coordinate so we don't have to duplicate any work.

[2017-05-30 20:33] cgladue commented on #46
tonight ill add the actions to the controller and create the views for you to mess with, the reason for not leaving it where it is currently is that area shares its CSS with the rest of the admin and partner styleing and dont want to change all that with whatever styleing you do for this.

[2017-05-30 20:47] ChrisASearles opened #139 "Email Address Confirmation Email Not HTML Encoded"
I signed up for an account and received an email to confirm my account that included an HTML anchor with a link but the email itself wasn't HTML encoded so the anchor tag came through in plain text.

[2017-05-30 20:51] ChrisASearles commented on #89
@robgpeak Do you have a Google Analytics account?

[2017-05-30 21:00] ChrisASearles commented on #46
@cgladue we already changed the layout page for those views so that's not a big deal for us, it actually makes some sense to leave it as-is because we ended up nesting two layout pages together so at least there's a logical connection between all those views. hate to make more work for everybody if what we already have is working ...

[2017-05-30 21:03] ChrisASearles opened #140 "Confirm Email Page Issues"
/Account/ConfirmEmail has issues (link color vs bg color - very noticeable on DoverDowns version, no link breaks between sections, etc.). This doesn't need to be anything fancy but those minor issues should get sorted out quickly.

[2017-05-30 21:03] cgladue commented on #46
@ChrisASearles as long as your OK with me removing the UserDashboard Area i dont want to mix the Front end and the backend Controllers/Views/Areas

[2017-05-30 21:25] ChrisASearles commented on #46
@cgladue that's fine, just make sure all of the work we did on the front-end get's copied over to the new views. @Dwells7583 make sure you commit those changes before you leave so Chad has the latest version.

[2017-05-30 21:28] robgpeak commented on #132
I just clicked on the Macy's Shop Now button, but the link is broken and does not work, yet there is a default link for Macy's. Additionally, it should pop open in a new tab but it does not.

[2017-05-30 21:31] Dwells7583 commented on #46
@cgladue I was getting an error on the rewards and shopping trip pages. But I committed up what i was working on. You will see the dashboard page is filled with dummy content, if you want to go in and update that while you are in there as well. The dashboard recent trips and recent points redeemed needs to display a certain number of entries.

[2017-05-30 21:32] ChrisASearles commented on #132
New tab is fixed

[2017-05-30 21:56] Dwells7583 commented on #136
this has been updated

[2017-05-30 22:23] Dwells7583 commented on #140
updated.

[2017-05-30 22:28] Dwells7583 commented on #131
@robgpeak and i spoke on friday about this. It will be learn more regardless of authenticated or not.

[2017-05-30 22:34] ChrisASearles commented on #80
Committed.

[2017-05-30 22:35] ChrisASearles commented on #107
@cgladue what's the status on this?

[2017-05-30 22:53] ChrisASearles commented on #57
@Dwells7583 we don't have time for that for this version, these should be editable with a save.

[2017-05-30 22:54] robgpeak commented on #89
I just set you up with access, you should have just gotten an email.

[2017-05-30 23:00] robgpeak commented on #104
The magnifying glass is also now outside half of the search box in both firefox and chrome.  And Safari is still totally screwed...

[2017-05-30 23:03] ChrisASearles commented on #98
All front-end pages have titles and those titles will change based on the partner being viewed.

[2017-05-31 00:03] cgladue commented on #46
@Dwells7583 Error : Copying file Views\Shared\_DashboardLayout_old.cshtml to obj\Release\Package\PackageTmp\Views\Shared\_DashboardLayout_old.cshtml failed. Could not find file 'Views\Shared\_DashboardLayout_old.cshtml'.

can you please include that file and committ it

[2017-05-31 00:08] cgladue commented on #46
Also _DashboardNav.cshtml too please

[2017-05-31 02:51] cgladue commented on #139
Email should not show HTML markup anymore,

[2017-05-31 02:52] cgladue commented on #80
Published

[2017-05-31 02:52] cgladue commented on #98
Published

[2017-05-31 03:16] cgladue commented on #107
@ChrisASearles SimilarStores is a property on the advertiser, so each advertiser will return a list of similar advertisers based on its category

[2017-05-31 03:19] cgladue commented on #4
@Dwells7583 all set there was a bug saving the URL when the partner existed already.

[2017-05-31 03:21] cgladue commented on #46
@ChrisASearles @Dwells7583 This has been completed and nav updated, Controllers are MyRewards, Trips, and MyRedemptions

[2017-05-31 11:21] robgpeak opened #141 "Can't sign up on mobile device"
When the screen size is reduced to mobile size, the head and shoulders icon only allows for sign in, not sign up.  Same with the Join Now buttons.

[2017-05-31 11:36] robgpeak opened #142 "Unable to upload "Current Authenticated Hero Img""
@cgladue In the Edit Advertiser, I am unable to upload a Current Authenticated Hero Img  I was on https://shop.complinks.co/admindashboard/partners/edit/10 and I tried to upload the image https://drive.google.com/file/d/0B1Ggj9_E3xjJT0xENmlaX1VHZUE/view?usp=sharing  It tells me that is saves, but nothing shows up.

[2017-05-31 11:40] robgpeak commented on #141
As a follow up, there is no "Register" button on the sign in screen
![screenshot_2017-05-31-07-37-44](https://cloud.githubusercontent.com/assets/28393235/26630366/5815a5a8-45d4-11e7-8f6b-589e6d6cd525.png)

[2017-05-31 11:48] cgladue commented on #142
it did save the file, i will look at why it isnt showing on the front end...

https://s3.us-east-2.amazonaws.com/complinks/partners/10-hero_shop_authenticated.jpg

[image: Inline image 1]

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Wed, May 31, 2017 at

[2017-05-31 11:54] #80 closed

[2017-05-31 11:55] #98 closed

[2017-05-31 11:56] robgpeak commented on #142
I don't even see it in the back end?

[2017-05-31 13:42] cgladue commented on #131
What do I need to do for this?  It's just a link change right.  The image isn't changing

[2017-05-31 13:48] ChrisASearles commented on #131
@cgladue nothing, just assigning to you to publish and re-assign

[2017-05-31 13:48] ChrisASearles commented on #131
(I'm pretty sure it already has been published, just keeping the process consistent)

[2017-05-31 13:50] #126 closed

[2017-05-31 13:51] #43 closed

[2017-05-31 14:23] Dwells7583 commented on #57
Hey @cgladue I got it, only issue is the phone number not displaying as placeholder

[2017-05-31 14:36] #106 closed

[2017-05-31 14:37] #8 closed

[2017-05-31 14:39] #4 closed

[2017-05-31 15:29] Dwells7583 commented on #14
This has been published. Never got approval.

[2017-05-31 15:29] Dwells7583 commented on #16
This has been published. Never got approval.

[2017-05-31 15:32] Dwells7583 commented on #138
This has been published. Never got approval.

[2017-05-31 15:33] Dwells7583 commented on #96
This has been published. Never got approval.

[2017-05-31 16:02] cgladue commented on #140
@robgpeak pending your review

[2017-05-31 16:02] cgladue commented on #138
@robgpeak pending your review

[2017-05-31 16:02] cgladue commented on #136
@robgpeak pending your review

[2017-05-31 16:03] cgladue commented on #131
@robgpeak pending your review

[2017-05-31 16:03] cgladue commented on #128
@robgpeak pending your review

[2017-05-31 16:03] cgladue commented on #96
@robgpeak pending your review

[2017-05-31 16:03] cgladue commented on #14
@robgpeak pending your review

[2017-05-31 16:04] cgladue commented on #7
@robgpeak pending your review

[2017-05-31 16:05] cgladue commented on #142
@robgpeak pending your review

[2017-05-31 16:07] cgladue commented on #57
@Dwells7583 oh good, ok you need me to do anything ?  you can add the placeholder in there right ?

can you add jQuery.maskedInput so it forces 555.555.5555 format ?

[2017-05-31 16:17] #100 closed

[2017-05-31 16:20] ChrisASearles opened #143 "Error in Search"
Searches that return no results are throwing an unhandled exception in AdvertiserDAL.cs on line 200. advertiser.AdvertiserCategories is empty and the .First() is failing out.

To reproduce, just run a search for 'm'.

[2017-05-31 16:37] robgpeak commented on #140
I am not really sure what I am supposed to be looking for, but I suppose it is acceptable.  I think it would look nicer if all of the login screens and the email confirmation screens, were smaller "Overlays" to the home screen, with a 50% opacity filter over the main home page screen.  It would look sort of like the mock up...  https://app.moqups.com/robg/QSDVx2F07W/edit/page/a93e4a7ba

Maybe this

[2017-05-31 16:37] #140 closed

[2017-05-31 16:40] #138 closed

[2017-05-31 16:46] robgpeak commented on #136
BadaBing BadaBoom.  Nice.

[2017-05-31 16:46] #136 closed

[2017-05-31 16:46] #131 closed

[2017-05-31 16:49] #128 closed

[2017-05-31 17:00] #96 closed

[2017-05-31 17:02] #14 closed

[2017-05-31 17:04] robgpeak opened #144 "Adding a line in the right hand side user menu"
Looks like we need a line between "Shopping Trips" and "Redemptions" on the logged in user menu on the right hand side of the screen.

![uploads/ddec6a5b-f9ca-4a05-8d8a-e9b83a93600b/Screen Shot 2017-05-31 at 1.01.40 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fddec6a5b-f9ca-4a05-8d8a-e9b83a93600b%2FScreen+Shot+2017-05-31+at+1.01.40+PM.png)

[2017-05-31 17:04] #7 closed

[2017-05-31 17:05] robgpeak commented on #7
Sorry, reopened by accident.  This issue should be closed.

[2017-05-31 17:06] robgpeak commented on #142
Working now!  Thanks.

[2017-05-31 17:06] #142 closed

[2017-05-31 17:14] robgpeak commented on #25
@cgladue This was assigned to me, but I am not sure why.  The "Featured <Category_Name> Stores" section on the pages are not working as I described, and I think there still might be some confusion.  If you are able to talk on the phone for a minute, please give me a call to discuss.

[2017-05-31 17:28] robgpeak opened #145 "Adjustment to "All <Category_Name> Stores" section containers."
The individual "All <Category_Name> Stores"containers behave differently in different screen sizes, and I would like them to be consistent.

At full desktop screen res. they do NOT contain the advertiser logo image, but at the smaller screen res. it does.  Based on the ultimate objective for the "All <Category_Name> Stores"section described in #129, let's just use the text of the store name at all

[2017-05-31 17:42] robgpeak opened #146 "Change Complinks logo in footer"
Please change the logo.png in the footer of ALL subdomains to this image https://drive.google.com/file/d/0B1Ggj9_E3xjJc29KNFpPaXpkUHM/view?usp=sharing

[2017-05-31 18:05] robgpeak commented on #65
I just saw the check boxes, (image below), and I gotta admit, I felt blood flow to my nether region.

Maybe I jumped the gun as to its working functionality, particularly because it was not assigned to me to review yet, but I was a bit excited...  Anyway, as you can see by the image it did not work yet.

Also, will there be a "check box" in cell A:1 (meaning the column header for all the check box

[2017-05-31 18:11] robgpeak opened #147 "Main link on store index page not launching in new tab"
If you visit any store's index page and click on the main Shop Now button at the top of the page in the container that has the logo, it starts a trip, but does not do it in a new tab.  The Deals and Promotions shop now links do open in a new tab, so that's good.

Examples:
https://shop.complinks.co/stores/index/5339
https://doverdowns.complinks.co/stores/index/5464

[2017-05-31 18:31] ChrisASearles commented on #25
@robgpeak I'm pretty sure the changes you're talking about are being tracked under #129

[2017-05-31 18:39] ChrisASearles opened #148 "Critical bug in Search functionality"
I modified the search action to load the data needed on the front-end in the model and it surfaced a bug in the search function on line 226 of AdvertiserDAL.cs

I'm committing my version, to reproduce, search for 'macys' and it should appear right away.

[2017-05-31 18:40] ChrisASearles commented on #107
Blocked pending a fix to #148

[2017-05-31 18:45] robgpeak opened #149 "Adding <Partner_Name> to How it Works section"
As we are building an extension of the casino partner's existing rewards program, I want to reference that brand name of the casino's rewards program throughout our site in various places.

First and foremost will be on the Home page in the call out section that links to (through the "Learn More" button) to the How it works page.

The copy on this text overlay on the image below, we want to change

[2017-05-31 18:50] robgpeak commented on #25
Actually they are two separate issues.  They may overlap slightly, but again, both separate issues.

[2017-05-31 19:16] ChrisASearles commented on #25
Yeah, sorry, I thought this was assigned to you because the data changes had been made but I'm not seeing them on my end either.

[2017-05-31 19:17] ChrisASearles commented on #25
@cgladue I did something I thought would work here but it resulted in some errors popping up in the DAL so I'm going to leave this to you to pull the right data.

[2017-05-31 19:18] Dwells7583 opened #150 "Redemption page needs to be themed"

[2017-05-31 19:22] ChrisASearles opened #151 "Critical Bug on Category Detail Page"
Navigating to any category returns an unhandled exception originating in the AdvertiserDAL.

[2017-05-31 19:23] ChrisASearles commented on #129
Made the change but can't test it b/c of #151

[2017-05-31 19:30] robgpeak opened #152 "Things look a little screwy on ipad in chrome"
Here is a view from my ipad (using chrome on the ipad, latest version 58.0.3029.113)

![uploads/bf4389ab-ad46-45ae-9824-dd2f1111d438/IMG_0037.PNG](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fbf4389ab-ad46-45ae-9824-dd2f1111d438%2FIMG_0037.PNG)

and here are the specs of the ipad...

![uploads/aecea6f3-94b2-4f69-9f2b-3cacad526702/IMG_0038.PNG](https://s3-us-west-2.amazonaws.com/pr

[2017-05-31 19:35] cgladue commented on #25
i still dont even know what needs to be done here, the store page shows featured stores that are also in the current category as is being displayed under Featured Stores, Under Featured Deals i am displaying all links for the stores in the category that are marked as featured, and all automotive stores is just a list of all stores in that category so what needs to change exactly ?

[2017-05-31 19:37] robgpeak commented on #25
Guys, while I know getting on the phone is your least favorite thing to do, let me make a short screen cast of what I think the issues still are...  Give me a few.

[2017-05-31 19:38] cgladue commented on #151
it was working fine a couple hours ago did you change something ?

[2017-05-31 19:39] ChrisASearles opened #153 "Pull Ads into Display Templates"
This is done, can't test pending #151

[2017-05-31 19:41] ChrisASearles commented on #137
Updated and I believe I fixed all of these throughout the display templates but I can't test this page pending #151.

[2017-05-31 19:42] robgpeak commented on #25
I can't get to a category page to make a screencast

[2017-05-31 19:42] cgladue commented on #25
im looking at that now something happened in the last two hours when i left to the casino for a meeting, ill get back with you

[2017-05-31 19:48] ChrisASearles commented on #25
@cgladue I thought that's how this should function as well so I understand the confusion!

Within a category page, @robgpeak wants advertisers that have a display order set for that category to load as "Featured Stores" within that category sorted by that display order.

All stores that are in that category that don't have a display order set for that category would load in the "All Stores" sectio

[2017-05-31 19:49] cgladue commented on #25
:frowning_face:

[2017-05-31 19:51] ChrisASearles commented on #25
Unfortunately I deleted what I think was working code that solved the problem because I thought it was what was causing the error on the category page but it looks like it's something else.

[2017-05-31 19:53] cgladue commented on #25
i am publishing all your latest updates as well as the correction to the problem now, the issue was advertisers who were active but have no links loaded for them, since rob wants the start trip link to be the oldest link if none set it was erroring out when there was no main link and no links to default to.

[2017-05-31 19:55] cgladue commented on #25
shit maybe not... hang on

[2017-05-31 19:57] cgladue commented on #25
getting a different error now, think its your code:

![image](https://cloud.githubusercontent.com/assets/7914133/26651184/db0270be-4619-11e7-950a-f64dffc38ca4.png)

[2017-05-31 20:07] ChrisASearles commented on #25
Yeah, that's what I couldn't test (but I crossed my fingers really hard ...). Comment out that line for now and commit your fix and I'll fix that.

[2017-05-31 20:07] ChrisASearles commented on #25
Give me a second actually, I can fix it now for you.

[2017-05-31 20:08] cgladue commented on #25
i already committed my stuff

[2017-05-31 20:08] ChrisASearles commented on #25
Ok, no worries, I'll get that fixed and in now too.

[2017-05-31 20:11] ChrisASearles commented on #89
For the initial release I've included Google Analytics on the page. That should give a good starting point of data that we can add to one-by-one in the future to extend the default functionality and tie analytics data to individual user actions.

@robgpeak I excluded our IP address from analytics but you should do the same with yours and @cgladue's

[2017-05-31 20:17] cgladue commented on #89
just an FYI i am currently doing the following:

1. Every link clicked increments a counter for that link
2. Every shopping trip that gets started the link ID is recorded on that trip as well as the user and date
3. If the user clicks the main store shop now button that is recorded as link ID 0
4. every time a user clicks a link i record and increment a counter grouped by advertiser, by partner, b

[2017-05-31 20:18] ChrisASearles commented on #89
@cgladue are you filtering that traffic at all?

[2017-05-31 20:18] cgladue commented on #89
filtering what traffic ?

[2017-05-31 20:20] ChrisASearles commented on #89
The page load that triggers the counter to increment. That data becomes wildly inaccurate after a short period of time once crawlers come into play. I've had that problem in the past and found it's better not to even bother and run it through an analytics engine instead where we have better control over filters.

[2017-05-31 20:21] cgladue commented on #89
its only for authenticated users.  So i dont think crawlers will cause it to happen

[2017-05-31 20:21] ChrisASearles commented on #89
The start trip click should be fine b/c it requires an authenticated user, really just the advertiser page view stuff.

[2017-05-31 20:22] ChrisASearles commented on #89
ha, beat me to it.

[2017-05-31 20:22] cgladue commented on #89
so not just starting a a trip but just an authenenticated user viewing an advertiser page will increment the counter as well,.

[2017-05-31 20:23] cgladue commented on #89
oh, and also recording the last login date and time, but since wants a perpetual login cookie that may not be accurate any longer.

[2017-05-31 20:24] ChrisASearles commented on #129
Paging removed, waiting on a resolution to #25 for the sort.

[2017-05-31 20:24] robgpeak commented on #25
Just for a brief explanation as to the reasoning behind doing it the way I described in this thread 6 days ago is... If we only used the Featured category, (I know it's not really a category like the others, i.e. Automotive, Women's Clothing, etc. but for the purposes of this discussion, it's a category), and the order of the advertisers in that category to determine whether or not a Featured stor

[2017-05-31 20:26] ChrisASearles commented on #151
Fixed as per discussion in #25

[2017-05-31 20:27] #151 closed

[2017-05-31 20:27] ChrisASearles commented on #148
Looks like this was related to #151 and the discussion in #25 and is working properly now.

[2017-05-31 20:27] #148 closed

[2017-05-31 20:33] ChrisASearles commented on #137
Should be good to go.

[2017-05-31 20:33] robgpeak commented on #89
@cgladue as per @ChrisASearles suggestion of removing our IPs from the Google Analytics tracking, please let me have your IP address at work and the same when you get home...

[2017-05-31 20:44] Dwells7583 commented on #55
@cgladue Need to add user info such as points, and also the redemption model info onto this page.

[2017-05-31 20:45] cgladue commented on #65
get your juices flowing again, i believe its fixed now.  i believe i can add a "all" checkbox yes.

[2017-05-31 20:46] robgpeak opened #154 "left and right hand margins needed on T&C, Privacy and FAQ pages"
The T&C, Privacy policy and FAQ paged need to have more spacing from the left and right margins on the page.  It looks like it is set to 0 at the moment.  It should be the same buffer that all the other pages with text content have like the how it works page...

[2017-05-31 20:46] cgladue commented on #55
which page are you looking for ?

[2017-05-31 20:47] cgladue commented on #55
/myrewards ?

[2017-05-31 20:48] Dwells7583 commented on #55
rewards page yes

[2017-05-31 20:49] cgladue commented on #55
i will remove the "pointBalance" property and replace with "currentUser" which will contain point balance info, you need to display redemption info as well on this page ?

[2017-05-31 20:51] Dwells7583 commented on #55
Yeah I thought it would be nice to see your redemption history under the redeeming of the points section.

[2017-05-31 20:51] cgladue commented on #55
ok i have it done ill committ it in a sec

[2017-05-31 20:54] robgpeak commented on #65
Cool.  It does work, but I don;t know if it is by design, but the selection of check boxes does not work the way normal check boxes work...  Meaning, in the way you have it set up, it is still necessary to hold down the shift or command key, wherein normally, that is not the case in most other check box scenarios.

[2017-05-31 20:54] cgladue commented on #65
i think thats just the way the table works, you can CTRL click and CTRL+SHIFT click too

[2017-05-31 21:00] robgpeak commented on #65
Yeah, I get ya.  I suppose it's just how this particular table works, but it is not standard UX.  Like for example the table at the bottom right hand side of this page http://keenthemes.com/preview/metronic/theme/admin_1/table_bootstrap.html which is where I though we got ours from?  Meaning we are using this exact theme, you can select multiple check boxes without holding any keys.

[2017-05-31 21:01] ChrisASearles commented on #107
Committed.

[2017-05-31 21:01] ChrisASearles commented on #153
Committed.

[2017-05-31 21:04] cgladue commented on #65
ok i didnt see that example, ill take a look to see if i can adapt it to fit in ...

[2017-05-31 21:06] cgladue commented on #153
@robgpeak Published

[2017-05-31 21:06] cgladue commented on #150
@robgpeak Published

[2017-05-31 21:07] cgladue commented on #137
@robgpeak Published

[2017-05-31 21:07] cgladue commented on #129
@robgpeak Published

[2017-05-31 21:07] cgladue commented on #107
@robgpeak Published

[2017-05-31 21:08] cgladue commented on #89
@robgpeak Published

[2017-05-31 21:09] cgladue commented on #89
Work IP: 65.114.186.10
Home (Not Static): 68.114.60.150

[2017-05-31 21:10] cgladue commented on #57
@robgpeak Published

[2017-05-31 21:10] cgladue commented on #54
@robgpeak Published

[2017-05-31 21:10] cgladue commented on #46
@robgpeak Published

[2017-05-31 21:11] cgladue commented on #16
@robgpeak Published

[2017-05-31 21:15] robgpeak commented on #65
Cool.  And if it does work, let's replicate that functionality on the Activity Stream pages as well.

[2017-05-31 21:17] robgpeak commented on #150
Sweet!

[2017-05-31 21:20] robgpeak commented on #137
Cool

[2017-05-31 21:20] #137 closed

[2017-05-31 21:25] robgpeak commented on #129
I just cleared my cookies and browsing history, and I am still seeing the area for the page numbers at the bottom of the Deals and Promotions section...  I would like to remove the colored bar and the numbers all together.
<img width="858" alt="screen shot 2017-05-31 at 5 22 25 pm" src="https://cloud.githubusercontent.com/assets/28393235/26654754/f7aaea46-4625-11e7-9941-461b0adf6926.png">

[2017-05-31 21:31] ChrisASearles opened #155 "Minimum Content Height"
Set a minimum height for all content so the footer doesn't show up halfway up the page in the event any individual page is short on content.

[2017-05-31 21:33] robgpeak commented on #107
Structure and layout of the page look pretty cool, but obviously the functionality of the "You might also like" section is not perfected yet, as the results that are showing up there, and particularly the "points/$" for each advertiser are not accurate.

I would also consider using the exact same look and functionality of the Feature Stores section on the home page to the right of the hero image f

[2017-05-31 21:40] ChrisASearles commented on #152
@robgpeak Pretty sure this will get sorted out with the other flexbox browser bugs we're trying to work around for Safari but can you just provide the iOS and iPad version (2, 3, air, air 2, etc.)?

[2017-05-31 21:47] ChrisASearles commented on #129
@robgpeak this issue is related to the Category page, you're looking at the Store detail page.

[2017-05-31 21:48] robgpeak commented on #153
I'm not sure what I am supposed to be looking at/for on this one.  Having said that, if it has something to do with the image ads for certain advertisers, I think we need to include a line of text under the ad that mentioned the advertiser's name, and the "x points/$".  And in the even that there are multiple image ads on the same page, we should put in a horizontal line as a separator.

Mock up b

[2017-05-31 21:49] robgpeak commented on #104
Cha-ching!

[2017-05-31 21:49] #104 closed

[2017-05-31 21:52] ChrisASearles commented on #144
Commiitted.

[2017-05-31 21:53] robgpeak commented on #89
Not static, but I am sure it remains the same for a good bit of time, while you are still logged into the same session with your ISP.

[2017-05-31 21:58] robgpeak commented on #57
I put my phone number in the field, clicked update info, and received a notice at the top of the page that said, "Profile Has Been Updated", but it is not saving my number.  Meaning, the field is still empty.

[2017-05-31 22:01] robgpeak commented on #54
Brilliant!  Looks great full screen, just needs some help for mobile.  Only two columns are visible.

[2017-05-31 22:06] robgpeak commented on #46
Looks nice full screen, but only seeing two columns in the tables when reduced to mobile resolution.

Also, there is a type-o in the code of the "Most Recent Points Redeemed" section.  You will only see it if you've had a redemption...  The reward description reads "40 CompLinks Rewards Points/td>"  That "/td>" should not be in there.

Shit, while we're at it... never mind, I will start a differen

[2017-05-31 22:22] robgpeak opened #156 "Naming convention for rewards points"
@cgladue I might need a refresher course on how to name the rewards for each casino partner.

Meaning, on the front end in the "Rewards Description" on this page...

![uploads/cbde118b-6e7e-4f33-a96f-2b6d5cf5d3cd/Screen Shot 2017-05-31 at 6.10.11 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fcbde118b-6e7e-4f33-a96f-2b6d5cf5d3cd%2FScreen+Shot+2017-05-31+at+6.10.11+PM.png)

.

[2017-05-31 22:28] cgladue commented on #156
You are correct {0} is a placeholder for the partner name field and for any redemptions on Dover downs subdomain will show Dover downs program name.   This way this one reward can be used on all partners with different names.

[2017-05-31 22:33] robgpeak commented on #156
Excellent

[2017-05-31 22:33] #156 closed

[2017-05-31 22:42] #141 closed

[2017-05-31 23:04] robgpeak commented on #152
I have two different ipads.  I have the old one, iPad 2 with the iOS 9.3.5  And my wife has a newer one, the iPad Air with iOS 10.3.1.  Oddly enough, it looks the same on both ipads in safari and chrome 58.0.3029.113.

As for Safari on my laptop, I just saw I am using version 8.0.5, so that is too old to really tell anything, so I won't even look at the site in that browser...

[2017-05-31 23:17] robgpeak opened #157 "Individual store header images not working"
@cgladue just for shits and giggles, I wanted to upload a header image for macys (https://shop.complinks.co/AdminDashboard/Advertisers/Edit/6789) and it says it saved successfully, but nothing shows up in the front or back end...

This is the file I uploaded... https://drive.google.com/file/d/0B1Ggj9_E3xjJMWs0RDU4MGJpb28/view?usp=sharing

[2017-05-31 23:17] robgpeak commented on #129
Gotcha

[2017-05-31 23:26] robgpeak commented on #157
Just tried another one to be sure it was not an isolated case with Macys.  https://shop.complinks.co/AdminDashboard/Advertisers/Edit/6712 and image https://drive.google.com/file/d/0B1Ggj9_E3xjJTU1xbHZ4MmNFVzQ/view?usp=sharing

[2017-06-01 01:30] cgladue commented on #157
@robgpeak try it now, i fixed the bug

[2017-06-01 01:31] cgladue commented on #144
@robgpeak Published

[2017-06-01 02:16] robgpeak commented on #157
cool

[2017-06-01 02:16] #157 closed

[2017-06-01 02:18] #144 closed

[2017-06-01 03:41] Dwells7583 commented on #146
Do you have a better quality image. even the .eps, I can then use the svg file and it will scale with perfect pixel resolution. @robgpeak I added it for now, but maybe you can send me the original art file

[2017-06-01 11:20] robgpeak commented on #146
Here is the original original big clean version, but I don't know how to change it so everything is white.  Can you do that?  Then add the "Powered by"  See if you can work with that, but in the mean time, I will ask the guy that created it to get me the raw original files.

![logo_white](https://cloud.githubusercontent.com/assets/28393235/26677490/3f16482a-469a-11e7-900c-f55115e670bf.png)

The lo

[2017-06-01 12:08] robgpeak opened #158 "Approved advertiser not showing as joined"
@cgladue I think this happened when LS had that API snafu.  Saks Fifth Avenue but is showing approved on http://cli.linksynergy.com/cli/publisher/programs/advertisers.php?cat=1&advertiserSearchBox=Saks%20Fifth%20Avenue&exactMatch=0 but https://shop.complinks.co/admindashboard/advertisers/edit/6786  has it as not joined.  We need to change that.

[2017-06-01 13:23] Dwells7583 commented on #57
@robgpeak phone number will display as 555-555-5555 unless you have an entered phone number.

[2017-06-01 13:24] Dwells7583 commented on #146
. I did update the logo for now though, will update again when I get the art file.

[2017-06-01 13:24] robgpeak commented on #57
What I mean was I put my phone number in but it did not save

[2017-06-01 13:27] cgladue commented on #57
ill take a look, it may not be in the code to save the phone#, but it will be soon if not.

[2017-06-01 13:30] Dwells7583 commented on #55
@cgladue Can you check out this page, some of the functionality is not working correctly since I updated the style.

[2017-06-01 13:33] robgpeak opened #159 "Adding points manually"
@cgladue we need a way in the back end that will allow CL staff to add points to a users account manually for certain adjustments. i.e. goodwill credit, etc.

[2017-06-01 13:35] robgpeak commented on #146
It's not showing up on my view yet, but I am assuming it's because it hasn't been pushed live to the main server yet.

[2017-06-01 13:51] Dwells7583 commented on #57
It is there now, It is in the code @cgladue. It should function properly when published.

[2017-06-01 14:51] Dwells7583 commented on #54
@robgpeak  Ok removed the table from Small and Mobile view. Now will load in a scrollable card layout

[2017-06-01 15:15] Dwells7583 commented on #46
Updated look of this page as well on small sizes

[2017-06-01 15:42] Dwells7583 commented on #150
update layout on small sizes - remove tables

[2017-06-01 16:07] robgpeak opened #160 "missing links for joined advertiser"
@cgladue looks like we are missing links for a joined advertiser Groupon https://shop.complinks.co/admindashboard/advertisers/edit/6945  Maybe another LS issue.

[2017-06-01 16:08] cgladue commented on #160
if they are in LS then it is the same issue they have still not resolved
it, and do not have any updates when i keep asking...

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=chadgladue@gmail.com&idSignature=22>

Chad Gladue
*DevNull Technology, LLC*

On Thu, Jun 1, 2017 at 12:07 PM, robgpeak <notifications@github.com> wrote:

[2017-06-01 16:24] robgpeak commented on #160
Can you please forward me the email thread you've had with LS support, and I will follow up with a phone call to them

[2017-06-01 17:24] robgpeak opened #161 "Constraining the image size of advertiser logo on store index page"
Am I looking at this wrong?

It seems like, if the natural image size is 40px high, when it appears on the store index page, it adjusts the height to 56px.  Or maybe that is just the container the image is in...

Anyway, there are some advertiser logos that are bigger than 40px high, but look great in the store boxes, but when you get to the store index page, they appear their normal size, and are

[2017-06-01 17:40] robgpeak commented on #160
Just called them and they are still working on it.  In the mean time, is there a way to override the API and add the advertiser manually?  Meaning, they are showing up as Joined, and Active, but none of the data in the description and conditions sections on the store index page are being displayed?

[2017-06-01 17:46] robgpeak commented on #161
As a follow up, I was just able to find a smaller godaddy logo, and I replaced it, so now the natural size is 40px h.

[2017-06-01 18:00] robgpeak opened #162 "The big How it works background image blew up, but only on https://doverdowns.complinks.co/"
For some reason the image that is the background of the section that links to the how it works page, expanded, and is blowing up the page all of a sudden.  visit https://doverdowns.complinks.co/ to see it.  But is is not happening on shop...  And actually, it is only on the desktop screen resolution, becasue it looks fine on the phone...

[2017-06-01 18:01] cgladue commented on #162
i think it looks ok on my pc,

can you try holding down the SHIFT key and pressing F5 ?

[2017-06-01 18:24] robgpeak commented on #162
Shit, I guess I should have mentioned it is ONLY happening in firefox.  I'm using v. 53.0.2 (64-bit) on my laptop and 50.1.0 on my desktop, same result.

https://screencast.com/t/n4AMJ4iG7o

[2017-06-01 18:35] robgpeak opened #163 "How is Shop Featured Deals populated"
What is the methodology for the population of the Shop Featured Deals section?

[2017-06-01 18:39] robgpeak opened #164 "Replacing dummy info in You May Also Like section store boxes"
I saw something mentioned in #107 that there was dummy information in the store boxes that show up in the You May Also Like section, and I was wonder when that might be resolved so it is real information with stores that are in similar categories to the stores in the search results?

[2017-06-01 18:44] robgpeak opened #165 "The font color in the Deals and Promotions section is the same as the background color"
Something happened that changed the font color of all the deals and promotions to white within all the store indexes, and it needs to be changed back.

Chad sent this screenshot

![uploads/ed845e2f-b6d9-4a32-ace6-b045fa67798b/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fed845e2f-b6d9-4a32-ace6-b045fa67798b%2Fimage.png)

[2017-06-01 20:53] robgpeak commented on #112
So there were two orphan transactions I made from two different accounts (one shop. and one doverdowns.) both with LS advertisers.  CarRentals.com and HotelPower.com.  I recall you telling me that there was an issue with the tracking at the time (May 13 and 15th) so it was not tracked properly.

One of them was the commission from HotelPower has been posted to the reports on LS, and you can actual

[2017-06-01 21:13] robgpeak opened #166 "Tracking shopping trips down to the products or items purchased"
Here is a screencast of how to get the report in LS that shows the items or products that were purchased. https://screencast.com/t/pjOit6tKwBo

Here it is in cj...  https://screencast.com/t/xnerRzAXuh

This will be a Phase 2 feature, but I just wanted to share it now.

[2017-06-01 21:20] cgladue commented on #166
i haven't seen a documented way to get this data through an automated API, have you hard them say that such a method exists ?  or will it have to be a daily/weekly import do you think ?

[2017-06-01 21:25] robgpeak commented on #166
From what I can tell, it will be a manual process.  I will get some test data (csv) files and share it

[2017-06-01 21:31] robgpeak commented on #166
Actually, I just saw something on LS that says you can get it in an API.  If you go to https://cli.linksynergy.com/cli/publisher/reports/reporting.php#report/559d7cb6184a41b532000182 (If that link does not work, you need to be in Reports>Reporting>Individual Item Report, then in the little dropdown next to View Report [blue button], there is an API option.  See if that is what you need.

[2017-06-01 21:59] robgpeak opened #167 "Order Total and Points Awarded showing up in /trips, but not on /account/dashboard"
Oddly enough, it shows up properly in both on mobile.  Actually, if you make the desktop browser smaller, the Order Total and Points Awarded values DO show up...

On a positive note, the trip tracked properly, so no orphan transaction. Awesome!

Here are both screenshots

![uploads/ed5fcc6c-d0ac-4f1b-80d4-8864e34f2a15/Screen Shot 2017-06-01 at 5.51.52 PM.png](https://s3-us-west-2.amazonaws.com/pro

[2017-06-01 22:03] robgpeak commented on #166
Looking through my notes in CJ I had a chat with their support team, and here it is for reference:

We are looking for a way to be able to elegantly generate reports that will show the individual items that were purchased from the advertisers whom we send traffic to.

When I look in the Performance Reports, I can see the individual items that were purchased, but there is no way to search by order

[2017-06-01 22:11] cgladue commented on #167
Awesome great news :)

I'm sure it's something simple on why it's not displaying.

[2017-06-01 22:59] robgpeak commented on #166
Here are the two reports (in csv) that CJ support spoke of, but I still can't think of an easy way to tie the information together.

https://drive.google.com/file/d/0B1Ggj9_E3xjJOWx1Q1VLbjdRN28/view?usp=sharing

https://drive.google.com/file/d/0B1Ggj9_E3xjJQjluV3VjTVlzS0U/view?usp=sharing

[2017-06-02 00:30] robgpeak opened #168 "Putting the FAQ page within a CMS type page in the back end."
@cgladue I think it would be helpful if the FAQ page was easily editable from the back end.  Meaning, it would be great to be able to change and add content to the page from the admin dashboard.

[2017-06-02 01:37] cgladue commented on #143
@Dwells7583 @ChrisASearles

Can you please put a minimum length on the search bar ?

@robgpeak  what do you think, 3 characters minimum on the search ?

[2017-06-02 01:41] robgpeak commented on #143
Yeah, I suppose that's ok.  Although I was thinking we were going to use the auto fill idea... Meaning, as someone starts typing the name of a store, it would start filling in.

[2017-06-02 01:41] cgladue commented on #105
i believe you have the functionality you asked for in this screencast now...

[2017-06-02 01:42] cgladue commented on #143
We can do that, but there should still be a minimum # or characters to trigger the auto complete.  or if they choose not to select anything that the autocomplete presents and just press enter.

[2017-06-02 01:45] robgpeak commented on #105
Yep

[2017-06-02 01:45] #105 closed

[2017-06-02 01:50] robgpeak commented on #143
Would it really hurt to do it the way ebates does it, where the auto complete starts even at the first letter being typed in, and the results appear instantly in the search bar (as a drop down) itself.

[2017-06-02 02:07] ChrisASearles commented on #164
Is this in reference to the search results page?

[2017-06-02 02:08] robgpeak commented on #164
Yes

[2017-06-02 02:18] ChrisASearles commented on #162
Checked on Firefox 53 on Sierra and Win 10 and I'm not seeing any issues. Try clearing cache.

[2017-06-02 02:39] ChrisASearles commented on #164
Loading real data as of a few days ago. I'm not sure how they're being chosen, @cgladue ?

[2017-06-02 02:44] robgpeak commented on #162
If you look at the screencast I did, you can see I cleared the cache, and am using an incognito window (private in Firefox), and it is still happening.  https://screencast.com/t/n4AMJ4iG7o

Maybe it's because of the mac.  But again, it was working fine yesterday, just not today.  AND, it's on both of my machines in firefox...  very strange.

[2017-06-02 02:45] ChrisASearles commented on #143
@robgpeak need to push that back to a future release. @cgladue I'm going to have to push back on the minimum character count on the search. I understand using a minimum in an async auto-fill before we start running searches but it's a rough user experience, especially since there's no elegant way to present any feedback to the user that the number of characters is the reason nothing happens when t

[2017-06-02 02:50] ChrisASearles commented on #162
I ran it in FF53 on Mac Sierra without a problem. What OS version are you running on?

[2017-06-02 02:53] ChrisASearles commented on #162
Sorry Rob, read through this a little too fast and thought you were talking about the hero image. I can confirm I'm seeing the same thing on FF on the Mac.

[2017-06-02 02:57] cgladue commented on #143
up to you, but the search will be CONTAINS(term) not = term or startswith term so if i search for m it will pull any advertiser that has an m in their name,

[2017-06-02 02:58] robgpeak commented on #164
I think we are talking about two different things.  I was not asking how they are being chosen in this issue, and was/am saying, the store boxes that show up in the "You May Also Like" section AFTER you do any search, the results that show up are not real.

I referenced #107, specifically the comment that Derek made (image of it below)...
<img width="858" alt="screen shot 2017-06-01 at 10 49 39 pm

[2017-06-02 02:58] cgladue commented on #143
@robgpeak i have a functional autocomplete already done, just threw it together in 5 mins it will be live soon and just need styling

[2017-06-02 03:00] robgpeak commented on #162
no worries, at least I am not losing my mind.

[2017-06-02 03:07] ChrisASearles commented on #164
It's not dummy data, it's possible I missed something on the points text that was hard-coded but all the store links are going to different ID's so it's coming from somewhere on the back-end, just might be the wrong data. Will look into it.

[2017-06-02 03:12] cgladue commented on #143
@robgpeak try the searchbar now...

[2017-06-02 03:17] cgladue commented on #164
"You May Also Like" is displaying Similar Stores, which are stores within the same category as the results of the search.

[2017-06-02 03:18] cgladue commented on #164
and they are going to real pages, but i must of pulled inactive ones there so i will add the criteria for active = true to that query which will fix the broken pages.

[2017-06-02 03:21] robgpeak commented on #143
Maybe instead of overall "startswith", we can do, "any word in Advertiser Name that startswith"

You'll see when I type "ala" **Ala**mo, **Ala**my, and some others that start with ala show up, but so does "University of **Ala**bama Gift Shop...

Then I would be able to go in and change some names of advertisers, like Bestofvegas.com to Best of Vegas, so if someone typed Vegas, it would show up in

[2017-06-02 03:24] robgpeak commented on #143
I think what you have now is a step in the right direction, but with just "contains", it yields too many irrelevant results.

[2017-06-02 03:30] robgpeak commented on #164
@cgladue also note that "...it looks like all the store boxes that show up in the You May Also Like section after a search, all have the same "x points/$" as the first store box in the search results..."

[2017-06-02 03:34] cgladue commented on #143
ok, now it should be "StartsWith" or "Contains Word Starting With" Logic

[2017-06-02 03:36] cgladue commented on #143
![image](https://cloud.githubusercontent.com/assets/7914133/26709764/27d19262-4723-11e7-8c5c-61b379ed1d66.png)

[2017-06-02 12:33] robgpeak commented on #143
Works great @cgladue

A couple of issues:

1. Unfortunately the same functionality does NOT work when the screen size is reduced, i.e. mobile.

2. The same functionality does NOT work AFTER you type a word, or part of one and hit enter.  Meaning, if you are on the https://shop.complinks.co/stores/search page after you've just searched for something, the "StartsWith" or "Contains Word Starting With

[2017-06-02 13:08] ChrisASearles commented on #143
Guys, we need to shelve this for now. This is going to cause a number of unnecessary delays in our initial release and needs to be handled after we go live with a beta. @cgladue we need to disable this functionality for now. I'm going to add this as a separate issue that we can prioritize and work on once we've released something.

[2017-06-02 13:09] ChrisASearles opened #169 "Search Autocomplete"
Autocomplete feature for search as started and discussed in #143

[2017-06-02 13:19] cgladue commented on #143
Ill let rob make that decision, its not up to us.

[2017-06-02 13:23] ChrisASearles commented on #157
Guys, this is why we have a process in place. This was not a bug. Issue #106 specifically asked for the removal of this image. This never got assigned to anyone, placed in a milestone, or triaged at all, and yet it's back in already?

[2017-06-02 13:26] robgpeak commented on #143
Chad, actually, this was the reason (one of them) that we brought Chris on board, was to make sure we are keeping all my ideas and thoughts in line.  If he says at the moment there are more important things that we need to focus on for the launch let's do that.

[2017-06-02 13:31] #143 closed

[2017-06-02 13:35] robgpeak commented on #157
Keep in mind Chad like to code in order to relax, so I was just helping him chill out :)

[2017-06-02 13:40] cgladue commented on #160
links were added, sometimes the links arent available immediatly so then it takes 24 hours before i update the advertiser (and links/ads) again so the next time around the links pulled and are there now.

[2017-06-02 13:44] cgladue commented on #158
while the joined or notjoined has no other meaning then to let you know whos int he program and whos not i will change it, but it would still work as long as there were links loaded for that advertiser, but i have changed saks to joined in the meantime waiting from LS

[2017-06-02 14:03] cgladue commented on #132
done

[2017-06-02 14:06] Dwells7583 commented on #167
updated.

[2017-06-02 14:33] #160 closed

[2017-06-02 14:34] #158 closed

[2017-06-02 14:37] #132 closed

[2017-06-02 14:39] robgpeak commented on #117
Seeet

[2017-06-02 14:39] #117 closed

[2017-06-02 14:42] #19 closed

[2017-06-02 14:49] robgpeak commented on #167
This was marked as updated, but the issue still remains as described.  When the screen resolution is full size, the values do NOT show up in dashboard, but they do show up in trips.

[2017-06-02 14:50] #165 closed

[2017-06-02 14:52] #162 closed

[2017-06-02 14:52] Dwells7583 commented on #167
I believe those were not published just yet.  @cgladue can you make sure my most recent commits are published.

[2017-06-02 14:57] cgladue commented on #167
Yep, i have published all the commits up to now.

[2017-06-02 15:18] #146 closed

[2017-06-02 15:39] robgpeak commented on #93
Actually, I just looked more closely at the functionality, and I wanted to reopen it, but as a low priority.

If a user attempts to put in a phone number that is not a full 10 digits, and clicks update info, it responds with "Profile Has Been Updated" and reverts the phone number back to 555-555-5555.  I would suppose it should return a yellow error saying this phone number field must be 10 digits

[2017-06-02 15:41] robgpeak commented on #93
@ChrisASearles shit, just realized I reopened this, submitted another comment, but did not assign it to anyone, or change the status (It's still in Review).  What would be the standard protocol in this case?

[2017-06-02 15:45] #20 closed

[2017-06-02 15:45] ChrisASearles commented on #93
The issue you’re having actually isn’t related to this ticket at all so if the messages are fine please close this out and submit a new issue for the phone number problem.

From: robgpeak [mailto:notifications@github.com]
Sent: Friday, June 2, 2017 11:41 AM
To: ChrisASearles/CompLinks <CompLinks@noreply.github.com>
Cc: Chris Searles <searles.christopher@gmail.com>; Mention <mention@noreply.github.

[2017-06-02 15:50] #93 closed

[2017-06-02 15:52] robgpeak opened #170 "Force 10 digits for a phone number in Account/MyProfile"
If a user attempts to put in a phone number that is not a full 10 digits, and clicks update info, it responds with "Profile Has Been Updated" and reverts the phone number back to 555-555-5555. I would suppose it should return a yellow error saying this phone number field must be 10 digits. Similar to what happens when the email address is not entered in the proper format

On a side note, nice job

[2017-06-02 15:53] robgpeak opened #171 "Adding a checkbox to the phone field in Account/MyProfile"
If it's not too much trouble, can we add a check box, for "Home" or "Mobile" next to the field for the phone number? Would be nice to know for SMS purposes.

[2017-06-02 16:13] robgpeak opened #172 "Adding Physical Address fields to " Account Information" section in Account/MyProfile"
I would like to add the following fields under First and Last names fields

Address
City, State (in a dropdown) Zip

As for the layout of it, I would tighten it up a bit, meaning make a little less space between the rows of fields.   Maybe 1/2 the amount of space there is now.

[2017-06-02 16:18] robgpeak opened #173 "Adding a "Communication Preferences" section to Account/MyProfile"
Please have a look at the Communication Preferences section in the middle of the page https://app.moqups.com/robg/QSDVx2F07W/edit/page/af53607d3 and replicate it under the Account Information section on Account/MyProfile

Regarding the functionality of the opt-in / out of both newsletter and text messages, @ChrisASearles and I will discuss as it relates to #81

[2017-06-02 16:26] robgpeak commented on #167
@Dwells7583 I just did a clean (all cookies, browser history and cache) refresh...  Logged out, and logged back in, and I am still getting the same results.